<template>
  <div>
    <SearchHeader :carClasses="carClasses" :models="models"/>
    <Results/>
  </div>
</template>

<script>
import SearchHeader from '~/components/busqueda/SearchHeader'
import Results from '~/components/busqueda/Results'
export default {
  components: {
    SearchHeader,
    Results
  },
  computed: {
    carClasses() {
      return this.$store.getters['models/getCarClasses']
    },
    models() {
      return this.$store.getters['models/getAll']
    }
  },
  async asyncData({ app, store }) {
    let { data: versions } = await app.$axios.get('/versions')
    let { data: models } = await app.$axios.get('/models')
    store.commit('models/setModels', models)
    store.commit('versions/set_versions', versions)
  }
}
</script>


