<template>
  <div class="main-content">
    <div class="container mdp-veh-inquiry-container mdp-raq">
      <div class="mdp-veh-inquiry">
        <div class="grid-row">
          <div class="grid-col-medium-6">
            <div class="mdp-veh-inquiry__column">
              <h1 class="subpage-title">Contáctenos</h1>
            </div>
          </div>
          <div class="grid-col-medium-6"></div>
        </div>
        <div class="grid-row">
          <div class="grid-col-medium-6">
            <form
              class="mdp-veh-inquiry__form mdp-veh-inquiry__column"
              novalidate
              data-analytics-link-component-name="quote_form"
              data-analytics-link-type="form_start"
              data-analytics-link-description="start"
            >
              <fieldset
                class="mdp-veh-inquiry__pers-information form-section invalid"
                name="personal-information"
              >
                <h2>Envíanos tus inquietudes y nosotros te responderemos a la brevedad.</h2>
                <div class="input-row">
                  <label for="vi-first-name">Asunto</label>
                  <input
                    id="vi-first-name"
                    class="component-input-1 form-field"
                    name="first-name"
                    type="text"
                    placeholder="Asunto"
                    maxlength="15"
                  >
                  <div class="input-row__validation">Nombre no válido</div>
                  <div class="input-row__required">El nombre es obligatorio</div>
                </div>
                <div class="input-row">
                  <label for="vi-last-name">Nombre y Apellido</label>
                  <input
                    id="vi-last-name"
                    class="component-input-1 form-field"
                    name="last-name"
                    type="text"
                    placeholder="Nombre y Apellido"
                    maxlength="60"
                  >
                  <div class="input-row__validation">Apellido no válido</div>
                  <div class="input-row__required">El apellido es obligatorio</div>
                </div>
                <div class="input-row">
                  <label for="vi-email">Rut</label>
                  <input
                    id="vi-email"
                    class="component-input-1 form-field"
                    name="email"
                    type="email"
                    placeholder="Rut"
                    maxlength="50"
                  >
                  <div class="input-row__validation">Email no válido</div>
                  <div class="input-row__required">El email es obligatorio</div>
                </div>
                <div class="input-row">
                  <label for="vi-email">Celular</label>
                  <input
                    id="vi-email"
                    class="component-input-1 form-field"
                    name="email"
                    type="email"
                    placeholder="Celular"
                    maxlength="50"
                  >
                  <div class="input-row__validation">Email no válido</div>
                  <div class="input-row__required">El email es obligatorio</div>
                </div>
                <div class="input-row">
                  <label for="vi-email">Email</label>
                  <input
                    id="vi-email"
                    class="component-input-1 form-field"
                    name="email"
                    type="email"
                    placeholder="E-mail"
                    maxlength="50"
                  >
                  <div class="input-row__validation">Email no válido</div>
                  <div class="input-row__required">El email es obligatorio</div>
                </div>
                <div class="input-row">
                  <label for="vi-email">Confirmar Email</label>
                  <input
                    id="vi-email"
                    class="component-input-1 form-field"
                    name="email"
                    type="email"
                    placeholder="Confirmar E-mail"
                    maxlength="50"
                  >
                  <div class="input-row__validation">Email no válido</div>
                  <div class="input-row__required">El email es obligatorio</div>
                </div>
                <div class="input-row">
                  <label for="vi-email">Comuna</label>
                  <input
                    id="vi-email"
                    class="component-input-1 form-field"
                    name="email"
                    type="email"
                    placeholder="Comuna"
                    maxlength="50"
                  >
                  <div class="input-row__validation">Email no válido</div>
                  <div class="input-row__required">El email es obligatorio</div>
                </div>
                <div class="input-row">
                  <label for="vi-email">Comentario</label>
                  <input
                    id="vi-email"
                    class="component-input-1 form-field"
                    name="email"
                    type="email"
                    placeholder="Comentario"
                    maxlength="50"
                  >
                  <div class="input-row__validation">Email no válido</div>
                  <div class="input-row__required">El email es obligatorio</div>
                </div>
                <a
                  href="#"
                  class="cta-1 mdp-veh-inquiry__submit cta"
                  data-analytics-link-component-name="quote_form"
                  data-analytics-link-type="cta"
                  data-analytics-link-description="submit"
                >Enviar</a>
              </fieldset>
            </form>
          </div>
          <div class="grid-col-medium-6"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      bodyAttrs: {
        class: 'gray'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.main-content {
  position: relative;
}
.mdp-veh-inquiry-container {
  margin: 0 auto;
  padding: 25px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .mdp-veh-inquiry-container {
    margin-bottom: 90px;
    padding-bottom: 0;
    padding-top: 90px;
  }
}

@media screen and (min-width: 768px) {
  .mdp-veh-inquiry {
    position: relative;
  }
}
@media screen and (min-width: 960px) {
  .mdp-veh-inquiry {
    padding-left: 33.333333%;
  }
}

.mdp-veh-inquiry__column {
  margin: 0 auto;
  max-width: 370px;
  width: 100%;
}

.subpage-title {
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 0;
}
.subpage-title,
.subpage-title > h1,
.subpage-title > h2,
.subpage-title > h3,
.subpage-title > h4,
.subpage-title > h5,
.subpage-title > h6,
.subpage-title > p {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 29px;
}

.mdp-veh-inquiry .form-section > header,
.mdp-veh-inquiry .subpage-title,
.mdp-veh-inquiry h6 {
  text-align: center;
}
.mdp-veh-inquiry .subpage-title {
  margin-bottom: 8px;
}

/*form styles */
.mdp-veh-inquiry .form-section {
  padding-top: 30px;
}
.mdp-veh-inquiry h2 {
  font-size: 18px;
  color: #999;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 25px;
  text-transform: none;
  text-align: center;
}
.input-row {
  margin-bottom: 25px;
  position: relative;
}
.input-row label {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 8px;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.component-input-1 {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(213, 213, 213);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(213, 213, 213);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(213, 213, 213);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(213, 213, 213);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(16, 16, 16);
  cursor: text;
  display: inline-block;
  font-family: 'Mazda Type', helvetica, arial, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 45px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 370px;
  outline-color: rgb(16, 16, 16);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: border-color;
  transition-timing-function: ease;
  width: 370px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-border-image: none;
}
.mdp-veh-inquiry__pers-information input {
  width: 100%;
}

.input-row__custom-error,
.input-row__required,
.input-row__validation {
  display: none;
  text-align: left;
}

// send button
.cta-1 {
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, opacity 0.3s,
    transform 0.3s, visibility 0s;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-feature-settings: 'liga' 0, 'clig' 0;
  font-size: 1.3rem;
  border-radius: 3px;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  &:hover {
    background-color: #999;
    color: #fff;
  }
}
.cta-1,
.cta-2 {
  min-width: 170px;
}
.cta-1,
.cta-4,
.cta-6 {
  padding: 15px 18px;
}
.cta-1 {
  background-color: #101010;
  color: #fff;
  white-space: nowrap;
}
.mdp-veh-inquiry__submit {
  margin-top: 43px;
  width: 100%;
}
</style>
