<template>
  <div>
    <component :is="selectedComponent"></component>
  </div>
</template>

<script>
  

  export default {
    layout: 'model',
    components:{
      
      'cx3': () => import('@/components/featuresModels/cx-3'),
      'mx5': () => import('@/components/featuresModels/mx5'),
       'mazda3sedan': () => import('@/components/featuresModels/mazda3sedan'),
      'mx5rf': () => import('@/components/featuresModels/mx5rf'),
      'cx5': () => import('@/components/featuresModels/cx-5'),
      'mazda3hb2020': () => import('@/components/featuresModels/mazda3hb2020'),
      'mazda6': () => import('@/components/featuresModels/mazda6'),
      'cx9': () => import('@/components/featuresModels/cx9'),
      'm3bh2019': () => import('@/components/featuresModels/m3bh2019'),
      'm3sedan2019': () => import('@/components/featuresModels/m3sedan2019'),
     
    },
    data() {
      return {
        selectedComponent :'',
        como : ''
      }
    },
    mounted(){
      console.log(this.$route.params.model)
      switch (this.$route.params.model) {
        case 'new-mazda-cx-3':
          this.selectedComponent = 'cx3'
          break;
        case 'all-new-cx-5':
          this.selectedComponent = 'cx5'
        break;
        case 'mazda-mx-5':
          this.selectedComponent = 'mx5'
        break;
        case 'new-mazda3-sedan':
          this.selectedComponent = 'mazda3sedan'
        break;
        case 'mazda-mx-5-rf':
          this.selectedComponent = 'mx5rf'
        break;
        case 'cx-5':
          this.selectedComponent = 'cx5'
        break;
        case 'mazda3-hatchback':
          this.selectedComponent = 'mazda3hb2020'
        break;
        case 'new-mazda6':
          this.selectedComponent = 'mazda6'
        break;
        case 'all-new-mazda-cx-9':
          this.selectedComponent = 'cx9'
        break;
        case '2018-mazda3-hatchback':
          this.selectedComponent = 'm3bh2019'
        break;
        case 'new-mazda3-sport':
          this.selectedComponent = 'm3sedan2019'
        break;
        default:
          break;
      }
    },
    async asyncData({app,store, route}) {

      let {data: model} = await app.$axios.get(`models/slug/${route.params.model}`);
       store.commit('models/setCurrentModel',model)
    }
  }
</script>

<style scoped>

</style>