<template>
  <div>
    <section class="gallery-title-container">
      <div class="container">
        <h2>galería {{currenModel.name}} </h2>
      </div>
    </section>
    <section class="gallery-section">
      <div class="container">
        <gallery :images="images"></gallery>
      </div>
    </section>
    <section class="model-versions-section">
      <h2>Versiones y Características</h2>
      <template v-if="mechanicVersions.length && automaticVersions.length">
        <tabs-header class="versions-tabs-header" :tabs="tabs"></tabs-header>
        <tabs-content :tabs="tabs">
          <template slot="mechanicVersions">
            <version-cards-section v-if="mechanicVersions.length" :versions="mechanicVersions" transmission="mechanic"></version-cards-section>
          </template>
          <template slot="automaticVersions">
            <version-cards-section v-if="automaticVersions.length" :versions="automaticVersions" transmission="automatic"></version-cards-section>
          </template>
        </tabs-content>
      </template>
      <template v-else>
        <version-cards-section v-if="mechanicVersions.length" :versions="mechanicVersions" transmission="mechanic"></version-cards-section>
        <version-cards-section v-if="automaticVersions.length" :versions="automaticVersions" transmission="automatic"></version-cards-section>
      </template>
    </section>
  </div>
</template>

<script>
  import Gallery from '@/components/Gallery'
  import TabsHeader from '@/components/TabsHeader'
  import TabsContent from '@/components/TabsContent'
  import VersionCardsSection from '@/components/VersionCardsSection'
  export default {
    layout: 'model',
    components: {
      Gallery,
      TabsHeader,
      TabsContent,
      VersionCardsSection
    },
    data(){
      return {
        currenModel:[],
        tabs: [
          {slug: 'mechanicVersions', name: 'Mecánico'},
          {slug: 'automaticVersions', name: 'Automático'}
        ],
        mechanicVersions: [],
        automaticVersions: []
      }
    },
    async asyncData({ app,store, route }) {
      let { data: model } = await app.$axios.get(`models/slug/${route.params.model}`);
       store.commit('models/setCurrentModel',model)
      return { imagesArray: model.gallery, versions: model.versions,currenModel :model }
      
    },
    methods:{
       randomImages(){
        this.imagesArray.sort(function() {return Math.random() - 0.5});
      }
    },
    computed: {
     
      images(){
        return this.imagesArray.map(image => {
          return {
            title: 'Prueba',
            url: image
          }
        });
      }
    },
    mounted() {
      this.randomImages()
      if(this.versions){
        this.versions.forEach((version) => {
          version.specs.categories.forEach((category) => {
            category.categorySpecs.forEach((categorySpec) => {
              if (categorySpec.specName === 'Tipo de Transmisión') {
                if (categorySpec.value == 'Automático' || categorySpec.value == 'Automática' || categorySpec.value == 'AT' || categorySpec.value == '6AT') {
                  this.automaticVersions.push(version)
                } else {
                  this.mechanicVersions.push(version)
                }
              }
            })
          })
        })
      }
    },
  }
</script>

<style scoped lang="scss">
  .gallery-section{
    overflow: hidden;
  }

  .gallery-title-container{
    padding: 80px 0 70px;
    h2{
      color: #000000;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 3.8px;
      font-family: 'MazdaTypeTT-Bold';
      text-align: center;
    }
  }

  .model-versions-section{
    padding: 61px 0 64px;

    h2{
      color: #000000;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 1.8px;
      font-family: 'MazdaTypeTT-Bold';
      text-align: center;
    }
  }

  .versions-tabs-header{
    padding-bottom: 28px;
  }
</style>