<template>
  <div v-if="!isEmptyObject(model)">
    <main-banner
     
      class="desktop-only"
      :image-src="model.bannerImage.desktop"
      :pre-title="model.title"
      :title="currentModel.name"
      button-text="Agenda tu test drive"
      scroll-button-target="#modelVersionsSection">
    </main-banner>
    <main-banner 
        
        class="mobile-only"
        :image-src="model.bannerImage.mobile"
        pre-title="Crea tu escapada"
        :title="model.name"
        button-text="Agenda tu test drive"
        scroll-button-target="#modelVersionsSection">
    </main-banner>
    
    <section class="model-versions-section" id="modelVersionsSection">
      <h2>Versiones y Características </h2>
      <template v-if="mechanicVersions.length && automaticVersions.length">
        <tabs-header id="subheader" class="versions-tabs-header" :tabs="tabs"></tabs-header>
        <tabs-content :tabs="tabs">
          <template slot="mechanicVersions">
            <version-cards-section v-if="mechanicVersions.length" :versions="mechanicVersions" transmission="mechanic"></version-cards-section>
          </template>
          <template slot="automaticVersions">
            <version-cards-section v-if="automaticVersions.length" :versions="automaticVersions" transmission="automatic"></version-cards-section>
          </template>
        </tabs-content>
      </template>
      <template v-else>
        <version-cards-section v-if="mechanicVersions.length" :versions="mechanicVersions" transmission="mechanic"></version-cards-section>
        <version-cards-section v-if="automaticVersions.length" :versions="automaticVersions" transmission="automatic"></version-cards-section>
      </template>
    </section>

    <text-section title="La Carretera te espera" text="Los recuerdos se crean en cada curva del camino. Y el motor confiable SKYACTIV®-G de 2.0 litros del Mazda CX-3 2019 te deleita en cada una. Y para que tengas confianza incondicional."></text-section>
    <three-blurbs-full-width :elements="blurbsElements" :call-to-action="{show: false}"></three-blurbs-full-width>
    <select-color v-if="versionColors.length" :version-colors="versionColors"></select-color>
    <four-blurbs-section :elements="nextSteps"></four-blurbs-section>
  </div>
</template>

<script>
  import MainBanner from '@/components/MainBanner';
  import TextSection from "@/components/TextSection";
  import ThreeBlurbsFullWidth from "@/components/ThreeBlurbsFullWidth";
  import SelectColor from "@/components/SelectAColor";
  import FourBlurbsSection from "@/components/FourBlurbsSection";
  import TabsHeader from "@/components/TabsHeader";
  import TabsContent from "@/components/TabsContent";
  import VersionCardsSection from "@/components/VersionCardsSection";
const VueScrollTo = require('vue-scrollto')
  export default {
    layout: 'model',
    components: {
      FourBlurbsSection,
      ThreeBlurbsFullWidth,
      TextSection,
      MainBanner,
      SelectColor,
      TabsHeader,
      TabsContent,
      VersionCardsSection
    },
    data(){
      return {
        tabs: [
          {slug: 'mechanicVersions', name: 'Mecánico'},
          {slug: 'automaticVersions', name: 'Automático'}
        ],
        mechanicVersions: [],
        automaticVersions: [],
        blurbsElements:[
          {
            imageSrc: 'https://mazda-website-solution.s1.umbraco.io/media/6408/image_and_text_grid_1.jpg',
            title: 'KODO: ALMA DEL MOVIMIENTO',
            text: 'Como cada vehículo de nuestra línea, el Mazda CX-3 2019...',
            buttonText: 'Leer más',
            url: '#'
          },
          {
            imageSrc: 'https://mazda-website-solution.s1.umbraco.io/media/6409/image_and_text_grid_2.jpg',
            title: 'CONTROL TOTAL',
            text: 'La vida consiste en elegir tu propio camino...',
            buttonText: 'Leer más',
            url: '#'
          },
          {
            imageSrc: 'https://mazda-website-solution.s1.umbraco.io/media/6410/image_and_text_grid_3.jpg',
            title: 'PANTALLA DE MANEJO ACTIVA',
            text: 'La Pantalla de manejo activa muestra...',
            buttonText: 'Leer más',
            url: '#'
          }
        ],
        nextSteps: [
          {
            imageSrc: 'https://www.mazdausa.com/siteassets/images/home/finddealer-homepage-icon.png',
            title: 'Concesionario',
            text: 'Encuentra tu concesionario Mazda y ponte en contacto hoy',
            buttonText: 'Encuentra el tuyo',
            url: '#'
          },
          {
            imageSrc: 'https://www.mazdausa.com/siteassets/images/home/build-icon-homepage.png',
            title: 'Financiamiento',
            text: 'Revisa como financiar tu nuevo Mazda',
            buttonText: 'Ve las opciones',
            url: '#'
          },
          {
            imageSrc: 'https://www.mazdausa.com/siteassets/images/home/reserve-a-test-drive-icon.png',
            title: 'Alertas de seguridad',
            text: 'Tu auto puede estar afectado, revisa las alertas de seguridad',
            buttonText: 'Revisa las alertas',
            url: '#'
          }
        ],
        versionColors: []
      }
    },
    async asyncData({ app, route,store,error }) {
      let { data: model } = await app.$axios.get(`models/slug/${route.params.model}`);

      store.commit('models/setCurrentModel',model)
     if(model.id){
        return { model, versions: model.versions }
     }else
     {
         error({
           statusCode: 404,
          message: "Not found"
         })
     }
     
    },
    async created(){
      this.$axios({
        method: 'get',
        url: `/360/${this.$route.params.model}.json`,
        baseURL: '/'
      })
        .then(res => this.versionColors = res.data)
        .catch(e => this.versionColors = [])
    },
    methods: {
      isEmptyObject: obj => {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) return false
      }
      return true
    }
    },
    mounted() {
      if(this.versions){
        this.versions.forEach((version) => {
          version.specs.categories.forEach((category) => {
            category.categorySpecs.forEach((categorySpec) => {
              if (categorySpec.specName === 'Tipo de Transmisión') {
                if (categorySpec.value == 'Automático' || categorySpec.value == 'Automática' || categorySpec.value == 'AT' || categorySpec.value == '6AT') {
                  this.automaticVersions.push(version)
                } else {
                  this.mechanicVersions.push(version)
                }
              }
            })
          })
        })
      }

      let hash = this.$route.hash
    const element = document.getElementById(hash.replace('#', ''))
    const duration = 500
    const options = {
      easing: 'ease',
      offset: -120
    }
    // or alternatively inside your components you can use
    let cancelScroll = this.$scrollTo(element, duration, options)
    

    },
    computed: {
      currentModel(){
       return this.$store.getters['models/getCurrentModel']
     }
    },
  }
</script>

<style scoped lang="scss">
  .model-versions-section{
    padding: 61px 0 64px;

    h2{
      color: #000000;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 1.8px;
      font-family: 'MazdaTypeTT-Bold';
      text-align: center;
    }
  }

  .versions-tabs-header{
    padding-bottom: 28px;
  }
</style>