<template>
  <div v-if="versions != []">
    <section class="versions-carousel-section">
      <h2>Versiones y Características</h2>
      <template v-if="mechanicVersions.length && automaticVersions.length">
        <tabs-header class="versions-tabs-header" :tabs="tabs"></tabs-header>
        <tabs-content :tabs="tabs">
          <template slot="mechanicVersions">
            <versions-carousel v-if="mechanicVersions.length" :versions="mechanicVersions"></versions-carousel>
          </template>
          <template slot="automaticVersions">
            <versions-carousel v-if="automaticVersions.length" :versions="automaticVersions"></versions-carousel>
          </template>
        </tabs-content>
      </template>
      <template v-else>
        <versions-carousel v-if="mechanicVersions.length" :versions="mechanicVersions"></versions-carousel>
        <versions-carousel v-if="automaticVersions.length" :versions="automaticVersions"></versions-carousel>
      </template>
    </section>
    <section>
      <div class="container">
      </div>

    </section>
    <call-to-action-section title="Ficha técnica"
                            :text="`Conoce todas las características y detalles del  ${this.curentModel.name}`"
                            button-text="DESCARGAR ficha técnica" :button-url="this.curentModel.specsSheetUrl"
                            target="_blank"></call-to-action-section>
    <four-blurbs-section :elements="nextSteps"></four-blurbs-section>
  </div>
</template>

<script>
  import TabsHeader from '@/components/TabsHeader'
  import TabsContent from '@/components/TabsContent'
  import CallToActionSection from '@/components/CallToActionSection'
  import FourBlurbsSection from "@/components/FourBlurbsSection";
  import VersionsCarousel from "@/components/VersionsCarousel";

  export default {
    layout: 'model',
    components: {
      FourBlurbsSection,
      CallToActionSection,
      TabsHeader,
      TabsContent,
      VersionsCarousel
    },
    data() {
      return {
        versions: [],
        tabs: [
          {slug: 'mechanicVersions', name: 'Mecánico'},
          {slug: 'automaticVersions', name: 'Automático'}
        ],
        mechanicVersions: [],
        automaticVersions: [],
        nextSteps: [
          {
            imageSrc: 'https://www.mazdausa.com/siteassets/images/home/finddealer-homepage-icon.png',
            title: 'Concesionario',
            text: 'Encuentra tu concesionario Mazda y ponte en contacto hoy',
            buttonText: 'Encuentra el tuyo',
            url: '#'
          },
          {
            imageSrc: 'https://www.mazdausa.com/siteassets/images/home/build-icon-homepage.png',
            title: 'Financiamiento',
            text: 'Revisa como financiar tu nuevo Mazda',
            buttonText: 'Ve las opciones',
            url: '#'
          },
          {
            imageSrc: 'https://www.mazdausa.com/siteassets/images/home/reserve-a-test-drive-icon.png',
            title: 'Alertas de seguridad',
            text: 'Tu auto puede estar afectado, revisa las alertas de seguridad',
            buttonText: 'Revisa las alertas',
            url: '#'
          }
        ],
        curentModel: []
      }
    },
    mounted() {
      if (this.versions) {
        this.versions.forEach((version) => {
          version.specs.categories.forEach((category) => {
            category.categorySpecs.forEach((categorySpec) => {
              if (categorySpec.specName === 'Tipo de Transmisión') {
                if (categorySpec.value == 'Automático' || categorySpec.value == 'Automática' || categorySpec.value == 'AT' || categorySpec.value == '6AT') {
                  this.automaticVersions.push(version)
                } else {
                  this.mechanicVersions.push(version)
                }
              }
            })
          })
        })
      }
    },
    computed: {
      getMecanico() {
        return this.mechanicVersions
      }

    },
    async asyncData({app,store, route}) {

      let {data: model} = await app.$axios.get(`models/slug/${route.params.model}`);
       store.commit('models/setCurrentModel',model)
      return {model, versions: model.versions, curentModel: model}


    }
  }
</script>

<style scoped lang="scss">
  .versions-carousel-section {
    padding: 33px 0 28px;

    h2 {
      color: #000000;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 1.8px;
      font-family: 'MazdaTypeTT-Bold';
      text-align: center;
    }
  }
</style>