<template>
  <div class="main-content">
    <div class="container mdp-veh-inquiry-container mdp-raq">
      <div class="mdp-veh-inquiry">
        <div class="grid-row">
          <div class="grid-col-medium-6">
            <div class="mdp-veh-inquiry__column">
              <h1 class="subpage-title">Mi cotización</h1>
            </div>
          </div>
          <div class="grid-col-medium-6"></div>
        </div>
        <div class="grid-row">
          <div class="grid-col-medium-6">
            <form
              class="mdp-veh-inquiry__form mdp-veh-inquiry__column"
              novalidate
              data-analytics-link-component-name="quote_form"
              data-analytics-link-type="form_start"
              data-analytics-link-description="start"
            >
              <fieldset
                class="mdp-veh-inquiry__pers-information form-section invalid"
                name="personal-information"
              >
                <h2>Estás cotizando en Dercocenter</h2>

                <div class="input-row">
                  <label for="vi-last-name">Apellido</label>
                  <input
                    id="vi-last-name"
                    class="component-input-1 form-field"
                    type="text"
                    placeholder="Apellido"
                    maxlength="60"
                    v-model="last_name"
                    @blur="isValidInput('last_name')"
                    @keypress="onlyAlphaMask($event)"
                  />
                  <div
                    v-show="errors.includes('last_name')"
                    class="input-row__required"
                  >El apellido es obligatorio</div>
                </div>
                <div class="input-row">
                  <label for="vi-first-name">Nombre</label>
                  <input
                    id="vi-first-name"
                    class="component-input-1 form-field"
                    type="text"
                    placeholder="Nombre"
                    maxlength="15"
                    v-model="first_name"
                    @blur="isValidInput('first_name')"
                    @keypress="onlyAlphaMask($event)"
                  />
                  <div
                    v-show="errors.includes('first_name')"
                    class="input-row__required"
                  >El nombre es obligatorio</div>
                </div>
                <div class="input-row">
                  <label for="vi-email">Rut</label>
                  <input
                    id="rut"
                    class="component-input-1 form-field"
                    type="text"
                    minlength="6"
                    maxlength="10"
                    placeholder="Rut"
                    v-model="rut"
                    @blur="isValidInput('rut')"
                  />
                  <div v-show="errors.includes('rut')" class="input-row__validation">rut no válido</div>
                </div>
                <div class="input-row">
                  <label for="vi-phone">Celular</label>
                  <input
                    id="vi-phone"
                    class="component-input-1 form-field"
                    type="text"
                    placeholder="phone"
                    minlength="9"
                    maxlength="9"
                    v-model="phone"
                    @blur="isValidInput('phone')"
                    @keypress="onlyNumbersMask($event)"
                  />
                  <div
                    v-show="errors.includes('phone')"
                    class="input-row__validation"
                  >Celular no válido</div>
                </div>
                <div class="input-row">
                  <label for="vi-email">Email</label>
                  <input
                    id="vi-email"
                    class="component-input-1 form-field"
                    type="email"
                    placeholder="E-mail"
                    maxlength="50"
                    v-model="email"
                    @blur="isValidInput('email')"
                  />
                  <div
                    v-show="errors.includes('email')"
                    class="input-row__validation"
                  >Email no válido</div>
                </div>
                <div class="input-row">
                  <label for="vi-subsidiary">Concesionario</label>
                  <select
                    class="ignore-material"
                    id="subsidiary"
                    style="display: block!important;margin-top: 35px;"
                    v-model="subsidiary"
                    @blur="isValidInput('subsidiary')"
                    @change="isValidInput('subsidiary')"
                  >
                    <option
                      value
                      disabled
                      selected
                    >Seleccione Concesionario en que desea ser atendido</option>
                    <optgroup v-for="zone in subsidiariesZones" :label="zone.name">
                      <option
                        v-for="subsidiary in zone.subsidiaries"
                        :value="subsidiary.code"
                      >{{ subsidiary.name }}</option>
                    </optgroup>
                  </select>

                  <div
                    v-show="errors.includes('subsidiary')"
                    class="input-row__required"
                  >El Concesionario es obligatorio</div>
                </div>

                <a
                  @click.prevent="sendQuotation"
                  class="cta-1 mdp-veh-inquiry__submit cta"
                  data-analytics-link-component-name="quote_form"
                  data-analytics-link-type="cta"
                  data-analytics-link-description="submit"
                >Enviar</a>
              </fieldset>
            </form>
          </div>
          <div v-if="version" class="grid-col-medium-6">
            <VersionCardSimple :version="version" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import VersionCardSimple from '~/components/VersionCardSimple'
import validateForms from '~/mixins/validateForms'
export default {
  mixins: [validateForms],
  components: {
    VersionCardSimple
  },
  head() {
    return {
      script: [
        {
          src: 'assets/lib/md5.js'
        }
      ],
      bodyAttrs: {
        class: 'gray'
      }
    }
  },
  data() {
    return {
      captchaSiteKey: '',
      token: null,
      last_name: '',
      first_name: '',
      rut: '',
      phone: '',
      email: '',
      subsidiary: '',
      errors: []
    }
  },
  computed: {
    ...mapGetters({ version: 'versions/getVersion' }),
    subsidiariesZones() {
      return this.$store.state.subsidiaries.zones
    },
    subsidiaryObject() {
      return this.$store.getters['subsidiaries/getSubsidiaryByCode'](
        this.subsidiary
      )
    }
  },
  async mounted() {
    await this.$recaptcha.init()
    this.getLocalStorageFormData()
    this.maskRut('#rut')
    let id = this.$route.query.id
    this.$store.dispatch('versions/fetchVersionbyId', id)
    let { data } = await this.$axios.get('subsidiaries')
    this.$store.dispatch('subsidiaries/setZones', data.regions)
  },
  methods: {
    async checkGrecaptcha() {
      try {
        const token = await this.$recaptcha.execute('login')
        console.log('ReCaptcha token:', token)
        // request to grecaptcha validate and wait for response
        let captchaResponse = await this.$store.dispatch(
          'quotations/veryfyGrecaptcha',
          {
            token
          }
        )
        // stop if grecaptcha fails
        if (!captchaResponse.data.success) {
          console.log('fail grecaptcha validation')
          console.log(captchaResponse.data)
          return
        }
      } catch (error) {
        console.log('Login error:', error)
      }
    },
    getLocalStorageFormData() {
      if (localStorage.getItem('quotation-form-data')) {
        let userData = JSON.parse(localStorage.getItem('quotation-form-data'))
        this.last_name = userData.last_name
        this.first_name = userData.first_name
        this.email = userData.email
        this.rut = userData.rut
        this.phone = userData.phone
        this.subsidiary = userData.subsidiary
      }
    },
    saveInLocalStorage() {
      let userFormData = {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        rut: this.rut,
        phone: this.phone,
        subsidiary: this.subsidiary
      }
      localStorage.setItem('quotation-form-data', JSON.stringify(userFormData))
    },
    sendQuotation() {
      // set or update form data in local Storage
      this.saveInLocalStorage()

      if (!this.validateInputForms()) {
        console.log('fail validate form')
        console.log(this.errors)
        return
      }
      //check grecaptcha
      this.checkGrecaptcha()
      // finally send quotation

      let data = {
        uuid: md5(this.version.id + new Date()),
        id_remote: Math.floor(Math.random() * 100000000),
        rut: this.rut,
        name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        phone: this.phone,
        commune: this.subsidiaryObject.commune.name,
        province: this.subsidiaryObject.commune.name,
        origin: process.env.baseUrl,
        utm_source_url: process.env.baseUrl + this.$route.fullPath,
        subsidiary_code: this.subsidiaryObject.code,
        subsidiary_name: this.subsidiaryObject.name,
        subsidiary_address: this.subsidiaryObject.address,
        subsidiary_email: 'foo@test.cl',
        region_id: 1, //this.subsidiaryObject.region_id,
        subsidiary_schedule:
          '[{"days":"1,2,3,4,5","name":"Lunes a Viernes","start_hour":"09:00:00","end_hour":"20:00:00"},{"days":"6","name":"Sabado","start_hour":"10:00:00","end_hour":"14:00:00"},{"days":"7","name":"Domingo","start_hour":"","end_hour":""}]',
        legal_text: 'None',
        session_id: '123456789',
        brand_name: this.version.model.brandName,
        brand_link: process.env.baseUrl,
        car_link: `${process.env.baseUrl}/auto/${this.version.model.slug}`,
        car_picture: this.version.image.url,
        model_name: this.version.model.name,
        version_name: this.version.name,
        version_code: this.version.code,
        price_list: this.version.prices.find(p => p.type === 'precio-lista')
          .value,
        price_amicar: this.version.prices.find(
          p => p.type === 'con-bono-amicar'
        ).value,
        price_brand: this.version.prices.find(p => p.type === 'con-bono-marca')
          .value,
        price_min: this.version.minPrice,
        campaign_id: this.version.isSpecialSale ? '019' : '017',
        campaign_desc: 'No'
      }
      this.$store
        .dispatch('quotations/save', data)
        .then(res => {
          //redirect to gracias with quotations array
          console.log(res)
        })
        .catch(e => console.log(e))
    }
  }
}
</script>

<style lang="scss" scoped>
select {
  height: inherit;
}
.main-content {
  position: relative;
}
.mdp-veh-inquiry-container {
  margin: 0 auto;
  padding: 25px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .mdp-veh-inquiry-container {
    margin-bottom: 90px;
    padding-bottom: 0;
    padding-top: 90px;
  }
}

@media screen and (min-width: 768px) {
  .mdp-veh-inquiry {
    position: relative;
  }
}

.mdp-veh-inquiry__column {
  margin: 0 auto;
  max-width: 370px;
  width: 100%;
}

.subpage-title {
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 0;
}
.subpage-title,
.subpage-title > h1,
.subpage-title > h2,
.subpage-title > h3,
.subpage-title > h4,
.subpage-title > h5,
.subpage-title > h6,
.subpage-title > p {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 29px;
}

.mdp-veh-inquiry .form-section > header,
.mdp-veh-inquiry .subpage-title,
.mdp-veh-inquiry h6 {
  text-align: center;
}
.mdp-veh-inquiry .subpage-title {
  margin-bottom: 8px;
}

/*form styles */
.mdp-veh-inquiry .form-section {
  padding-top: 30px;
}
.mdp-veh-inquiry h2 {
  font-size: 18px;
  color: #999;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 25px;
  text-transform: none;
  text-align: center;
}
.input-row {
  margin-bottom: 25px;
  position: relative;
}
.input-row label {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 8px;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.component-input-1 {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(213, 213, 213);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(213, 213, 213);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(213, 213, 213);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(213, 213, 213);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(16, 16, 16);
  cursor: text;
  display: inline-block;
  font-family: 'Mazda Type', helvetica, arial, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 45px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 370px;
  outline-color: rgb(16, 16, 16);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: border-color;
  transition-timing-function: ease;
  width: 370px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-border-image: none;
}
.mdp-veh-inquiry__pers-information input {
  width: 100%;
}

.input-row__custom-error,
.input-row__required,
.input-row__validation {
  color: red;
  text-align: left;
}

// send button
.cta-1 {
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, opacity 0.3s,
    transform 0.3s, visibility 0s;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-feature-settings: 'liga' 0, 'clig' 0;
  font-size: 1.3rem;
  border-radius: 3px;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  &:hover {
    background-color: #999;
    color: #fff;
  }
}
.cta-1,
.cta-2 {
  min-width: 170px;
}
.cta-1,
.cta-4,
.cta-6 {
  padding: 15px 18px;
}
.cta-1 {
  background-color: #101010;
  color: #fff;
  white-space: nowrap;
}
.mdp-veh-inquiry__submit {
  margin-top: 43px;
  width: 100%;
}
</style>
