<template>
  <div class="search-content">
    <div class="header">
      <h2 class="title">Resultados: 8 de 20</h2>
    </div>
    <div class="container results">
      <div
          class="version-card"
          v-if="versionIndex < filteredVersions.length"
          v-for="(version, versionIndex) in versionsToShow"
          :key="versionIndex"
      >
        <VersionCard :version-index="versionIndex" :version="filteredVersions[versionIndex]"/>
      </div>

      <div v-if="filteredVersions.length > versionsToShow" class="cargar-mas">
        <a @click.prevent="versionsToShow += 8" data-v-4e493f3b href="#" class="cta-2 cta">
          <div data-v-4e493f3b class="cta--wrapper">
            <span data-v-4e493f3b class="cta-state-0">
              cargar más
              <span data-v-4e493f3b class="cta-state-1">cargar más</span>
              <span data-v-4e493f3b class="cta-state-2">cargar más</span>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import VersionCard from '~/components/VersionCard'
export default {
  components: {
    VersionCard
  },
  data() {
    return {
      versionsToShow: 8
    }
  },
  computed: {
    filteredVersions() {
      let versions = this.$store.getters['versions/getAll']
      let order = this.$route.query.order
      let models = this.$route.query.modelo
        ? this.$route.query.modelo.replace(' ', '+')
        : null
      let type = this.$route.params ? this.$route.params.slug : null
      // always make sorter price first that any other filter
      if (order) {
        versions = this.$store.getters['versions/sorterByPrice'](order)
      }
      if (models) {
        versions = this.$store.getters['versions/filterByModels'](
          models,
          versions
        )
      }
      if (type) {
        versions = this.$store.getters['versions/filterByType'](type, versions)
      }
      return versions
    }
  }
}
</script>

<style lang="scss" scoped>
.results {
  margin-bottom: 3em;
}
.header {
  margin: 3em 0;
  .title {
    text-align: center;
    color: #000000;
    font-size: 18px;
    letter-spacing: 2.25px;
    line-height: 21px;
    font-family: 'MazdaTypeTT-Bold';
    margin-bottom: 20px;
  }
}
.version-card {
  width: 25%;
  display: inline-block;
}
@media all and (max-width: 992px) {
  .version-card {
    width: 95%;
  }
}

.cargar-mas {
  margin: 4em 0;
  text-align: center;
  .cta-2 {
    width: 30%;
  }
}
</style>
