<template>
  <div class="mazda-subsidiaries-header">
    <div class="container">
      <div class="grid-row">
        <div class="grid-col-medium">
          <div class="page-title-container">
            <h2>Encuentra tu mazda</h2>
            <p>Filtra para encontrar tu mazda</p>
          </div>
        </div>
      </div>

      <div class="filters-container">
        <div class="filters-row grid-row">
          <div class="grid-col-medium-4">
            <h4>tipo de auto</h4>
            <select
              @change="filterModelsByType(typeSelected)"
              v-model="typeSelected"
              name="zone"
              id="zone"
            >
              <option v-for="(carClass, i) in carClasses" :key="i" :value="carClass">{{ carClass }}</option>
            </select>
          </div>
          <div class="grid-col-medium-4">
            <h4>modelo</h4>
            <select v-model="modelSelected" class="subsidiaryFilter filterPlace">
              <option
                v-for="model in filteredModels"
                :key="model.id"
                :value="model.slug"
              >{{ model.name }}</option>
            </select>
          </div>
          <div class="grid-col-medium-4">
            <h4>ordenar por precio</h4>
            <select
              v-model="sorterPrice"
              class="subsidiaryFilter filterType initialized"
              name="filter[type]"
              data-filter="type"
            >
              <option value="asc">menor a mayor</option>
              <option value="desc">mayor a menor</option>
            </select>
          </div>
        </div>

        <div class="grid-row">
          <div class="grid-col-medium-4">
            <a href="#" class="cta-2 cta" @click.prevent="filter">
              <div class="cta--wrapper">
                <span class="cta-state-0">
                  Filtrar
                  <span class="cta-state-1">Filtrar</span>
                  <span class="cta-state-2">Filtrar</span>
                </span>
              </div>
            </a>
          </div>
          <div v-show="displayClearFiltersBtn" class="grid-col-medium-4">
            <a href="#" class="cta-2 cta" @click.prevent="clearFilters">
              <div class="cta--wrapper">
                <span class="cta-state-0">
                  Quitar Filtros
                  <span class="cta-state-1">Quitar Filtros</span>
                  <span class="cta-state-2">Quitar Filtros</span>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sorterPrice: 'asc',
      modelSelected: '',
      typeSelected: '',
      filteredModels: []
    }
  },
  props: {
    models: { type: Array, required: true },
    carClasses: { type: Array, required: true }
  },
  computed: {
    displayClearFiltersBtn() {
      return this.modelSelected || this.typeSelected || this.$route.query.order
    }
  },
  methods: {
    filterModelsByType(type) {
      this.filteredModels = this.$store.getters['models/getModelsByType'](type)
    },
    filter() {
      let vm = this
      this.$router.push({
        name: vm.typeSelected ? 'busqueda-tipo-slug' : 'busqueda',
        params: { slug: vm.typeSelected },
        query: {
          ...(vm.modelSelected && {
            modelo: vm.modelSelected
          }),
          order: vm.sorterPrice
        }
      })
    },
    clearFilters() {
      this.sorterPrice = 'asc'
      this.modelSelected = ''
      this.typeSelected = ''
      this.$router.push({ name: 'busqueda' })
    }
  },
  created() {
    this.filteredModels = this.models
    this.typeSelected = this.$route.params.slug ? this.$route.params.slug : ''
    this.modelSelected = this.$route.query.modelo
      ? this.$route.query.modelo
      : ''
    this.sorterPrice = this.$route.query.order ? this.$route.query.order : 'asc'
  },
  mounted() {
    if (this.typeSelected) {
      this.filterModelsByType(this.typeSelected)
    }
  }
}
</script>

<style lang="scss" scoped>
.mazda-subsidiaries-header {
  padding-top: 36px;
  padding-bottom: 31px;
  background: #f5f5f5;

  select {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.9px;
    padding-left: 10px;
    font-family: 'MazdaTypeTT-Regular';
  }

  .container {
    max-width: 1065px;
  }

  .grid-row {
    margin-left: -15px;
    margin-right: -15px;
  }

  [class^='grid-col-'] {
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-title-container {
    text-align: center;

    h2 {
      color: #000000;
      font-size: 18px;
      letter-spacing: 2.25px;
      line-height: 21px;
      font-family: 'MazdaTypeTT-Bold';
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      letter-spacing: 1.2px;
      line-height: 24px;
      color: #343434;
      font-family: 'MazdaTypeTT-Medium';
      margin-bottom: 30px;
    }
  }

  .filters-container {
    h4 {
      color: #000000;
      font-size: 14px;
      letter-spacing: 2.9px;
      line-height: 16px;
      margin-bottom: 11px;
      padding-left: 5px;
      font-family: 'MazdaTypeTT-Regular';
    }

    .cta-2.cta {
      width: 100%;
    }

    select {
      height: auto;
    }

    .filters-row {
      margin-bottom: 40px;
    }
  }
}
</style>
