/*..........................................
................ C T A .....................
..........................................*/

.cta {
  display: inline-block;
  line-height: normal;
  border-radius: 3px;
  min-width: 170px;
  text-align: center;
  white-space: nowrap;
  font-size:  13px;
  font-size:  1.3rem;
  text-transform: uppercase;
  /*letter-spacing: .05em;*/
  letter-spacing:.2em;
  /*font-family: "InterstateBold", helvetica, arial, sans-serif;*/
  font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
}
.cta--wrapper {
  padding: 15px 18px;
}

@media screen and (max-width: 767px) {
  .cta {
    /*width: 50%;*/
    /*margin-bottom: 15px;*/
    letter-spacing:.2em;
  }
  .cta:focus, .cta-2:active{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.cta-1 {
  opacity: 0;
}

.cta-1.cta {
  opacity: 1;
}

.cta-2 {
  opacity: 0;
}

.cta-2.cta {
  opacity: 1;
}

.cta-3 {
  opacity: 0;
}

.cta-3.cta {
  opacity: 1;
  margin: 0 auto !important;
}

.cta-3-inv {
  opacity: 0;
}

.cta-3-inv.cta {
  opacity: 1;
}

.cta-4 {
  opacity: 0;
}


.cta-4.cta {
  opacity: 1;
  margin: 0 auto !important;
}

.cta-4-inv {
  opacity: 0;
}

.cta-4-inv.cta {
  opacity: 1;
}

.cta-5 {
  opacity: 0;
}

.cta-5.cta {
  opacity: 1;
}

.cta-6 {
  opacity: 0;
}

.cta-6.cta {
  opacity: 1;
}

/*..........................................
............... C T A  1 ...................
..........................................*/

.cta-1 {
  background-color: #101010;
  color: #ffffff;
}

.cta-1 .cta-state-0 {
  position: relative;
  z-index: 1;
  color: transparent;
  white-space: nowrap;
}

.cta-1 .cta-state-1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  opacity: 1;
  white-space: nowrap;
}

.cta-1 .cta-state-2 {
  position: absolute;
  left: 0;
  color: transparent;
  top: -15px;
  opacity: 0;
  white-space: nowrap;
}
.cta-1:hover {
  background-color: #91172E;
}
.cta-1:hover .cta-state-2 {
  color: #ffffff;
}
@media only screen and (min-width: 1025px) {

  .cta-1:hover .cta-state-1 {
    top: 15px;
    opacity: 0;
  }

  .cta-1:hover .cta-state-2 {
    top: 0;
    color: #ffffff;
    opacity: 1;
  }
}

/*..........................................
............... C T A  2 ...................
..........................................*/

.cta-2 {
  background-color: transparent;
  color: #000000;
}

.cta-2 .cta--wrapper {
  padding: 13px 16px;
  border: 2px solid #000000;
  border-radius: 3px;
}

@media only screen and (min-width: 1025px) {
  .cta-2 .cta--wrapper:hover {
    border: 2px solid transparent;
  }
}

.cta-2 .cta-state-0 {
  position: relative;
  z-index: 1;
  color: transparent;
}

.cta-2 .cta-state-1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  opacity: 1;
}

.cta-2 .cta-state-2 {
  position: absolute;
  left: 0;
  color: transparent;
  top: -15px;
  opacity: 0;
}
.cta-2:hover, .cta-2:active {
  background-color: #91172E;
}
.cta-2:hover .cta--wrapper, .cta-2:active .cta--wrapper {
  border: 2px solid #91172E;
}
.cta-2:hover .cta-state-2, .cta-2:active .cta-state-1 {
  color: #ffffff;
}
@media only screen and (min-width: 1025px) {

  .cta-2:hover .cta-state-1 {
    top: 15px;
    opacity: 0;
  }
  .cta-2:hover .cta-state-2 {
    top: 0;
    opacity: 1;
  }
}
/*..........................................
.......... C T A  2 -- H E R O .............
..........................................

.mde-hero__footer .cta-2 {
  background-color: rgba(255,255,255, 0.0);
  color: #ffffff;
}

.mde-hero__footer .cta-2 .cta--wrapper {
  padding: 13px 16px;
  border: 2px solid rgba(255,255,255, 1);
  border-radius: 3px;
}

@media only screen and (min-width: 1025px) {
  .mde-hero__footer .cta-2 .cta--wrapper:hover {
    border: 2px solid rgba(255,255,255, 0.1);
  }
}

.mde-hero__footer .cta-2 .cta-state-0 {
  position: relative;
  z-index: 1;
  color: transparent;
}

.mde-hero__footer .cta-2 .cta-state-1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  opacity: 1;
}

.cta-2 .cta-state-2 {
  position: absolute;
  left: 0;
  color: transparent;
  top: -15px;
  opacity: 0;
}

@media only screen and (min-width: 1025px) {
  .mde-hero__footer .cta-2:hover {
    color: rgba(255,255,255);
    background-color: #91172E;
  }
  .mde-hero__footer .cta-2:hover .cta--wrapper {
    border: 2px solid rgba(255,255,255, 0.0);
  }
  .cta-2:hover .cta-state-1 {
    top: 15px;
    opacity: 0;
  }
  .mde-hero__footer .cta-2:hover .cta-state-2 {
    top: 0;
    color: #ffffff;
    opacity: 1;
  }*/

/*..........................................
............... C T A  3 ...................
..........................................*/

.cta-3.cta {
  min-width: 0;
}

.cta-3 .cta--wrapper {
  padding: 0;
}

.cta-3 .cta-state-0 {
  padding-bottom: 4px;
  border-bottom: 2px solid #606060;
  color: #606060;
}
.cta-3:hover .cta-state-0 {
  padding-bottom: 4px;
  border-bottom: 2px solid #91172E;
  color: #000000;
}


/*..........................................
............ C T A  3 . W ..................
..........................................*/

.cta-3-w.cta {
  min-width: auto;
}

.cta-3-w .cta--wrapper {
  padding: 0;
}

.cta-3-w .cta-state-0 {
  padding-bottom: 4px;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}
.cta-3-w:hover .cta-state-0 {
  padding-bottom: 1px;
  border-bottom: 2px solid #91172E;
  color: #ffffff;
}


/*..........................................
............... C T A  4 ...................
..........................................*/

.cta-4.cta {
  min-width: 0;
}

.cta-4 .cta--wrapper {
  padding: 0;
}

.cta-4 .cta-state-0 {
  padding-bottom: 4px;
  border-bottom: 2px solid #606060;
  color: #606060;
}
.cta-4:hover .cta-state-0 {
  padding-bottom: 1px;
  border-bottom: 2px solid #91172E;
  color: #ffffff;
}

.cta-4-inv.cta {
  min-width: auto;
}

.cta-4-inv .cta--wrapper {
  padding: 0;
}

.cta-4-inv .cta-state-0 {
  padding-bottom: 4px;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.cta-4-inv:hover .cta-state-0 {
  padding-bottom: 1px;
  border-bottom: 2px solid #91172E;
  color: #ffffff;
}

/*..........................................
............... C T A  5 ...................
..........................................*/

.cta-5 {
  background-color: transparent;
  color: #ffffff;
}

.cta-5 .cta--wrapper {
  padding: 13px 16px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.cta-5 .cta--wrapper:hover {
  border: 2px solid transparent;
}

.cta-5 .cta-state-0 {
  color: transparent;
  position: relative;
  z-index: 1;
}

.cta-5 .cta-state-1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  opacity: 1;
}

.cta-5 .cta-state-2 {
  position: absolute;
  left: 0;
  color: transparent;
  top: -15px;
  opacity: 0;
}
.cta-5:hover {
  background-color: #91172E;
  color: #ffffff;
}
.cta-5:hover .cta--wrapper {
  border: 2px solid #91172E;
}
.cta-5:hover .cta-state-2 {
  color: #ffffff;
}
@media only screen and (min-width: 1025px) {

  .cta-5:hover .cta-state-1 {
    top: 15px;
    opacity: 0;
  }
  .cta-5:hover .cta-state-2 {
    top: 0;
    opacity: 1;
  }
}

/*..........................................
............... C T A  6 ...................
..........................................*/

.cta-6 {
  color: #000000;
  background-color: #ffffff;
}

.cta-6 .cta-state-0 {
  position: relative;
  z-index: 1;
  color: transparent;
  white-space: nowrap;
}

.cta-6 .cta-state-1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  opacity: 1;
  white-space: nowrap;
}

.cta-6 .cta-state-2 {
  position: absolute;
  left: 0;
  color: transparent;
  top: -15px;
  opacity: 0;
  white-space: nowrap;
}
.cta-6:hover {
  background-color: #91172E;
  color: #ffffff;
}
.cta-6:hover .cta-state-0 ,.cta-6:hover .cta-state-1 {
  color: #ffffff;
}

@media only screen and (min-width: 1025px) {

  .cta-6:hover .cta-state-1 {
    top: 15px;
    opacity: 0;
  }
  .cta-6:hover .cta-state-2 {
    top: 0;
    opacity: 1;
  }
}
/*..........................................
............... C T A  7 ...................
..........................................*/

.cta-7 {
  background-color: #ffffff;
  color: #101010;
}

.cta-7 .cta-state-0 {
  position: relative;
  z-index: 1;
  color: transparent;
  white-space: nowrap;
}

.cta-7 .cta-state-1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #101010;
  opacity: 1;
  white-space: nowrap;
}

.cta-7 .cta-state-2 {
  position: absolute;
  left: 0;
  color: transparent;
  top: -15px;
  opacity: 0;
  white-space: nowrap;
}
.cta-7:hover {
  background-color: #91172E;
  color:#fff;
}
.cta-7:hover .cta-state-2 {
  color: #ffffff;
}
@media only screen and (min-width: 1025px) {

  .cta-7:hover .cta-state-1 {
    top: 15px;
    opacity: 0;
  }

  .cta-7:hover .cta-state-2 {
    top: 0;
    color: #fff;
    opacity: 1;
  }
}
