@font-face {
  font-family: 'MazdaTypeTT-Bold';
  font-style: normal;
  font-weight: bold;
  src: url("~assets/fonts/mazdatypett-bold.woff") format("woff"), url("~assets/fonts/mazdatypett-bold.woff2") format("woff2"), url("~assets/fonts/mazdatypett-bold.ttf") format("truetype"), url("~assets/fonts/mazdatypett-bold.eot") format("embedded-opentype");
}
@font-face {
  font-family: 'MazdaTypeTT-BoldItalic';
  font-style: italic;
  font-weight: bold;
  src: url("~assets/fonts/mazdatypett-bolditalic.woff") format("woff"), url("~assets/fonts/mazdatypett-bolditalic.woff2") format("woff2"), url("~assets/fonts/mazdatypett-bolditalic.ttf") format("truetype"), url("~assets/fonts/mazdatypett-bolditalic.eot") format("embedded-opentype");
}
@font-face {
  font-family: 'MazdaTypeTT-Italic';
  font-style: italic;
  font-weight: normal;
  src: url("~assets/fonts/mazdatypett-italic.woff") format("woff"), url("~assets/fonts/mazdatypett-italic.woff2") format("woff2"), url("~assets/fonts/mazdatypett-italic.ttf") format("truetype"), url("~assets/fonts/mazdatypett-italic.eot") format("embedded-opentype");
}
@font-face {
  font-family: 'MazdaTypeTT-Medium';
  font-style: normal;
  font-weight: normal;
  src: url("~assets/fonts/mazdatypett-medium.woff") format("woff"), url("~assets/fonts/mazdatypett-medium.woff2") format("woff2"), url("~assets/fonts/mazdatypett-medium.ttf") format("truetype"), url("~assets/fonts/mazdatypett-medium.eot") format("embedded-opentype");
}
@font-face {
  font-family: 'MazdaTypeTT-MediumItalic';
  font-style: italic;
  font-weight: normal;
  src: url("~assets/fonts/mazdatypett-mediumitalic.woff") format("woff"), url("~assets/fonts/mazdatypett-mediumitalic.woff2") format("woff2"), url("~assets/fonts/mazdatypett-mediumitalic.ttf") format("truetype"), url("~assets/fonts/mazdatypett-mediumitalic.eot") format("embedded-opentype");
}
@font-face {
  font-family: 'MazdaTypeTT-Regular';
  font-style: normal;
  font-weight: lighter;
  src: url("~assets/fonts/mazdatypett-regular.woff") format("woff"), url("~assets/fonts/mazdatypett-regular.woff2") format("woff2"), url("~assets/fonts/mazdatypett-regular.ttf") format("truetype"), url("~assets/fonts/mazdatypett-regular.eot") format("embedded-opentype");
}
@font-face {
  font-family: 'TheanoOldStyle';
  font-style: normal;
  font-weight: normal;
  src: url("~assets/fonts/theanooldstyle-regular-webfont.woff") format("woff"), url("~assets/fonts/theanooldstyle-regular-webfont.woff2") format("woff2"), url("~assets/fonts/theanooldstyle-regular-webfont.eot") format("embedded-opentype");
}
@font-face {
  font-family: 'mazda-regular';
  font-style: normal;
  font-weight: normal;
  src: url("~assets/fonts/mazda-regular.woff") format("woff"), url("~assets/fonts/mazda-regular.woff2") format("woff2"), url("~assets/fonts/mazda-regular.eot") format("embedded-opentype");
}

@font-face {
  font-family: "standard-icon-font";
  src: url("~assets/fonts/standard-icon-font.woff2?f96ab784b804f5ea7ff80bfd2440c048") format("woff2"), url("~assets/fonts/standard-icon-font.woff?f96ab784b804f5ea7ff80bfd2440c048") format("woff"), url("~assets/fonts/standard-icon-font.eot?f96ab784b804f5ea7ff80bfd2440c048?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'icomoon';
  src: url('~assets/fonts/icomoon.eot?o3v982');
  src: url('~assets/fonts/icomoon.eot?o3v982#iefix') format('embedded-opentype'), url('~assets/fonts/icomoon.ttf?o3v982') format('truetype'), url('~assets/fonts/icomoon.woff?o3v982') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon-360:before, .icon-adchoice:before, .icon-attach:before, .icon-calculator:before, .icon-check:before, .icon-close:before, .icon-compass:before, .icon-contract:before, .icon-credit-card:before, .icon-down-arrow:before, .icon-download:before, .icon-edit:before, .icon-expand:before, .icon-feature-engine:before, .icon-footer-facebook:before, .icon-footer-google-plus:before, .icon-footer-instagram:before, .icon-footer-pinterest:before, .icon-footer-twitter:before, .icon-footer-youtube:before, .icon-full-gallery:before, .icon-gallery-1:before, .icon-gallery-3:before, .icon-gallery-close:before, .icon-gallery-left:before, .icon-gallery-right:before, .icon-globe:before, .icon-heart:before, .icon-inventory-car:before, .icon-inventory-seat:before, .icon-key:before, .icon-left-arrow:before, .icon-link:before, .icon-location:before, .icon-lock:before, .icon-mail:before, .icon-map:before, .icon-minus:before, .icon-move:before, .icon-navigate-down:before, .icon-navigate-left:before, .icon-navigate-right:before, .icon-navigate-up:before, .icon-navigation-hamburger:before, .icon-pause:before, .icon-phone:before, .icon-play:before, .icon-plus:before, .icon-print:before, .icon-right-arrow:before, .icon-search:before, .icon-share:before, .icon-trash:before, .icon-trims-audio:before, .icon-trims-camera:before, .icon-trims-heated-seats:before, .icon-trims-iEloop:before, .icon-trims-skyactiv:before, .icon-trims-wheels:before, .icon-truck:before, .icon-tumblr:before, .icon-unlink:before, .icon-unlock:before, .icon-up-arrow:before, .icon-upload:before, .icon-user:before, .icon-view:before, .icon-warning:before, .icon-zoom-in:before, .icon-zoom-out:before, .icon-zzinfo:before {
  font-family: 'standard-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-360:before {
  content: "\f101";
}
.icon-adchoice:before {
  content: "\f102";
}
.icon-attach:before {
  content: "\f103";
}
.icon-calculator:before {
  content: "\f104";
}
.icon-check:before {
  content: "\f105";
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.icon-close:before {
  content: "\f106";
}
.icon-compass:before {
  content: "\f107";
}
.icon-contract:before {
  content: "\f108";
}
.icon-credit-card:before {
  content: "\f109";
}
.icon-down-arrow:before {
  content: "\f10a";
}
.icon-download:before {
  content: "\f10b";
}
.icon-edit:before {
  content: "\f10c";
}
.icon-expand:before {
  content: "\f10d";
}
.icon-feature-engine:before {
  content: "\f10e";
}
.icon-footer-facebook:before {
  content: "\f10f";
}
.icon-footer-google-plus:before {
  content: "\f110";
}
.icon-footer-instagram:before {
  content: "\f111";
}
.icon-footer-pinterest:before {
  content: "\f112";
}
.icon-footer-twitter:before {
  content: "\f113";
}
.icon-footer-youtube:before {
  content: "\f114";
}
.icon-full-gallery:before {
  content: "\f115";
}
.icon-gallery-1:before {
  content: "\f116";
}
.icon-gallery-3:before {
  content: "\f117";
}
.icon-gallery-close:before {
  content: "\f118";
}
.icon-gallery-left:before {
  content: "\f119";
}
.icon-gallery-right:before {
  content: "\f11a";
}
.icon-globe:before {
  content: "\f11b";
}
.icon-heart:before {
  content: "\f11c";
}
.icon-inventory-car:before {
  content: "\f11d";
}
.icon-inventory-seat:before {
  content: "\f11e";
}
.icon-key:before {
  content: "\f11f";
}
.icon-left-arrow:before {
  content: "\f120";
}
.icon-link:before {
  content: "\f121";
}
.icon-location:before {
  content: "\f122";
}
.icon-lock:before {
  content: "\f123";
}
.icon-mail:before {
  content: "\f124";
}
.icon-map:before {
  content: "\f125";
}
.icon-minus:before {
  content: "\f126";
}
.icon-move:before {
  content: "\f127";
}
.icon-navigate-down:before {
  content: "\f128";
}
.icon-navigate-left:before {
  content: "\f129";
}
.icon-navigate-right:before {
  content: "\f12a";
}
.icon-navigate-up:before {
  content: "\f12b";
}
.icon-navigation-hamburger:before {
  content: "\f12c";
}
.icon-pause:before {
  content: "\f12d";
}
.icon-phone:before {
  content: "\f12e";
}
.icon-play:before {
  content: "\f12f";
}
.icon-plus:before {
  content: "\f130";
}
.icon-print:before {
  content: "\f131";
}
.icon-right-arrow:before {
  content: "\f132";
}
.icon-search:before {
  content: "\f133";
}
.icon-share:before {
  content: "\f134";
}
.icon-trash:before {
  content: "\f135";
}
.icon-trims-audio:before {
  content: "\f136";
}
.icon-trims-camera:before {
  content: "\f137";
}
.icon-trims-heated-seats:before {
  content: "\f138";
}
.icon-trims-iEloop:before {
  content: "\f139";
}
.icon-trims-skyactiv:before {
  content: "\f13a";
}
.icon-trims-wheels:before {
  content: "\f13b";
}
.icon-truck:before {
  content: "\f13c";
}
.icon-tumblr:before {
  content: "\f13d";
}
.icon-unlink:before {
  content: "\f13e";
}
.icon-unlock:before {
  content: "\f13f";
}
.icon-up-arrow:before {
  content: "\f140";
}
.icon-upload:before {
  content: "\f141";
}
.icon-user:before {
  content: "\f142";
}
.icon-view:before {
  content: "\f143";
}
.icon-warning:before {
  content: "\f144";
}
.icon-zoom-in:before {
  content: "\f145";
}
.icon-zoom-out:before {
  content: "\f146";
}
.icon-zzinfo:before {
  content: "\f147";
}
.mapa-icon:before {
  content: '\f122';
  font-family: 'standard-icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"], .adr-cont, .pho-cont, .mail-cont, .time-cont {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding: 0 0 15px 30px;
  color: #989898;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.adr-cont:before, .pho-cont:before, .mail-cont:before, .time-cont:before {
  position: absolute;
  left: 0;
  font-size: 25px;
  padding-top: 2px;
}
.adr-cont:before {
  content: "\e901";
}
.pho-cont:before {
  content: "\e903";
  /*background-size:25px auto;
  */
}
.mail-cont:before{
  content: "\e900";
  font-size: 18px;
  /*background-size:25px auto;
  */
}
.time-cont:before{
  content: "\e904";
  /*background-size:25px auto;
  */
}
