@import "fonts";
@import "cta";
@import "slick-carousel-default";

html {
  font-size: 62.5%;
  min-height: 100%;
}

body{
  background: #fefefe;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  font-size: 15px;
  color: #101010;
  font-family: "MazdaTypeTT-Regular", helvetica, arial, sans-serif;
  line-height: 1.50;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  font-variant-ligatures: none;
  &.gray {
    background: #f5f5f5;
  }
}

html, body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, tfoot, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #999999;
}

a, button {
  transition: color .3s, background .3s, border .3s;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

ol, ul {
  list-style: none;
}

b, strong {
  font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

input, textarea {
  outline: none;
  transition: border-color .3s;
}

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.50;
  margin: 0 0 28px;
}

.menu .active>a{
  background: unset;
}

.grid-col-small-1, .grid-col-medium-1, .grid-col-large-1, .grid-col-small-2, .grid-col-medium-2, .grid-col-large-2, .grid-col-small-3, .grid-col-medium-3, .grid-col-large-3, .grid-col-small-4, .grid-col-medium-4, .grid-col-large-4, .grid-col-small-5, .grid-col-medium-5, .grid-col-large-5, .grid-col-small-6, .grid-col-medium-6, .grid-col-large-6, .grid-col-small-7, .grid-col-medium-7, .grid-col-large-7, .grid-col-small-8, .grid-col-medium-8, .grid-col-large-8, .grid-col-small-9, .grid-col-medium-9, .grid-col-large-9, .grid-col-small-10, .grid-col-medium-10, .grid-col-large-10, .grid-col-small-11, .grid-col-medium-11, .grid-col-large-11, .grid-col-small-12, .grid-col-medium-12, .grid-col-large-12 {
  min-height: 1px;
}

@media screen and (min-width: 768px){
  .grid-col-medium-1, .grid-col-medium-2, .grid-col-medium-3, .grid-col-medium-4, .grid-col-medium-5, .grid-col-medium-6, .grid-col-medium-7, .grid-col-medium-8, .grid-col-medium-9, .grid-col-medium-10, .grid-col-medium-11, .grid-col-medium-12 {
    float: left;
  }

  .grid-col-medium-3 {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .grid-col-medium-1, .grid-col-medium-2, .grid-col-medium-3, .grid-col-medium-4, .grid-col-medium-5, .grid-col-medium-6, .grid-col-medium-7, .grid-col-medium-8, .grid-col-medium-9, .grid-col-medium-10, .grid-col-medium-11, .grid-col-medium-12 {
    float: left;
  }
  .grid-col-medium-1 {
    width: 8.3333333333%;
  }
  .equal-height-background > .grid-col-medium-1::before {
    width: 8.3333333333%;
  }
  .grid-col-medium-2 {
    width: 16.6666666667%;
  }
  .equal-height-background > .grid-col-medium-2::before {
    width: 16.6666666667%;
  }
  .grid-col-medium-3 {
    width: 25%;
  }
  .equal-height-background > .grid-col-medium-3::before {
    width: 25%;
  }
  .grid-col-medium-4 {
    width: 33.3333333333%;
  }
  .equal-height-background > .grid-col-medium-4::before {
    width: 33.3333333333%;
  }
  .grid-col-medium-5 {
    width: 41.6666666667%;
  }
  .equal-height-background > .grid-col-medium-5::before {
    width: 41.6666666667%;
  }
  .grid-col-medium-6 {
    width: 50%;
  }
  .equal-height-background > .grid-col-medium-6::before {
    width: 50%;
  }
  .grid-col-medium-7 {
    width: 58.3333333333%;
  }
  .equal-height-background > .grid-col-medium-7::before {
    width: 58.3333333333%;
  }
  .grid-col-medium-8 {
    width: 66.6666666667%;
  }
  .equal-height-background > .grid-col-medium-8::before {
    width: 66.6666666667%;
  }
  .grid-col-medium-9 {
    width: 75%;
  }
  .equal-height-background > .grid-col-medium-9::before {
    width: 75%;
  }
  .grid-col-medium-10 {
    width: 83.3333333333%;
  }
  .equal-height-background > .grid-col-medium-10::before {
    width: 83.3333333333%;
  }
  .grid-col-medium-11 {
    width: 91.6666666667%;
  }
  .equal-height-background > .grid-col-medium-11::before {
    width: 91.6666666667%;
  }
  .grid-col-medium-12 {
    width: 100%;
  }
  .equal-height-background > .grid-col-medium-12::before {
    width: 100%;
  }
  [class*="grid-col-small"] {
    /*padding: 0px 10px;
     padding: 0rem 1rem;
    */
  }
  .equal-height-background > [class*="grid-col-small"]::before {
    top: 10px;
    top: 1rem;
    bottom: 10px;
    bottom: 1rem;
    background: linear-gradient(to left, #000000, #000000) no-repeat -20px 0;
  }
  [class*="grid-col-medium"] {
    /*padding: 0px 10px;
     padding: 0rem 1rem;
    */
  }
  .equal-height-background > [class*="grid-col-medium"]::before {
    top: 10px;
    top: 1rem;
    bottom: 10px;
    bottom: 1rem;
    background: linear-gradient(to left, #000000, #000000) no-repeat -20px 0;
  }
  [class*="grid-col-large"] {
    /*padding: 0px 10px;
     padding: 0rem 1rem;
    */
  }
  .equal-height-background > [class*="grid-col-large"]::before {
    top: 10px;
    top: 1rem;
    bottom: 10px;
    bottom: 1rem;
    background: linear-gradient(to left, #000000, #000000) no-repeat -20px 0;
  }
}
@media screen and (min-width: 960px) {
  .grid-col-large-1, .grid-col-large-2, .grid-col-large-3, .grid-col-large-4, .grid-col-large-5, .grid-col-large-6, .grid-col-large-7, .grid-col-large-8, .grid-col-large-9, .grid-col-large-10, .grid-col-large-11, .grid-col-large-12 {
    float: left;
  }
  .grid-col-large-1 {
    width: 8.3333333333%;
  }
  .equal-height-background > .grid-col-large-1::before {
    width: 8.3333333333%;
  }
  .grid-col-large-2 {
    width: 16.6666666667%;
  }
  .equal-height-background > .grid-col-large-2::before {
    width: 16.6666666667%;
  }
  .grid-col-large-3 {
    width: 25%;
  }
  .equal-height-background > .grid-col-large-3::before {
    width: 25%;
  }
  .grid-col-large-4 {
    width: 33.3333333333%;
  }
  .equal-height-background > .grid-col-large-4::before {
    width: 33.3333333333%;
  }
  .grid-col-large-5 {
    width: 41.6666666667%;
  }
  .equal-height-background > .grid-col-large-5::before {
    width: 41.6666666667%;
  }
  .grid-col-large-6 {
    width: 50%;
  }
  .equal-height-background > .grid-col-large-6::before {
    width: 50%;
  }
  .grid-col-large-7 {
    width: 58.3333333333%;
  }
  .equal-height-background > .grid-col-large-7::before {
    width: 58.3333333333%;
  }
  .grid-col-large-8 {
    width: 66.6666666667%;
  }
  .equal-height-background > .grid-col-large-8::before {
    width: 66.6666666667%;
  }
  .grid-col-large-9 {
    width: 75%;
  }
  .equal-height-background > .grid-col-large-9::before {
    width: 75%;
  }
  .grid-col-large-10 {
    width: 83.3333333333%;
  }
  .equal-height-background > .grid-col-large-10::before {
    width: 83.3333333333%;
  }
  .grid-col-large-11 {
    width: 91.6666666667%;
  }
  .equal-height-background > .grid-col-large-11::before {
    width: 91.6666666667%;
  }
  .grid-col-large-12 {
    width: 100%;
  }
  .equal-height-background > .grid-col-large-12::before {
    width: 100%;
  }
  [class*="grid-col-small"] {
    /*padding: 0px 12px;
     padding: 0rem 1.2rem;
    */
  }
  .equal-height-background > [class*="grid-col-small"]::before {
    top: 12px;
    top: 1.2rem;
    bottom: 12px;
    bottom: 1.2rem;
    background: linear-gradient(to left, #000000, #000000) no-repeat -24px 0;
  }
  [class*="grid-col-medium"] {
    /*padding: 0px 12px;
     padding: 0rem 1.2rem;
    */
  }
  .equal-height-background > [class*="grid-col-medium"]::before {
    top: 12px;
    top: 1.2rem;
    bottom: 12px;
    bottom: 1.2rem;
    background: linear-gradient(to left, #000000, #000000) no-repeat -24px 0;
  }
  [class*="grid-col-large"] {
    /*padding: 0px 12px;
     padding: 0rem 1.2rem;
    */
  }
  .equal-height-background > [class*="grid-col-large"]::before {
    top: 12px;
    top: 1.2rem;
    bottom: 12px;
    bottom: 1.2rem;
    background: linear-gradient(to left, #000000, #000000) no-repeat -24px 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  line-height: 1.3;
}

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  line-height: 36px;
  line-height: 3.6rem;
}

h2 {
  font-size: 23px;
  font-size: 2.3rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  line-height: 26px;
  line-height: 2.6rem;
}

h3 {
  font-size: 21px;
  font-size: 2.1rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  line-height: 24px;
  line-height: 2.4rem;
}

h4 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  line-height: 21px;
  line-height: 2.1rem;
}

@media screen and (min-width: 768px){
  h1 {
    font-size: 40px;
    font-size: 4rem;
    margin-bottom: 12px;
    margin-bottom: 1.2rem;
    line-height: 44px;
    line-height: 4.4rem;
  }

  h2 {
    font-size: 28px;
    font-size: 2.8rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    line-height: 32px;
    line-height: 3.2rem;

    .sub-title{
      font-size: 14px;
      font-size: 1.4rem;
    }
  }

  h3 {
    font-size: 26px;
    font-size: 2.6rem;
    margin-bottom: 8px;
    margin-bottom: 0.8rem;
    line-height: 30px;
    line-height: 3rem;
  }

  h4 {
    font-size: 22px;
    font-size: 2.2rem;
    margin-bottom: 8px;
    margin-bottom: 0.8rem;
    line-height: 26px;
    line-height: 2.6rem;
  }
}

.vehiclesYear {
  font-size: 1.3rem;
  font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-top: 5px;
  text-align: center;
  color: black;
  display: block;
  font-size: 94%;
}

.vehicleDescription {
  font-weight: 400;
  /* font-family: "Interstate", helvetica, arial, sans-serif; */
  font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
  color: rgb(153, 153, 153);
  font-size: 85%;
  display: block;
  line-height: 1.3;
  text-transform: none;
}

.vehiclesSoonNew {
  color: #dd0300;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
  display: block;
  font-size: 94%;
  margin: 0.2em auto 0.5em;
  /* font-family: Interstate,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif; */
  font-family: MazdaTypeTT-Medium,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.container--full-width {
  margin: -1px;
  padding: 0;

  > .grid-row {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  &.no-gutter{
    >.grid-row{
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.container--full-width.no-gutter > .grid-row > [class*='grid-col-'] {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px){
  #desktop {
    display: none;
  }
  #tablet {
    display: block;
  }
  #mobile {
    display: none;
  }
}
@media screen and (min-width: 1025px){
  #desktop {
    display: block;
  }
  #tablet {
    display: none;
  }
  #mobile {
    display: none;
  }
}
@media screen and (max-width: 767px){
  #desktop {
    display: none;
  }
  #tablet {
    display: none;
  }
  #mobile {
    display: block;
  }
}

.lazyloaded {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.cta-3 .cta-state-0 {
  display: inline-block;
  white-space: normal;
}

.light-text {
  color: #ffffff;
}

.center{
  img {
    object-position: center;
  }
}

[class*='grid-col-'].center {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.cta-insolated {
  background: #fff;
  padding: 15px 0px 15px 0px;
}

.container {
  max-width: 1218px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-left: 2.4rem;
  padding-right: 24px;
  padding-right: 2.4rem;
}

.st-container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  padding: 35px 0 40px 0;
  margin: 0 auto;

  .pretitle_component {
    font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
    margin-top: 10px;
  }
}

.title_component {
  text-align: center;
  font-size: 22px;
  margin: 0px auto;
  padding: 10px 10px 0px;
  /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
  font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
  letter-spacing: .2em;
  line-height: 1.2;
}

.pretitle_component {
  text-align: center;
  font-size: 15px;
  margin: 0px auto;
  padding: 0px;
  /* font-family: "InterstateLight", helvetica, arial, sans-serif; */
  font-family: "MazdaTypeTT-Regular", helvetica, arial, sans-serif;
  line-height: 1.2;
  letter-spacing: .2em;
}

.flex-centering {
  display: flex;
  justify-content: center;
}

.dark-text {
  color: #000000;
}

.icon_hover{
  &:hover{
    > div {
      opacity: 0.3;
      -webkit-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -ms-transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      transition: opacity .25s ease-in-out;
    }
  }

  > div:hover{
    opacity: 1;

    .cta-3 .cta--wrapper .cta-state-0{
      transition: all 300ms, visibility 0s;
      transition-timing-function: cubic-bezier(0.90, 0, 0.07, 1);
      padding-bottom: 1px;
      border-bottom: 2px solid #91172E;
      color: #000000;
    }
  }
}

.main-content {
  margin-top: 0px;
}

.Medium {
  background-color: #e7e7e7;
}

.Light {
  background-color: #f5f5f5;
}

/* Animaciones al mostrar los elementos*/
@keyframes FadeIn {
  0% {
    opacity: 0;
    /* transform: scale(1); */
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    /*transform: scale(1);*/
  }
  /*100% {
    transform: scale(1);
  }*/
}

.icon-hover2:hover .diffuminate a {
  opacity: 0.6;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.icon-hover2 .diffuminate:hover a {
  opacity: 1.0;
}

.grid-row::after {
  clear: both;
}

.grid-row::after, .grid-row::before {
  content: '';
  display: table;
}

@media all and (max-width: 768px){
  .desktop-only{
    display: none;
  }
}

@media all and (min-width: 769px){
  .mobile-only{
    display: none;
  }
}