<template>
  <div class="container--full-width no-gutter" style="margin-bottom:-1px;" role="complementary"
       aria-label="DOWNLOAD A BROCHURE">
    <div class="grid-row">
      <div class="grid-col-medium-12">

        <div class="mdp-flexiblecontent-md-bg full-slide-image light-text" :style="cssBackground">
          <div class="grid-row" style="width: 100%;">
            <div class="grid-col-medium-6 center">
              <header class="mdp-flexiblecontent-md-bg__header-primary">
                <h4 style="text-align: center;">
                  {{ title }}
                </h4>
              </header>
              <div class="mdp-flexiblecontent-md-bg__copy fs_text">
                <p style="text-align: center;">
                  {{ text }}
                </p>
              </div>
              <div style="text-align: center;" class="cta-container">
                <a :target="target" :href="buttonUrl" class="cta-6 cta" :data-analytics-link-description="
                                           buttonText
                                       " data-analytics-link-type="cta" data-analytics-link-component-name="md_bg">
                  <div class="cta--wrapper"><span class="cta-state-0">
                                           {{ buttonText }}
                                       <span class="cta-state-1">
                                           {{ buttonText }}
                                       </span><span class="cta-state-2">
                                           {{ buttonText }}
                                       </span></span></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: 'DOWNLOAD A BROCHURE'
      },
      text: {
        type: String,
        default: 'Get all the facts and the figures of Mazda2'
      },
      buttonText: {
        type: String,
        default: 'DOWNLOAD'
      },
      buttonUrl: {
        type: String,
        default: '#'
      },
      cssBackground: {
        type: String,
        default: 'background-image: url(https://mazda-website-solution.s1.umbraco.io/media/8674/full_slide_01.jpg);'
      },
      target: {
        type: String,
        default: '_self'
      }
    }
  }
</script>

<style scoped lang="scss">
  .mdp-flexiblecontent-md-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .full-slide-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 43vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mdp-flexiblecontent-md-bg__header-primary {
    margin-bottom: 5px;
    padding: 0 15px;
  }

  .mdp-flexiblecontent-md-bg__header-primary * {
    font-size: 20px;
    font-size: 2rem;
    font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 28px;
  }

  .titulo-container p, .mdp-flexiblecontent-tout--full-width__header-primary h3, .mdp-flexiblecontent-md-bg__header-primary h4 {
    font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
  }

  .mdp-flexiblecontent-md-bg.light-text .mdp-flexiblecontent-md-bg--description, .mdp-flexiblecontent-md-bg.light-text .mdp-flexiblecontent-md-bg__copy, .mdp-flexiblecontent-md-bg.light-text .mdp-flexiblecontent-md-bg__header-pre *, .mdp-flexiblecontent-md-bg.light-text .mdp-flexiblecontent-md-bg__header-primary * {
    color: #ffffff !important;
  }

  .mdp-flexiblecontent-md-bg__copy {
    margin-bottom: 23px;
    padding: 0 20px;
  }

  .mdp-flexiblecontent-md-bg.light-text .mdp-flexiblecontent-md-bg--description, .mdp-flexiblecontent-md-bg.light-text .mdp-flexiblecontent-md-bg__copy, .mdp-flexiblecontent-md-bg.light-text .mdp-flexiblecontent-md-bg__header-pre *, .mdp-flexiblecontent-md-bg.light-text .mdp-flexiblecontent-md-bg__header-primary * {
    color: #ffffff !important;
  }

  .fs_text p {
    text-align: center;
    font-size: 16px;
    font-size: 1.6rem;
  }

  .mdp-flexiblecontent-md-bg__copy p:last-child {
    margin-bottom: 0;
  }

  header.mdp-flexiblecontent-md-bg__header-primary + .mdp-flexiblecontent-md-bg__copy p {
    font-family: "MazdaTypeTT-Regular", helvetica, arial, sans-serif;
    letter-spacing: .2em;
  }

  .mdp-flexiblecontent-md-bg .cta-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .mdp-flexiblecontent-md-bg .cta-container .cta {
    margin: 10px 0;

    &:nth-child(1) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-height: 481px) {
    .full-slide-image h4 {
      position: relative;
      top: 8px;
      letter-spacing: .2em;
    }
  }
</style>
