<template>
    <div 
        :class="{'mdp-flexiblecontent-5050--right' : position == 'right', 'mdp-flexiblecontent-5050--left' : position == 'left' }"
        class="mdp-flexiblecontent-5050 vlp-neg-margin video-loaded video-started"
         style="background-color: #FFFFFF;"
         data-analytics-content-description="welcoming_space">
        <div class="mdp-flexiblecontent-5050__media-container">
            <video autoplay class="mdp-flexiblecontent-5050__video"
                data-src-large="https://www.mazdausa.com/siteassets/images/home/may-2019-update/5050-vids/2019-mazda3-interior_1800x900.mp4" 
                data-src-medium="https://www.mazdausa.com/siteassets/images/home/may-2019-update/5050-vids/2019-mazda3-interior_1800x900.mp4" 
                data-src-small="https://www.mazdausa.com/siteassets/images/home/may-2019-update/5050-vids/2019-mazda3-interior_1800x900.mp4"
                :src="media"
                muted="" 
                playsinline="" 
                data-video="1">
            </video>
        </div>
        <div class="mdp-flexiblecontent-5050__content-container">
            <div class="mdp-flexiblecontent-5050__content in-view">
                <div class="mdp-flexiblecontent-5050__copy">
                    <h1 style="font-size: 20px; font-style: normal; line-height: 27px; font-weight: bold; letter-spacing: 4px; margin-bottom: 28px;">
                        {{title}}
                    </h1>
                    <p style="font-size: 16px; font-style: normal; line-height: 28px; margin-bottom: 10px;">
                       {{text}}
                    </p>
                    <p style="font-size: 16px; font-style: normal; line-height: 28px; margin-bottom: 0px;">
                        <a class="cta-3 cta" href="/why-mazda/design" 
                            data-analytics-link-description="Explore" 
                            data-analytics-link-type="cta" 
                            data-analytics-link-component-name="50_50_left">
                            Explore
                        </a>
                    </p>
                </div>
                <div class="mdp-flexiblecontent-5050__ctas">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:{
        position:{
            type: String,
            default : 'right'
        },
        media:{
            default: 'https://www.mazdausa.com/siteassets/images/home/may-2019-update/5050-vids/2019-mazda3-interior_1800x900.mp4'
        },
        text:{
            type:String,
            default:  'A Mazda interior represents the unmistakable bond between driver and car. Every detail is expertly crafted, every component intuitively placed, creating a feeling of enveloping comfort that makes every journey more inspiring.'
        },
        title:{
            default:'Titulo'
        }
    }
}
</script>
<style lang="scss" scoped>
.mdp-flexiblecontent-5050 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-5050 {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        max-height: 900px;
    }
}

.mdp-flexiblecontent-5050__media-container {
    max-height: 50vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-5050__media-container {
        max-height: 900px;
        width: 50%;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-5050--right .mdp-flexiblecontent-5050__media-container {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

.mdp-flexiblecontent-5050__content-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 30px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-5050__content-container {
        padding: 50px;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-5050__content-container {
        width: 50%;
    }
}
.mdp-flexiblecontent-5050__image, .mdp-flexiblecontent-5050__video {
    font-family: "object-fit: cover; object-position: center;";
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: opacity 1s cubic-bezier(.645,.045,.355,1);
}
.mdp-flexiblecontent-5050.video-started .mdp-flexiblecontent-5050__image {
    opacity: 0;
}
@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-5050__content {
        max-width: 470px;
    min-width: 383px;
    }
}
.mdp-flexiblecontent-5050__content.in-view, .mdp-flexiblecontent-5050__content.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.mdp-flexiblecontent-5050__copy {
    margin-top: 18px;
    margin-top: 1.8rem;
}
.mdp-flexiblecontent-5050__ctas {
    margin: 0 -10px;
}

@media all and (max-width: 768px){
    .mdp-flexiblecontent-5050__media-container{
        margin: 0 10px;
    }

    .mdp-flexiblecontent-5050{
        margin-bottom: 13px !important;
    }

    .mdp-flexiblecontent-5050__content-container{
        padding-bottom: 0;
    }
}
</style>
