<template>
    <div class="Medium Gray" role="complementary" aria-label="SHOPPING TOOLS ">
        <div class="container--full-width no-gutter st-container">
            <div>
                <div v-if="sectionTitle" class="title_component">
                    {{ sectionTitle }}
                </div>
                <div v-if="sectionSubTitle" class="pretitle_component">
                    {{ sectionSubTitle }}
                </div>
            </div>
            <div class="grid-row flex-centering icon_hover">
                <div v-for="element in elements" class="grid-col-medium-3" style="cursor: pointer">
                    <div class="mdp-flexiblecontent-tout--divider">
                        <a :href="element.url" data-analytics-link-description="
                            " data-analytics-link-type="inline" data-analytics-link-component-name="divider_block">
                        </a>
                        <div class="tout--container">
                            <a :href="element.url" data-analytics-link-description="" data-analytics-link-type="inline" data-analytics-link-component-name="divider_block">
                                <div class="mdp-flexiblecontent-tout__icon-container">
                                    <img class="mdp-flexiblecontent-tout__icon-container--icon lazyloaded" :data-src="element.imageSrc" alt="" :src="element.imageSrc">
                                </div>
                            </a>
                            <div class="tout--description">
                                <a :href="element.url" :data-analytics-link-description="element.title + ' ' + element.text" data-analytics-link-type="inline" data-analytics-link-component-name="divider_block">
                                    <header class="mdp-flexiblecontent-tout--divider__header-primary dark-text">
                                        <h4>{{ element.title }}</h4>
                                    </header>
                                    <div class="mdp-flexiblecontent-tout--divider__copy descrip-shop dark-text">
                                        <p>
                                            {{ element.text }}
                                        </p>
                                    </div>
                                </a>
                                <a :href="element.url" class="cta-3 cta" :data-analytics-link-description="element.buttonText" data-analytics-link-type="cta" data-analytics-link-component-name="divider_block">
                                    <div class="cta--wrapper">
                                        <span class="cta-state-0">{{ element.buttonText }}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: {
      elements: {
        type: Array,
        default: () => {
          return [
            {
              imageSrc: 'https://mazda-website-solution.s1.umbraco.io/media/2055/icn_biuld_your_mazda.png',
              title: 'BUILD YOUR MAZDA',
              text: 'Select color and options to create your perfect Mazda.',
              buttonText: 'Start Building',
              url: '#'
            },
            {
              imageSrc: 'https://mazda-website-solution.s1.umbraco.io/media/1856/icn_special_offers.png',
              title: 'SPECIAL OFFERS',
              text: 'View current special offers on the Mazda range.',
              buttonText: 'View Offers',
              url: '#'
            },
            {
              imageSrc: 'https://mazda-website-solution.s1.umbraco.io/media/1852/icn_find_a_dealer.png',
              title: 'Find a dealer',
              text: 'Find your local Mazda dealer and get in touch today.',
              buttonText: 'Locate yours',
              url: '#'
            },
            {
              imageSrc: 'https://mazda-website-solution.s1.umbraco.io/media/1851/icn_finance_your_mazda.png',
              title: 'FINANCE YOUR MAZDA',
              text: 'Estimate the finance price for your new Mazda.',
              buttonText: 'GET A QUOTE',
              url: '#'
            }
          ]
        }
      },
      sectionTitle: {
        type: String
      },
      sectionSubTitle: {
        type: String
      }
    }
  }
</script>

<style scoped lang="scss">
    .title_component, #mainTitleText, .title_page, .title-generic-b, .mdp-flexiblecontent-md-bg__header-primary .title-generic {
        font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
        font-weight: normal;
    }

    .mdp-flexiblecontent-tout--divider {
        display: flex;
        justify-content: center;
        padding: 30px 0;
        position: relative;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .mdp-flexiblecontent-tout--divider .tout--container {
        height: 100%;
        width: 100%;
    }

    .mdp-flexiblecontent-tout__icon-container--icon {
        height: 10rem;
    }

    .mdp-flexiblecontent-tout__icon-container--icon {
        -ms-interpolation-mode: bicubic;
    }

    .mdp-flexiblecontent-tout--divider .tout--description {
        margin: 0 auto;
        padding: 0 20px;
    }

    .mdp-flexiblecontent-tout--divider__header-primary * {
        font-size: 1.3rem;
        text-transform: capitalize;
        margin-bottom: 15px;
        letter-spacing: .2em;
    }

    .mde-hero__description--pre h4, .mdp-flexiblecontent-tout--divider__header-primary h4, .basic-text-nav__list h3, .the_grades .p-generic-b-c-upp, .component-modal__copy__content > h2 .sub-tittle, .titulo-shop {
        font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
    }

    .mdp-flexiblecontent-tout--divider__header-primary h4 {
        text-transform: uppercase;
    }

    .mdp-flexiblecontent-tout--divider__copy * {
        font-size: 1.4rem;
        font-size: 15px;
        margin: 0 auto 20px;
        width: 90%;
    }

    @media all and (max-width: 768px){
        .grid-row.flex-centering.icon_hover{
            flex-wrap: wrap;

            .grid-col-medium-3{
                width: 100%;
            }
        }

        .mdp-flexiblecontent-tout__icon-container--icon{
            height: 14rem;
        }

        .mdp-flexiblecontent-tout--divider__header-primary *{
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.5px;
        }

        .mdp-flexiblecontent-tout--divider__copy.descrip-shop.dark-text{
            display: none;
        }

        .st-container{
            padding-top: 0;
            padding-bottom: 60px;
        }

        .mdp-flexiblecontent-tout--divider{
            padding-top: 20px;
            padding-bottom: 0;
        }
    }
</style>
