<template>
    <div class="the_gallery" role="complementary" aria-label="THE CAR AS A WORK OF ART">
     
    
    
        <div class="container" id="exterior">
            <div class="mdp-gallery">
                <a
                    v-for="(img, index) in images"
                    class="image-container light"
                    data-gallery-index="0" data-analytics-link-description=""
                    data-analytics-link-type="inline"
                    data-analytics-link-component-name="gallery_grid">
                    <div class="mdp-flexiblecontent-tout__image-container ie_image-fit">
                        <img @click="toggleModal(index)"
                            class="mdp-flexiblecontent-tout__image lazyautosizes lazyloaded"
                            data-sizes=""
                            :src="img.url"
                            alt=""
                            sizes="380px"
                        >
                    </div>
                </a>
    
            </div>
    
            <div class="component-modal component-modal--full mdp-gallery__modal" :class="{'component-modal--open':modal}">
                <div class="component-modal__container">
                    <div class="component-modal__button--close" @click="toggleModal(0)"></div>
                    <div class="component-modal__content slick-initialized slick-slider">
                        <div class="slick-list draggable" >
                            <div class="slick-track" style="opacity: 1; width: 5464px;">
                                <div 
                                    class="image-container light slick-slide slick-current slick-active" 
                                    style="width: 1366px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" 
                                    data-gallery-index="4" 
                                    tabindex="0" 
                                    data-slick-index="0" 
                                    aria-hidden="false">
                                    <div class="image-ratio-wrapper ie_image-fit">
                                        <div @click="prevImg" class="icon-gallery-left mdp-gallery__modal__button--prev slick-arrow"></div>
                                        <img class="lazyautosizes lazyloaded" 
                                            data-sizes="auto" 
                                            :data-src="imgActiveModal" 
                                            alt="" 
                                            sizes="1366px" 
                                            :src="imgActiveModal">
                                        <div @click="nextImg" class="icon-gallery-right mdp-gallery__modal__button--next slick-arrow"></div>
                                    </div>
                                    <div class="mdp-gallery__modal__counter-container">
                                        <span class="mdp-gallery__modal__current-counter">1</span>/<span class="mdp-gallery__modal__total-counter">4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>
</template>

<script>
export default {
    data() {
        return {
            currentImgModal:0,
            modal:false,
        }
    },
    props: {
        images: Array
    },
    methods: {
      toggleModal(index){
         this.modal = !this.modal
         this.currentImgModal = index
      },
      prevImg(){
          if(this.currentImgModal != 0){
              this.currentImgModal--
          }else{
              this.currentImgModal = this.images.length -1
          }
      },
      nextImg(){
          if(this.currentImgModal < (this.images.length -1)){
              this.currentImgModal++
          }else{
              this.currentImgModal = 0
          }
      }
    },
    computed:{
        imgActiveModal(){
            return this.images[this.currentImgModal].url
        },
    },
}
</script>

<style lang="scss" scoped>
.the_gallery {
    padding-bottom: 50px;
    background-color: #f5f5f5;
    min-height: calc(100vh - 250px);
    margin-bottom: 20px;
}

.container::after,
.container::before {
    content: '';
    display: table;
}

.container {
    max-width: 1218px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

.the_gallery .mdp-gallery {
    text-align: center;
}

.mdp-gallery .grid-col-medium-4 {
    pointer-events: none;
}

@media screen and (min-width: 768px) {
    .grid-col-medium-4 {
        width: 33.3333333333%;
    }
}

@media screen and (min-width: 768px) {
    .grid-col-medium-1,
    .grid-col-medium-2,
    .grid-col-medium-3,
    .grid-col-medium-4,
    .grid-col-medium-5,
    .grid-col-medium-6,
    .grid-col-medium-7,
    .grid-col-medium-8,
    .grid-col-medium-9,
    .grid-col-medium-10,
    .grid-col-medium-11,
    .grid-col-medium-12 {
        float: left;
    }
}

.mdp-flexiblecontent-tout__image-container {
    overflow: hidden;
    position: relative;
}

.mdp-flexiblecontent-tout__image-container {
    height: 100%;
    pointer-events: none;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.mdp-flexiblecontent-tout__image {
    max-width: 100%;
    width: 100%;
    vertical-align: bottom;
    transition: -webkit-transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-tout__image {
        -webkit-transform: scale(1.01) translateZ(0);
        transform: scale(1.01) translateZ(0);
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }
}

.mdp-gallery .mdp-flexiblecontent-tout__image {
    border: 1px solid #d5d5d5;
    /*margin-bottom: 10px;*/
    pointer-events: fill;
}

@media (min-width: 768px) {
    .mdp-gallery .mdp-flexiblecontent-tout__image {
        height: 100%;
        object-fit: cover;
        pointer-events: fill;
    }
}

.mdp-flexiblecontent-tout__image-container img:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-tout__image.hover,
    .mdp-flexiblecontent-tout__image:hover {
        -webkit-transform: scale(1.07) translateZ(0);
        transform: scale(1.07) translateZ(0);
    }
}

.component-modal {
    bottom: 0;
    height: 100%;
    left: 0;
    max-height: 100vh;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.25s, visibility 0s 0.25s;
    transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0s 0.25s, visibility 0s 0.25s;
    visibility: hidden;
    width: 100%;
    z-index: 1001;
}

.component-modal__container {
    background-color: #f5f5f5;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 50%;
    text-align: center;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 768px) {
    .component-modal__container {
        height: auto;
        left: 50%;
        max-height: 80%;
        padding: 60px 100px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 570px;
    }
}

.component-modal--full .component-modal__container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0;
    top: 0;
    -webkit-transform: none;
    transform: none;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .component-modal--50-50 .component-modal__container,
    .component-modal--60-40 .component-modal__container,
    .component-modal--full .component-modal__container {
        left: 0;
        min-height: 100vh;
        padding: 0;
    }
}

.component-modal__button--close {
    color: #999999;
    cursor: pointer;
    line-height: 70px;
    opacity: 0;
    padding: 0 27px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    pointer-events: fill;
}

.component-modal__button--close {
    display: block !important;
}

.component-modal--50-50 .component-modal__button--close,
.component-modal--60-40 .component-modal__button--close,
.component-modal--full .component-modal__button--close {
    font-size: 40px;
    font-size: 4rem;
    color: #000000;
    padding: 25px 25px 10px 10px;
    transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.component-modal--full .component-modal__button--close {
    font-size: 60px;
    font-size: 6rem;
    padding: 45px 45px 20px 20px;
}

.mdp-gallery__modal .component-modal__button--close {
    color: #ffffff;
}

.component-modal__button--close:before {
    content: '\f106';
    font-family: 'standard-icon-font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.component-modal__button--close::before {
    transition: opacity 0.35s cubic-bezier(0.86, 0, 0.07, 1);
}

.component-modal--50-50 .component-modal__button--close:before,
.component-modal--60-40 .component-modal__button--close:before,
.component-modal--full .component-modal__button--close:before {
    content: '\f118';
    font-family: 'standard-icon-font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mdp-gallery__modal.component-modal--full .component-modal__button--close:before,
.mdp-gallery__modal1.component-modal--full .component-modal__button--close:before {
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}
.component-modal--full .component-modal__content {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
.component-modal--full .component-modal__content {
    height: 100vh;
}
.component-modal--full .component-modal__content {
    margin: 0 auto;
    max-width: 1218px;
    padding: 70px 25px 30px;
    text-align: center;
    width: auto;
}
@media screen and (min-width: 768px)
{
    .component-modal--full .component-modal__content{
        padding: 50px 30px;
    width: 100%;
    }
    
}
@media screen and (min-width: 960px)
{
    .component-modal--full .component-modal__content{
         padding: 50px 12px;
    width: 1000px;
    } 
   
}
.mdp-gallery__modal .component-modal__content {
    padding: 0;
    max-width: none;
    width: 100%;
}
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.the_gallery .slick-slider .slick-list {
    max-height: 100vh;
}
.mdp-gallery__modal1 .image-ratio-wrapper, .mdp-gallery__modal1 .video-ratio-wrapper, .mdp-gallery__modal .image-ratio-wrapper, .mdp-gallery__modal .video-ratio-wrapper {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}
@media screen and (min-width: 768px)
{
    .mdp-gallery__modal1 .image-ratio-wrapper, .mdp-gallery__modal1 .video-ratio-wrapper, .mdp-gallery__modal .image-ratio-wrapper, .mdp-gallery__modal .video-ratio-wrapper {
  padding-bottom: 50%;
    }
  
}
.mdp-gallery__modal1 .image-ratio-wrapper, .mdp-gallery__modal .image-ratio-wrapper {
    background-color: #000000;
    overflow: hidden;
}
.mdp-gallery__modal .image-ratio-wrapper, .mdp-gallery__modal .video-ratio-wrapper, .mdp-gallery__modal1 .image-ratio-wrapper, .mdp-gallery__modal1 .video-ratio-wrapper {
    padding-bottom: 0;
    height: 100vh;
}
.mdp-gallery__modal1 .image-container, .mdp-gallery__modal .image-container, .mdp-gallery__modal1 .video-container, .mdp-gallery__modal .video-container {
    overflow: auto;
    height: 100vh;
}
.mdp-gallery__modal .image-container:first-child, .mdp-gallery__modal .video-container:first-child, .mdp-gallery__modal1 .image-container:first-child, .mdp-gallery__modal1 .video-container:first-child {
    width: 100vw !important;
}.mdp-gallery__modal__button--next, .mdp-gallery__modal__button--prev {
    font-size: 50px;
    font-size: 5rem;
    line-height: 50px;
    line-height: 5rem;
    color: #ffffff;
    cursor: pointer;
    padding: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
}
@media screen and (min-width: 960px)
 {
     .mdp-gallery__modal__button--next, .mdp-gallery__modal__button--prev{
         font-size: 60px;
    font-size: 6rem;
    line-height: 60px;
    line-height: 6rem;
     }  
    
}
.mdp-gallery__modal__button--prev {
    left: 0;
}
@media screen and (min-width: 768px)
{
    .mdp-gallery__modal__button--prev {
            padding-left: 30px;
    }

}
@media screen and (min-width: 960px)
{
    .mdp-gallery__modal__button--prev {
  padding-left: 40px;
    }
  
}
.icon-gallery-right, .icon-gallery-left {
    padding: 0;
    width: 60px;
    height: 62px;
    margin: 20px;
}
.icon-gallery-left {
    margin-left: 40px;
}
.icon-gallery-left.mdp-gallery__modal__button--prev.slick-arrow, .icon-gallery-right.mdp-gallery__modal__button--next.slick-arrow {
    display: block !important;
}
.mdp-gallery__modal__counter-container {
    color: #000000;
    position: absolute;
    right: 0;
    top: 0;
}
.mdp-gallery__modal__counter-container {
    display: none;
}
.mdp-gallery__modal__total-counter {
    color: #808080;
}
.component-modal--open {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: opacity 0.35s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0s;
    transition: opacity 0.35s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0s 0s;
    visibility: visible;
}
.icon-gallery-right {
    margin-right: 40px;
}
.mdp-gallery__modal__button--next {
    right: 0;
}
.mdp-gallery__modal1 .component-modal__content img, .mdp-gallery__modal .component-modal__content img {
    height: auto;
    width: 100%;
}
.mdp-gallery__modal .component-modal__content img, .mdp-gallery__modal .component-modal__content iframe, .mdp-gallery__modal1 .component-modal__content img, .mdp-gallery__modal1 .component-modal__content iframe {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
}
.the_gallery .component-modal--open .component-modal__button--close {
    opacity: .6 !important;
}
.component-modal--open .component-modal__button--close:hover {
    opacity: 1; 
}
    .image-container{
        display: block;
        height: 390px;
        float: left;
        width: 33.33%;

        &:nth-child(2){
            width: 66.66%;
            height: 780px;
            float: right;
        }

        &:nth-child(7){
            width: 66.66%;
            height: 780px;
        }

        &:nth-child(14){
            width: 66.66%;
            height: 780px;
        }

        &:nth-child(19){
            width: 66.66%;
            height: 780px;
        }

        &:nth-child(20){
            width: 66.66%;
            height: 780px;
        }
    }
</style>
