<template>
    <div class="main-content" role="complementary" aria-label="Half Image with text">
        <div class="grid-row" style="margin-bottom: 0px;">
            <div class="grid-col-medium-12">
                <div class="mdp-flexiblecontent-5050--left center-justified">

                    <div class="Medium Gray" :class="{ 'mdp-flexiblecontent-5050--left__image-container': !imageOnRightSide, 'mdp-flexiblecontent-5050--right__image-container': imageOnRightSide }">
                        <img :class="{ 'mdp-flexiblecontent-5050--left__image': !imageOnRightSide, 'mdp-flexiblecontent-5050--right__image': imageOnRightSide }" :src="imageSrc" alt="">
                    </div>
                    <div class="left-tout--description Medium Gray">
                        <div class="left-tout--description__container style: center-justified" v-inview:class="['in-view']">
                            <header class="mdp-flexiblecontent-5050--left__header-pre">
                                <h4>
                                    <div class="mdp-flexiblecontent-md-bg__copy">
                                        <p>{{ preTitle }}</p>
                                    </div>
                                </h4>
                            </header>
                            <header class="mdp-flexiblecontent-5050--left__header-primary">
                                <h4>
                                    <div class="mdp-flexiblecontent-md-bg__copy">
                                        <p>{{ title }}</p>
                                    </div>
                                </h4>
                            </header>
                            <div class="mdp-flexiblecontent-5050--left__copy">
                                <div class="mdp-flexiblecontent-md-bg__copy">
                                    <p>{{ text }}</p>
                                </div>
                            </div>
                            <div v-if="buttonText" class="cta-container">
                                <a :href="buttonUrl" class="cta-1 cta"
                                   :data-analytics-link-description="buttonText"
                                   data-analytics-link-type="cta"
                                   data-analytics-link-component-name="50_50_right">
                                    <div class="cta--wrapper">
                                        <span class="cta-state-0">
                                            {{ buttonText }}
                                            <span class="cta-state-1">
                                                {{ buttonText }}
                                            </span>
                                            <span class="cta-state-2">
                                                {{ buttonText }}
                                            </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import Vue from 'vue'
  import Inview from 'vueinview'
  Vue.use(Inview)
  export default {
    props: {
      preTitle: {
        type: String
      },
      title: {
        type: String
      },
      text: {
        type: String
      },
      imageSrc: {
        type: String,
        default: 'https://mazda-website-solution.s1.umbraco.io/media/13574/half_image_text_36.jpeg'
      },
      buttonText: {
        type: String
      },
      buttonUrl: {
        type: String,
        default: '#'
      },
      imageOnRightSide: {
        type: Boolean,
        default: false
      }
    }
  }
</script>

<style scoped lang="scss">
    .main-content {
        margin-top: 0px;
    }

    .mdp-flexiblecontent-5050--left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-height: 800px;
        overflow: hidden;
        position: relative;
    }

    .center-justified {
        text-align: center;
    }

    .mdp-flexiblecontent-5050--left__image-container {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 50%;
    }

    .mdp-flexiblecontent-5050--left__image {
        height: auto;
        width: 100%;
    }

    .mdp-flexiblecontent-5050--left .left-tout--description {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 50px;
        position: relative;
        width: 50%;
    }

    .mdp-flexiblecontent-5050--left .left-tout--description__container {
        min-width: 383px;
        max-width: 470px;
        /* opacity: 0; */
        opacity: 1;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        transition: opacity 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition: opacity 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .mdp-flexiblecontent-5050--left .left-tout--description__container.in-view, .mdp-flexiblecontent-5050--left .left-tout--description__container.rendered {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .mdp-flexiblecontent-5050--left__header-pre * {
        font-size: 13px;
        font-size: 1.3rem;
        /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
        font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
        letter-spacing: .2em;
        text-transform: uppercase;
        line-height: 20px;
    }

    .mdp-flexiblecontent-md-bg__copy {
        margin-bottom: 23px;
        padding: 0 20px;
    }

    .mdp-flexiblecontent-5050--left__header-pre * > h1, .mdp-flexiblecontent-5050--left__header-pre * > h2, .mdp-flexiblecontent-5050--left__header-pre * > h3, .mdp-flexiblecontent-5050--left__header-pre * > h4, .mdp-flexiblecontent-5050--left__header-pre * > h5, .mdp-flexiblecontent-5050--left__header-pre * > h6, .mdp-flexiblecontent-5050--left__header-pre * > p {
        font-size: 13px;
        font-size: 1.6rem;
        line-height: 20px;
    }

    .mdp-flexiblecontent-5050--left__header-primary p, .mdp-flexiblecontent-5050--right__header-primary p {
        font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
        font-size: 2.1rem;
    }

    .mdp-flexiblecontent-5050--left__copy p:last-child {
        margin-bottom: 0;
    }

    .mdp-flexiblecontent-md-bg__copy p:last-child {
        margin-bottom: 0;
    }

    .mdp-flexiblecontent-5050--left__header-primary {
        font-size: 20px;
        font-size: 2rem;
        font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
        letter-spacing: .2em !important;
        text-transform: uppercase;
        line-height: 27px;
        margin-bottom: 28px;
        margin-bottom: 2.8rem;
    }

    .mdp-flexiblecontent-5050--left__header-primary > h1, .mdp-flexiblecontent-5050--left__header-primary > h2, .mdp-flexiblecontent-5050--left__header-primary > h3, .mdp-flexiblecontent-5050--left__header-primary > h4, .mdp-flexiblecontent-5050--left__header-primary > h5, .mdp-flexiblecontent-5050--left__header-primary > h6, .mdp-flexiblecontent-5050--left__header-primary > p {
        font-size: 20px;
        font-size: 2rem;
        line-height: 27px;
    }

    .mdp-flexiblecontent-5050--right__header-pre h4 .mdp-flexiblecontent-md-bg__copy, .mdp-flexiblecontent-5050--left__header-primary h4 {
        letter-spacing: .2em !important;
    }

    .mdp-flexiblecontent-5050--left__copy {
        margin-top: 18px;
        margin-top: 1.8rem;
    }

    .mdp-flexiblecontent-5050--left .cta-container {
        margin: 0 -10px;
    }

    .mdp-flexiblecontent-5050--left .cta-container .cta {
        margin: 30px 10px 0;
    }

    .mdp-flexiblecontent-5050--right__image-container {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: inherit;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        overflow: hidden;
        position: relative;
        width: 50%;
    }

    .mdp-flexiblecontent-5050--right__image {
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        margin: 0 auto;
    }
</style>
