<template>
  <div class="hero-container" role="complementary" :aria-label="title">
    <div class="light-text">
      <div class="mde-hero__inner" style="position:initial;">
        <div class="mde-hero__description">
          <header class="mde-hero__description--pre">
            <h4>{{ preTitle }}</h4>
          </header>
          <header class="mde-hero__description--title">
            <h1 class="large-h1">{{ title }}</h1>
          </header>
        </div>
        <div class="mde-hero__description-mobile">
          <header class="mde-hero__description--pre">
            <h4>{{ preTitle }}</h4>
          </header>
          <header class="mde-hero__description--title">
            <h4>{{ title }}</h4>
          </header>
        </div>
        <footer class="mde-hero__footer">
          <div class="mde-hero__cta-container" style="text-align: center;">
            <a v-if="videoSrc" @click="playPauseVideo()" href="#" id="play-pause" class="mde-hero__video-btn"
               :class="{'video-pause': !videoPaused, 'video-play': videoPaused}"></a>
            <a v-else :href="buttonUrl" style="text-align: center;" class="cta-6 cta">
              <div class="cta--wrapper">
                <span class="cta-state-0">{{ buttonText }}<span class="cta-state-1">{{ buttonText }}</span><span
                    class="cta-state-2">{{ buttonText }}</span></span>
              </div>
            </a>
            <span style="display: none;">.</span>
          </div>
          <a v-if="scrollButtonTarget" v-smooth-scroll="{ duration: 3000, offset: -64 }" :href="scrollButtonTarget"
             class="go-to-next-section-button">
            <img src="~/assets/img/arrow-down-white.svg" alt="">
          </a>
        </footer>
        <div class="mde-hero__video-container ie_image-fit">
          <video v-if="showVideo" ref="video" class="mde-hero__video for-mobile lazyloaded" autoplay="autoplay"
                 preload="auto" loop="" muted="" id="video">
            <source :src="imageSrc" type="video/mp4" codecs="avc1.4D401E, mp4a.40.2">
          </video>
          <img v-else class="mde-hero__video-img lazyautosizes lazyloaded" data-sizes="auto" :data-srcset="imageSrc"
               alt="" sizes="1351px" :srcset="imageSrc">
          <img class="mde-hero__video-img hero-mobile lazyload" data-sizes="auto"
               data-srcset="https://mazda-website-solution.s1.umbraco.io/media/11282/accesories_4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        videoPaused: false
      }
    },
    props: {
      preTitle: {
        type: String,
        default: 'PERFORMANCE, ART'
      },
      title: {
        type: String,
        default: 'MAZDA CX-5'
      },
      imageSrc: {
        type: String,
        default: 'https://mazda-website-solution.s1.umbraco.io/media/11333/hero_mazda_cx5.jpg'
      },
      buttonText: {
        type: String,
        default: 'Discover CX-5'
      },
      buttonUrl: {
        type: String,
        default: '#'
      },
      videoSrc: {
        type: String
      },
      scrollButtonTarget: {
        type: String
      }
    },
    computed: {
      showVideo(){
        let extension = this.imageSrc.split('.')[this.imageSrc.split('.').length - 1];
        switch (extension.toLowerCase()) {
          case 'm4v':
          case 'avi':
          case 'mpg':
          case 'mp4':
            return true;
        }
        return false;
      }
    },
    methods: {
      playPauseVideo() {
        if (this.videoPaused) {
          this.$refs.video.play();
          this.videoPaused = false
        } else {
          this.$refs.video.pause();
          this.videoPaused = true
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .mde-hero__inner {
    align-items: center;
    background-color: #101010;
    flex-flow: column nowrap;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
  }

  .mde-hero, .mde-hero__inner {
    height: calc(100vh - 125px);
  }

  .mde-hero__description {
    margin: 0 auto;
    max-width: 910px;
    min-width: 700px;
    opacity: 1;
    padding: 0 12px;
    position: relative;
    top: 12%;
    width: 70%;
    word-break: break-word;
    z-index: 2;
  }

  .mde-hero__description--pre {
    font-size: 15px;
    font-size: 1.5rem;
    font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
    letter-spacing: .2em;
    line-height: 23px;
    margin-bottom: 8px;
  }

  .mde-hero__description--pre h4, .mdp-flexiblecontent-tout--divider__header-primary h4, .basic-text-nav__list h3, .the_grades .p-generic-b-c-upp, .component-modal__copy__content > h2 .sub-tittle, .titulo-shop {
    font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
  }

  .mde-hero__description--pre > h1, .mde-hero__description--pre > h2, .mde-hero__description--pre > h3, .mde-hero__description--pre > h4, .mde-hero__description--pre > h5, .mde-hero__description--pre > h6, .mde-hero__description--pre > p {
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: .2em;
    line-height: 1.6;
  }

  .mde-hero__description--title {
    font-size: 25px;
    font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 37px;
    margin-bottom: 0;
  }

  .mde-hero__description--title {
    font-size: 50px;
    font-size: 5rem;
    line-height: 57px;
  }

  .mde-hero__description--title > h1, .mde-hero__description--title > h2, .mde-hero__description--title > h3, .mde-hero__description--title > h4, .mde-hero__description--title > h5, .mde-hero__description--title > h6, .mde-hero__description--title > p {
    font-size: 45px;
    line-height: 1.2;
  }

  .mde-hero__description--title > h1, .mde-hero__description--title > h2, .mde-hero__description--title > h3, .mde-hero__description--title > h4, .mde-hero__description--title > h5, .mde-hero__description--title > h6, .mde-hero__description--title > p {
    font-size: 45px;
    line-height: 1.2;
  }

  .mde-hero__description-mobile {
    display: none;
    opacity: 1;
    word-break: break-word;
    z-index: 2;
    font-size: 25px;
    font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
    letter-spacing: .2em;
    line-height: 37px;
    margin-bottom: 0;
  }

  .mde-hero__footer {
    bottom: 50px;
    position: absolute;
    width: 100%;
  }

  .mde-hero__cta-container {
    bottom: 29px;
    /*height: 45px;*/
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;

    .cta {
      font-size: 14px;
      font-size: 1.4rem;

      .cta--wrapper {
        padding: 19px 30px;
      }
    }
  }

  .mde-hero__cta-container a {
    width: auto;
  }

  .mde-hero__video-container {
    background-color: #101010;
    bottom: 0;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .mde-hero__video, .mde-hero__video-img {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -o-object-fit: cover;
    object-fit: cover;
  }

  .mde-hero__video-img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    width: 100%;
  }

  .mde-hero__video, .mde-hero__video-img {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
  }

  .mde-hero__video-btn {
    bottom: 0;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    position: absolute;
    right: 10%;
    width: 60px !important;
    z-index: 2;
    pointer-events: auto;
    opacity: 1;
    border: 3px solid white;
    border-radius: 50%;

    &:hover {
      background: white;
    }
  }

  .mde-hero__cta-container a {
    width: auto;
  }

  #play-pause {
    right: 8%;
  }

  .video-pause:after {
    content: '';
    position: absolute;
    border: solid white;
    border-width: 0 3px 0 3px;
    display: inline-block;
    padding: 8px 3px;
    top: 38%;
    right: 38%;
  }

  .video-play:after {
    content: '';
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 40%;
    right: 40%;
  }

  .video-play:hover:after {
    border: solid black;
    border-width: 0 3px 3px 0;
  }

  .video-pause:hover:after {
    border: solid black;
    border-width: 0 3px 0 3px;
  }

  @media (min-width: 768px) {
    .large-h1 {
      margin-bottom: 0.8rem;
    }

    .mde-hero__video-img {
      display: block;
      width: 100%;
      z-index: -5;
    }
  }

  @media screen and (min-width: 960px) {
    .mde-hero__description--title > h1, .mde-hero__description--title > h2, .mde-hero__description--title > h3, .mde-hero__description--title > h4, .mde-hero__description--title > h5, .mde-hero__description--title > h6, .mde-hero__description--title > p {
      font-size: 50px;
      line-height: 50px;
      letter-spacing: .2em;
    }

    .mde-hero__description-mobile {
      font-size: 50px;
      font-size: 5rem;
      line-height: 57px;
    }

    .mde-hero__footer {
      padding: 0;
    }

    .mde-hero__video {
      display: block;
    }
  }

  .mde-hero__video {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .mde-hero__video {
      display: block !important;
    }
  }

  .mde-hero__video {
    min-height: 100%;
    max-width: none;
    min-width: 100%;
  }

  @media only screen and (orientation: landscape) {
    .mde-hero__video-img.hero-mobile {
      display: none;
    }
  }

  .go-to-next-section-button {
    width: 58px;
    height: 58px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 117px;
    cursor: pointer;
    display: block;
    z-index: 10;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
</style>
