<template>
  <div class="main-slider-component-container">
    <div class="hero-container" role="complementary">
      <div class="light-text" style="position:relative;">
        <slick :options="slickOptions" class="">
          <div v-for="slide in slides" class="mde-hero__inner" style="position:initial;">
            <div class="mde-hero__description">
              <header class="mde-hero__description--pre">
                <h4>{{ slide.subtitle }}</h4>
              </header>
              <header class="mde-hero__description--title">
                <h2 class="large-h1">{{ slide.title }}</h2>
              </header>
            </div>
            <div class="mde-hero__description-mobile">
              <header class="mde-hero__description--pre">
                <h4>{{ slide.subtitle }}</h4>
              </header>
              <header class="mde-hero__description--title">
                <h4>{{ slide.title }}</h4>
              </header>
            </div>
            <footer class="mde-hero__footer">
              <div class="mde-hero__cta-container" style="text-align: center;">
                <a v-if="slide.buttonText.length" :href="slide.url" style="text-align: center;" class="cta-6 cta">
                  <div class="cta--wrapper">
                    <span class="cta-state-0">{{ slide.buttonText }}<span class="cta-state-1">{{ slide.buttonText }}</span><span
                        class="cta-state-2">{{ slide.buttonText }}</span></span>
                  </div>
                </a>
                <span style="display: none;">.</span>
              </div>
            </footer>
            <div class="images-slider-container"
                 style="position: absolute; left: 0; top: 0; width: 100%; height: 100%;">
              <video v-if="isAVideo(slide.imageSrc)" ref="video" class="mde-hero__video for-mobile lazyloaded" autoplay="autoplay"
                     preload="auto" loop="" muted="" id="video">
                <source :src="slide.imageSrc" type="video/mp4" codecs="avc1.4D401E, mp4a.40.2">
              </video>
              <img v-else :src="slide.imageSrc" class="" :alt="slide.title">
            </div>
          </div>
        </slick>
        <div class="mazda-mde-hero__dots-container"></div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        slickOptions: {
          slidesToShow: 1,
          arrows: true,
          prevArrow: '<div class="main-slider-arrow main-slider-arrow-prev"></div>',
          nextArrow: '<div class="main-slider-arrow main-slider-arrow-next"></div>',
          dots: true,
          // appendDots: '.mazda-mde-hero__dots-container'
        }
      }
    },
    props: {
      slides: {
        type: Array,
        default: () => [
          {
            "url": "/auto/new-vitara",
            "title": "suzuki_new_vitara_desk",
            "imageSrc": "https://s3.amazonaws.com/dercocenterpe/uploads/sites/7/2019/06/suzuki_new_vitara_desk.jpg"
          },
          {
            "url": "/auto/grand-nomade",
            "title": "suzuki_grand_nomade_desk",
            "imageSrc": "https://s3.amazonaws.com/dercocenterpe/uploads/sites/7/2019/06/suzuki_grand_nomade_desk.jpg"
          },
          {
            "url": "/auto/nuevo-ertiga",
            "title": "suzuki_new_ertiga_desk",
            "imageSrc": "https://s3.amazonaws.com/dercocenterpe/uploads/sites/7/2019/06/suzuki_new_ertiga_desk-1.jpg"
          }
        ]
      },
    },
    methods: {
      isAVideo(src) {
        let extension = src.split('.')[src.split('.').length - 1];
        switch (extension.toLowerCase()) {
          case 'm4v':
          case 'avi':
          case 'mpg':
          case 'mp4':
            return true;
        }
        return false;
      }
    }
  }
</script>

<style lang="scss">
  .slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
  }

  .slick-list:focus {
    outline: none;
  }

  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slick-track:before,
  .slick-track:after {
    display: table;

    content: '';
  }

  .slick-track:after {
    clear: both;
  }

  .slick-loading .slick-track {
    visibility: hidden;
  }

  .slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
  }

  [dir='rtl'] .slick-slide {
    float: right;
  }

  .slick-slide img {
    display: block;
  }

  .slick-slide.slick-loading img {
    display: none;
  }

  .slick-slide.dragging img {
    pointer-events: none;
  }

  .slick-initialized .slick-slide {
    display: block;
  }

  .slick-loading .slick-slide {
    visibility: hidden;
  }

  .slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
  }

  .slick-arrow.slick-hidden {
    display: none;
  }


  .main-slider-component-container {

    .mde-hero__inner {
      align-items: center;
      background-color: #101010;
      flex-flow: column nowrap;
      overflow: hidden;
      position: relative;
      text-align: center;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      min-height: 300px;
      display: flex;
      justify-content: flex-start;
    }

    .mde-hero, .mde-hero__inner {
      height: calc(100vh - 125px);
    }

    .mde-hero__description {
      margin: 0 auto;
      max-width: 910px;
      min-width: 700px;
      opacity: 1;
      padding: 0 12px;
      position: relative;
      top: 12%;
      width: 70%;
      word-break: break-word;
      z-index: 2;
    }

    .mde-hero__description--pre {
      font-size: 15px;
      font-size: 1.5rem;
      font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
      letter-spacing: .2em;
      line-height: 23px;
      margin-bottom: 8px;
    }

    .mde-hero__description--pre h4, .mdp-flexiblecontent-tout--divider__header-primary h4, .basic-text-nav__list h3, .the_grades .p-generic-b-c-upp, .component-modal__copy__content > h2 .sub-tittle, .titulo-shop {
      font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
    }

    .mde-hero__description--pre > h1, .mde-hero__description--pre > h2, .mde-hero__description--pre > h3, .mde-hero__description--pre > h4, .mde-hero__description--pre > h5, .mde-hero__description--pre > h6, .mde-hero__description--pre > p {
      font-size: 14px;
      font-size: 1.4rem;
      letter-spacing: 2.6px;
      line-height: 16px;
      margin-bottom: 13px;
    }

    .mde-hero__description--title {
      font-size: 25px;
      font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
      letter-spacing: .2em;
      text-transform: uppercase;
      line-height: 37px;
      margin-bottom: 0;
    }

    .mde-hero__description--title {
      font-size: 50px;
      font-size: 5rem;
      line-height: 57px;
    }

    .mde-hero__description--title > h1, .mde-hero__description--title > h2, .mde-hero__description--title > h3, .mde-hero__description--title > h4, .mde-hero__description--title > h5, .mde-hero__description--title > h6, .mde-hero__description--title > p {
      font-size: 45px;
      line-height: 1.2;
    }

    .mde-hero__description--title > h1, .mde-hero__description--title > h2, .mde-hero__description--title > h3, .mde-hero__description--title > h4, .mde-hero__description--title > h5, .mde-hero__description--title > h6, .mde-hero__description--title > p {
      font-size: 45px;
      line-height: 1.2;
    }

    .mde-hero__description-mobile {
      display: none;
      opacity: 1;
      word-break: break-word;
      z-index: 2;
      font-size: 25px;
      font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
      letter-spacing: .2em;
      line-height: 37px;
      margin-bottom: 0;
    }

    .mde-hero__footer {
      /*bottom: 37px;*/
      bottom: -16px;
      position: absolute;
      width: 100%;
      z-index: 2;

      .go-to-next-section-button {
        width: 58px;
        height: 58px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 117px;
        cursor: pointer;
        display: block;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .mde-hero__cta-container {
      bottom: 47px;
      height: 45px;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    .mde-hero__cta-container a {
      width: auto;
    }

    .mde-hero__cta-container a .cta--wrapper {
      padding: 15px 28px;
    }

    .mde-hero__video-container {
      background-color: #101010;
      bottom: 0;
      height: auto;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    .mde-hero__video, .mde-hero__video-img {
      /*
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      -o-object-fit: cover;
      */
      object-fit: cover;
    }

    .mde-hero__video-img {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      display: block;
      width: 100%;
    }

    .mde-hero__video, .mde-hero__video-img {
      /*
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      */
      object-fit: cover;
    }

    .mde-hero__video-btn {
      bottom: 0;
      cursor: pointer;
      display: inline-block;
      height: 60px;
      position: absolute;
      right: 10%;
      width: 60px !important;
      z-index: 2;
      pointer-events: auto;
      opacity: 1;
      border: 3px solid white;
      border-radius: 50%;

      &:hover {
        background: white;
      }
    }

    .mde-hero__cta-container a {
      width: auto;
    }

    #play-pause {
      right: 8%;
    }

    .video-pause:after {
      content: '';
      position: absolute;
      border: solid white;
      border-width: 0 3px 0 3px;
      display: inline-block;
      padding: 8px 3px;
      top: 38%;
      right: 38%;
    }

    .video-play:after {
      content: '';
      border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 5px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      position: absolute;
      top: 40%;
      right: 40%;
    }

    .video-play:hover:after {
      border: solid black;
      border-width: 0 3px 3px 0;
    }

    .video-pause:hover:after {
      border: solid black;
      border-width: 0 3px 0 3px;
    }

    @media (min-width: 768px) {
      .large-h1 {
        margin-bottom: 0.8rem;
      }

      .mde-hero__video-img {
        display: block;
        width: 100%;
        z-index: -5;
      }
    }

    @media screen and (min-width: 960px) {
      .mde-hero__description--title > h1, .mde-hero__description--title > h2, .mde-hero__description--title > h3, .mde-hero__description--title > h4, .mde-hero__description--title > h5, .mde-hero__description--title > h6, .mde-hero__description--title > p {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 6.6px;
      }

      .mde-hero__description-mobile {
        font-size: 50px;
        font-size: 5rem;
        line-height: 57px;
      }

      .mde-hero__footer {
        padding: 0;
      }

      .mde-hero__video {
        display: block;
      }
    }

    .mde-hero__video {
      display: none;
    }

    @media screen and (min-width: 768px) {
      .mde-hero__video {
        display: block !important;
      }
    }

    .mde-hero__video {
      min-height: 100%;
      max-width: none;
      min-width: 100%;
    }

    @media only screen and (orientation: landscape) {
      .mde-hero__video-img.hero-mobile {
        display: none;
      }
    }

    .main-slider-arrow {
      width: 19px;
      height: 39px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      background-position: center;
      cursor: pointer;

      &.main-slider-arrow-prev {
        background-image: url('~assets/img/icon-arrow-left-gray.svg');
        left: 40px;
      }

      &.main-slider-arrow-next {
        background-image: url('~assets/img/icon-arrow-right-gray.svg');
        right: 40px;
      }
    }

    .slick-slider {
      position: static;
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      /*bottom: 42px;*/
      bottom: 103px;
      left: 50%;
      transform: translateX(-50%);

      li {
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        background: #ffffff;
        border-radius: 50%;
        margin-right: 19px;
        transition: all .35s cubic-bezier(.645, .045, .355, 1);
        cursor: pointer;

        &.slick-active {
          background: transparent;
          width: 22px;
          height: 22px;
        }

        &:last-child {
          margin-right: 0;
        }

        button {
          display: none;
        }
      }
    }

    .slick-slide img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    /*MEDIA QUERIES*/
    @media all and (max-width: 768px) {
      .mde-hero__description {
        width: 100%;
        max-width: none;
        min-width: auto;
        top: 52px;
      }

      .mde-hero__description--pre {
        letter-spacing: 2.7px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 7px;
      }

      .mde-hero__description--pre h4 {
        margin-bottom: 0;
      }

      .mde-hero__description--title h1 {
        letter-spacing: 5.32px;
        font-size: 29px;
        line-height: 35px;
      }

      .images-slider-container .slick-slider {
        position: relative;
        top: 124px;
      }

      .main-slider-arrow {
        display: none !important;
      }

      .mde-hero__cta-container a {
        width: 100%;
        margin: 0 10px;
      }

      .mde-hero__footer .slick-dots li {
        width: 9px;
        height: 9px;
        margin-right: 13px;
      }

      .mde-hero__footer .slick-dots li.slick-active {
        width: 16px;
        height: 16px;
      }
    }
  }
</style>
