<template>
    <div class="main-bym mde-three-sixty__wrapper the__three-sixty is-handheld" role="complementary" aria-label="SELECT A COLOR " style="Background-color:#ffffff">
        <div class="grid-row no-margin">
            <div class="mde-three-sixty__contain">
                <div class="mde-three-sixty__intro" style="top:60px">
                    <p class="mde-three-sixty__intro--tagline">SELECCIONA TU COLOR</p>
                    <div class="mde-three-sixty__intro--view-type">
                        <!-- <ul>
                            <li>
                                <a href="#" class="mde-three-sixty__intro--view-type mde-three-sixty__intro--view-type__exterior active" id="mde-three-sixty__intro--view-type__exterior" data-view-type="exterior" data-analytics-link-description="Exterior" data-analytics-link-type="tab" data-analytics-link-component-name="360_colorizer">Exterior</a>
                            </li>
                            <li>
                                <a href="#" class="mde-three-sixty__intro--view-type mde-three-sixty__intro--view-type__interior" id="mde-three-sixty__intro--view-type__interior" data-view-type="interior" data-analytics-link-description="Interior" data-analytics-link-type="tab" data-analytics-link-component-name="360_colorizer">Interior</a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>

            <!-- Start: mde-three-sixty__exterior -->
            <div class="mde-three-sixty__content mde-three-sixty__content--exterior active">

                <!-- exterior navigation for mobile beggining -->
                <div class="mdp-navigation-vehicle mobile-color-picker is-xlarge" style="margin-top:60px; z-index: 3000; position: relative;">
                    <div class="mdp-navigation-vehicle__nav-wrapper container mde-three-sixty__colors active">
                        <ul class="mdp-navigation-vehicle__nav component-color-picker-1">
                            <li class="dot active mdp-navigation-vehicle__item" data-color="aluminium_metallic" data-color-value="c7c5c5" data-analytics-link-description="aluminium_metallic" data-analytics-link-type="radio" data-analytics-link-component-name="360_colorizer" style="width: 0px;" data-slick-index="0" aria-hidden="false" tabindex="0">
                                <span class="outer-circle">
                                    <span class="inner-circle"></span>
                                </span>
                                <span class="icon-check dot__selected"></span>
                                <div class="picker__tooltip">
                                    <div class="picker__tooltip__arrow-border"></div>
                                    <div class="picker__tooltip__arrow"></div>
                                    <div class="picker__tooltip__text">
                                        <span>Aluminium Metallic</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="mdp-navigation-vehicle__prev icon-gallery-left slick-arrow slick-disabled" style="left: 0px;" aria-disabled="true"></div>
                        <div class="mdp-navigation-vehicle__next icon-gallery-right slick-arrow" style="left: 222px;" aria-disabled="false"></div>
                    </div>
                </div>
                <!-- exterior navigation for mobile end -->

                <!-- exterior navigation for desktop and tablet beggining-->
                <div class="desktop-color-picker" style="bottom: 12px;">
                    <div class="container mde-three-sixty__colors active">
                        <ul id="componentId" class="component-color-picker-1" style="top:10px">

                            <li @click="changeColor(index)" :key="index" v-for="(color, index) in versionColors" class="dot" :class="{'active': color.active}" data-color="aluminium_metallic" data-color-value="c7c5c5" data-analytics-link-description="aluminium_metallic" data-analytics-link-type="radio" data-analytics-link-component-name="360_colorizer">
                                <span class="outer-circle">
                                    <span class="inner-circle" :style="[!color.active ? {background: color.rgba} : { background: `linear-gradient(to top, ${color.rgba} 0%, ${color.rgba} 50%, ${color.lessOpacity} 50%, ${color.lessOpacity} 100%)` }]"></span>
                                </span>
                                <span class="icon-check dot__selected" :style="[color.iconCheckBlack ? {color: '#101010'} : {color: 'white'}]"></span>
                                <div class="picker__tooltip">
                                    <div class="picker__tooltip__arrow-border"></div>
                                    <div class="picker__tooltip__arrow"></div>
                                    <div class="picker__tooltip__text">
                                        <span>{{ color.name }}</span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>


                <div style="display: none;" class="mde-three-sixty__color-name-container exterior active">
                    <div class="mde-three-sixty__color-name active" data-color="aluminium_metallic">
                        Aluminium Metallic
                    </div>
                    <div class="mde-three-sixty__color-name" data-color="artic_white">
                        Artic White
                    </div>
                    <div class="mde-three-sixty__color-name" data-color="deep_crystal_blue">
                        Deep Crystal Blue
                    </div>
                    <div class="mde-three-sixty__color-name" data-color="dynamic_blue">
                        Dynamic Blue
                    </div>
                    <div class="mde-three-sixty__color-name" data-color="eternal_blue">
                        Eternal Blue
                    </div>
                    <div class="mde-three-sixty__color-name" data-color="jet_black">
                        Jet Black
                    </div>
                    <div class="mde-three-sixty__color-name" data-color="machine_grey">
                        Machine Grey
                    </div>
                    <div class="mde-three-sixty__color-name" data-color="snowflake_whit">
                        Snowflake White
                    </div>
                    <div class="mde-three-sixty__color-name" data-color="soul_red_crystal">
                        Soul Red Crystal
                    </div>
                    <div class="mde-three-sixty__color-name" data-color="titanium_flash">
                        Titanium Flash
                    </div>

                </div>


                <div class="mde-three-sixty__drag active aling" id="mde-three-sixty__drag">
                    <p>HAZ CLIC Y ARRASTRA EL AUTO</p>
                </div>
                <!-- exterior navigation for desktop and tablet end -->


                <div class="mde-three-sixty" style="z-index: 0; height: 634px;">
                    <ol v-hammer:pan.horizontal="(originalevent) => drag360(originalevent, color)" style="height: 100%" v-for="(color, colorIndex) in versionColors" :class="{'active': color.active}" class="mde-three-sixty__images" v-if="color.active" :style="[color.active ? {display: 'block'} : {display: 'none'}]">
                        <li v-show="currentImageIndex === index" :key="index" v-for="(image, index) in color.images">
                            <img style="pointer-events: none" :src="image.src" alt="">
                        </li>
                    </ol>

                    <div class="mde-three-sixty__loader ajaxloader" style="display: none;">
                        <div class="arc"></div>
                    </div>
                </div>
            </div>
            <!-- End: mde-three-sixty__exterior -->

            <!-- Start: mde-three-sixty__interior -->
            <div class="mde-three-sixty__content mde-three-sixty__content--interior">
                <ul class="mde-three-sixty__interior-tabs">
                    <li>
                        <a class="mde-three-sixty__interior-color" data-interiorcolor="black_cloth " href="#">
                                    <span class="outer-swatch">
                                        <img class="lazypreload lazyloaded" data-src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected.png" alt="" src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected.png">
                                        <span class="inner-swatch">
                                            <img class="mde-three-sixty__interior-color__selection lazypreload lazyloaded" data-src="https://mazda-website-solution.s1.umbraco.io/media/4636/mazda_2_interior_thumb_1.png" alt="" src="https://mazda-website-solution.s1.umbraco.io/media/4636/mazda_2_interior_thumb_1.png">
                                            <span class="inner-swatch-overlay"><img class="lazypreload lazyloaded" data-src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected_overlay.png" alt="" src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected_overlay.png"></span>
                                        </span>
                                    </span>
                            <span class="icon-check dot__selected"></span>
                        </a>
                        <div class="picker__tooltip">
                            <div class="picker__tooltip__arrow-border"></div>
                            <div class="picker__tooltip__arrow"></div>
                            <div class="picker__tooltip__text">
                                <span>Black Cloth </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="mde-three-sixty__interior-color" data-interiorcolor="black_leather_black_sued" href="#">
                                    <span class="outer-swatch">
                                        <img class="lazypreload lazyloaded" data-src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected.png" alt="" src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected.png">
                                        <span class="inner-swatch">
                                            <img class="mde-three-sixty__interior-color__selection lazypreload lazyloaded" data-src="https://mazda-website-solution.s1.umbraco.io/media/4640/mazda_2_interior_thumb_5.png" alt="" src="https://mazda-website-solution.s1.umbraco.io/media/4640/mazda_2_interior_thumb_5.png">
                                            <span class="inner-swatch-overlay"><img class="lazypreload lazyloaded" data-src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected_overlay.png" alt="" src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected_overlay.png"></span>
                                        </span>
                                    </span>
                            <span class="icon-check dot__selected"></span>
                        </a>
                        <div class="picker__tooltip">
                            <div class="picker__tooltip__arrow-border"></div>
                            <div class="picker__tooltip__arrow"></div>
                            <div class="picker__tooltip__text">
                                <span>Black Leather/Black Suede</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="mde-three-sixty__interior-color active" data-interiorcolor="pure_white_leather_black_cloth" href="#">
                                    <span class="outer-swatch">
                                        <img class="lazypreload lazyloaded" data-src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected.png" alt="" src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected.png">
                                        <span class="inner-swatch">
                                            <img class="mde-three-sixty__interior-color__selection lazypreload lazyloaded" data-src="https://mazda-website-solution.s1.umbraco.io/media/4641/mazda_2_interior_thumb_6.png" alt="" src="https://mazda-website-solution.s1.umbraco.io/media/4641/mazda_2_interior_thumb_6.png">
                                            <span class="inner-swatch-overlay"><img class="lazypreload lazyloaded" data-src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected_overlay.png" alt="" src="https://www.mazdausa.com/addons/mdp.addons.assemble/ui/assets/images/swatch_unselected_overlay.png"></span>
                                        </span>
                                    </span>
                            <span class="icon-check dot__selected"></span>
                        </a>
                        <div class="picker__tooltip">
                            <div class="picker__tooltip__arrow-border"></div>
                            <div class="picker__tooltip__arrow"></div>
                            <div class="picker__tooltip__text">
                                <span>Pure White Leather/Black Cloth</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="mde-three-sixty__color-name-container interior">
                    <div class="mde-three-sixty__color-name" data-interiorcolor="black_cloth ">
                        Black Cloth
                    </div>
                    <div class="mde-three-sixty__color-name" data-interiorcolor="black_leather_black_sued">
                        Black Leather/Black Suede
                    </div>
                    <div class="mde-three-sixty__color-name active" data-interiorcolor="pure_white_leather_black_cloth">
                        Pure White Leather/Black Cloth
                    </div>
                </div>
                <div class="mde-three-sixty__interior-images" style="height: 489.406px;">
                    <img class="black_cloth lazypreload lazyautosizes lazyloaded" data-sizes="auto" data-src="https://mazda-website-solution.s1.umbraco.io/media/4630/mazda_2_interior_foto_1.jpg" alt="" sizes="900px" src="https://mazda-website-solution.s1.umbraco.io/media/4630/mazda_2_interior_foto_1.jpg">
                    <img class="black_leather_black_sued lazypreload lazyautosizes lazyloaded" data-sizes="auto" data-src="https://mazda-website-solution.s1.umbraco.io/media/4634/mazda_2_interior_foto_5.jpg" alt="" sizes="900px" src="https://mazda-website-solution.s1.umbraco.io/media/4634/mazda_2_interior_foto_5.jpg">
                    <img class="pure_white_leather_black_cloth lazypreload lazyautosizes lazyloaded active" data-sizes="auto" data-src="https://mazda-website-solution.s1.umbraco.io/media/4635/mazda_2_interior_foto_6.jpg" alt="" sizes="900px" src="https://mazda-website-solution.s1.umbraco.io/media/4635/mazda_2_interior_foto_6.jpg">
                </div>
            </div>
            <!-- End: mde-three-sixty__interior -->

            <div class="mde-three-sixty__cta mobile" style="margin: 100px 0;">
<!--                <a class="cta-1 cta" data-analytics-link-component-name="360_colorizer" data-analytics-link-description="BUILD THIS" data-analytics-link-type="cta" href="/en/modules/build-your-mazda"><div class="cta&#45;&#45;wrapper"><span class="cta-state-0">BUILD YOURS<span class="cta-state-1">BUILD YOURS</span><span class="cta-state-2">BUILD YOURS</span></span></div></a>-->
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    data(){
      return{
        currentImageIndex: 0,
        draggedDistance: 0
      }
    },
      props: {
        versionColors: Array
      },
    methods: {
      changeColor(colorIndex){
        this.versionColors = this.versionColors.map((versionColor, index) => {
          versionColor.active = index === colorIndex;
          return versionColor;
        })
      },
      drag360(event, currentColor){
        let horizontalDirection = event.type;

        if(this.draggedDistance < 11){
          this.draggedDistance++;
        } else{
          this.draggedDistance = 0;
        }

        if(this.draggedDistance === 10){
          if( horizontalDirection === 'panright' ){
            this.currentImageIndex = ( this.currentImageIndex === 0 ) ? currentColor.images.length - 1 : this.currentImageIndex - 1;
          } else{
            this.currentImageIndex = ( this.currentImageIndex === currentColor.images.length - 1 ) ? 0 : this.currentImageIndex + 1;
          }
        }
      }
    }
  }
</script>

<style scoped lang="scss">
    .mde-three-sixty__wrapper {
        max-width: 100%;
        padding: 0;
    }

    @media screen and (min-width: 1200px){
        .mde-three-sixty__wrapper {
            min-height: 800px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }

    .mde-three-sixty__wrapper, .itg-fix {
        min-height: auto;
        width: 100%;
        overflow: hidden;
    }

    .mde-three-sixty__wrapper .grid-row {
        width: 100%;
    }

    .mde-three-sixty__contain {
        height: auto;
        position: relative;
        padding: 80px 0 50px;
        width: 100%;
    }

    .mde-three-sixty__contain {
        padding-top: 0;
    }

    .mde-three-sixty__intro {
        position: relative;
        text-align: center;
        z-index: 3;
    }

    .mde-three-sixty__intro--tagline {
        /* font-family: InterstateBold; */
        font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
        letter-spacing: .2em;
        text-transform: uppercase;
        font-size: 20px;
        font-size: 2rem;
        margin-bottom: 25px;
    }

    .mde-three-sixty__intro--view-type {
        position: relative;
        width: 100%;
        z-index: 3;
        margin-bottom: 10px;
    }

    .mde-three-sixty__intro--view-type > ul {
        text-align: center;
    }

    .mde-three-sixty__intro--view-type > ul > li {
        display: inline-block;
    }

    .mde-three-sixty__intro--view-type > ul > li > a {
        display: block;
        padding: 0 14px;
        border-right: 1px solid #ccc;
        text-transform: uppercase;
        /* font-family: InterstateBold; */
        font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
        letter-spacing: .2em;
        color: #999999;
        font-size: 13px;
        font-size: 1.3rem;
    }

    .mde-three-sixty__intro--view-type > ul > li > a.active, .mde-three-sixty__intro--view-type > ul > li > a:hover {
        color: #101010;
        transition: color 250ms;
    }

    .mde-three-sixty__intro--view-type > ul > li:last-child > a {
        border-right: 0;
        padding-left: 13px;
    }

    .mde-three-sixty__content {
        opacity: 0;
        position: relative;
        transition: opacity 1s;
        visibility: hidden;
        z-index: 1;
    }

    .mde-three-sixty__content.active {
        left: inherit;
        margin-top: 0;
        opacity: 1;
        position: relative;
        top: inherit;
        visibility: visible;
    }

    .mde-three-sixty__content--exterior.active {
        margin-top: 67px;
    }

    .mde-three-sixty__content--exterior.active {
        margin-top: -60px;
    }

    @media screen and (min-width: 768px){
        .mdp-navigation-vehicle {
            overflow: hidden;
        }
    }

    .mobile-color-picker {
        display: none;
    }

    .the__three-sixty .desktop-color-picker {
        position: relative;
        z-index: 3;
    }

    .mde-three-sixty__colors {
        height: 87px;
        left: 0;
        margin-bottom: 0;
        opacity: 0;
        position: absolute;
        text-align: center;
        transition: opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
        width: 100%;
    }

    .mde-three-sixty__colors.active {
        opacity: 1;
    }

    .the__three-sixty .desktop-color-picker .container {
        position: relative;
        margin-top: 78px;
    }

    .mde-three-sixty__colors .component-color-picker-1 {
        margin-bottom: 10px;
        position: relative;
    }

    .mde-three-sixty__colors .dot {
        height: 38px;
        width: 38px;
        display: inline-block;
        margin: 0 5px;
        position: relative;
    }

    .mde-three-sixty__colors .component-color-picker-1 .dot {
        cursor: pointer;
    }

    .mde-three-sixty__colors .component-color-picker-1 span {
        transition: none;
        border: 0;
    }

    .mde-three-sixty__colors .component-color-picker-1 .outer-circle {
        background-color: #e7e7e7;
        border-radius: 50%;
        border: 0;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
        display: block;
        height: 38px;
        position: absolute;
        width: 38px;
        left: 50%;
        top: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .mde-three-sixty__colors .component-color-picker-1 .inner-circle {
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: 9px;
        left: 9px;
        border-radius: 50%;
    }

    .mde-three-sixty__colors > ul [data-color="aluminium_metallic"] .inner-circle {
        background-color: #c7c5c5;
    }

    .mde-three-sixty__colors > ul [data-color="artic_white"] .inner-circle {
        background-color: #f5f5f5;
    }

    .mde-three-sixty__colors > ul [data-color="artic_white"] .icon-check{
        color: #101010;
    }

    .mde-three-sixty__colors > ul [data-color="aluminium_metallic"].active .inner-circle {
        background: linear-gradient(to top, rgba(199,197,197,1) 0%, rgba(199,197,197,1) 50%, rgba(199,197,197,0.84) 50%, rgba(199,197,197,0.84) 100%);
    }

    .mde-three-sixty__colors .component-color-picker-1 .dot.active .inner-circle {
        -webkit-transform: scale(1.71);
        transform: scale(1.71);
        transition: -webkit-transform 100ms;
        transition: transform 100ms;
    }

    .mde-three-sixty__colors .component-color-picker-1 .dot__selected {
        width: 38px;
        height: 38px;
        opacity: 0;
        visibility: hidden;
        line-height: 1.1;
        position: absolute;
        transition: opacity 100ms, visibility 100ms;
        transition-delay: 100ms;
        color: #ffffff;
        font-size: 15px;
        padding: 0px;
        left: 50%;
        top: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .mde-three-sixty__colors .component-color-picker-1 .dot.active .dot__selected {
        opacity: 1;
        visibility: visible;
    }

    .icon-check:before {
        content: "\f105";
        position: absolute;
        left: 50%;
        top: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .mde-three-sixty__colors .dot .picker__tooltip {
        display: none;
        color: #999999;
        height: 45px;
        left: 50%;
        opacity: 0;
        position: absolute;
        pointer-events: none;
        margin-left: -300px;
        transition: all .4s ease;
        top: 46px;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        width: 600px;
        z-index: 3;
        text-align: center;
    }

    @media screen and (min-width: 960px){
        .mde-three-sixty__colors .dot .picker__tooltip {
            display: block;
        }
    }

    .mde-three-sixty__colors .dot .picker__tooltip__arrow-border {
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #d5d5d5;
        left: 288px;
        position: absolute;
        top: -12px;
    }

    .mde-three-sixty__colors .dot .picker__tooltip__arrow {
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #e7e7e7;
        left: 288px;
        position: absolute;
        top: -11px;
    }

    .mde-three-sixty__colors .dot .picker__tooltip__text {
        display: table;
        height: 45px;
        padding: 0 23px;
        margin: 0 auto;
        background: #e7e7e7;
        border-radius: 3px;
        border: 1px solid #d5d5d5;
    }

    .mde-three-sixty__colors .component-color-picker-1 span {
        transition: none;
        border: 0;
    }

    .mde-three-sixty__colors .dot .picker__tooltip__text span {
        display: table-cell;
        /* font-family: "InterstateLight", helvetica, arial, sans-serif; */
        font-family: "MazdaTypeTT-Regular", helvetica, arial, sans-serif;
        font-size: 15px;
        font-size: 1.5rem;
        vertical-align: middle;
        white-space: nowrap;
    }

    @media (min-width: 959px){
        .mde-three-sixty__wrapper .mde-three-sixty__colors .dot:hover .picker__tooltip {
            opacity: 1;
            display: block;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    .mde-three-sixty__drag {
        position: absolute;
        bottom: 10px;
        right: 15%;
        z-index: 2;
    }

    .mde-three-sixty__drag.aling {
        bottom: auto;
        display: block;
    }

    @media (min-width: 1025px){
        .the__three-sixty .mde-three-sixty__drag {
            position: relative;
            right: 0;
            text-align: center;
            margin-top: -30px;
        }
    }

    .mde-three-sixty__drag > p {
        font-size: 12px;
        font-size: 1.2rem;
        font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
        letter-spacing: .2em;
        text-transform: uppercase;
        margin: 0;
    }

    .mde-three-sixty__drag > p:after {
        content: '\f101';
        font-family: 'standard-icon-font';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .mde-three-sixty__drag > p::after {
        content: '\f101';
        font-size: 34px;
        position: relative;
        top: 13px;
        left: 13px;
    }

    .mde-three-sixty {
        cursor: -webkit-grab;
        margin: 0 auto;
        overflow: hidden;
    }

    .active .mde-three-sixty {
        height: 540px;
        margin: 0 auto;
        width: 100%;
    }

    @media (min-width: 768px){
        .the__three-sixty .mde-three-sixty {
            position: relative;
            margin-top: -70px;
            margin-bottom: -65px;
        }
    }

    .mde-three-sixty__images {
        position: relative;
        margin: 0 auto;
        display: none;
        z-index: 1;
    }

    .mde-three-sixty__images.active {
        z-index: 2;
    }

    .previous-image {
        opacity: 0;
        width: 100%;
    }

    .current-image {
        visibility: visible;
        opacity: 1;
        width: 100%;
    }

    .mde-three-sixty > ol > li > img {
        position: absolute;
        top: 0;
        height: auto;
        left: 50%;
        max-width: 1200px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        transition: -webkit-filter 800ms;
        width: 100%;
        max-height: 100vh;
        object-fit: cover;
    }

    .mde-three-sixty__content {
        opacity: 0;
        position: relative;
        transition: opacity 1s;
        visibility: hidden;
        z-index: 1;
    }

    .mde-three-sixty__cta {
        text-align: center;
        margin-top: -3%;
        position: relative;
        z-index: 2;
    }

    .mde-three-sixty__cta {
        margin: 20px 0;
    }

    .mde-three-sixty__cta .cta {
        margin-bottom: 0;
    }

    .mde-three-sixty__content--exterior, .mde-three-sixty__content--interior {
        left: -9999px;
        position: absolute;
        top: -9999px;
    }
</style>
