<template>
    <div class="mde-specs__content">
        <div class="mde-specs__content--bottom">
            <div class="mde-specs__trim-content active" style="opacity: 1; transform: translateY(0px);">
                <ul class="component-accordion-1">
                    <li  
                      v-for="(spec, indexSpec) in specs" 
                      :class="{ active:spec.active}"
                      @click="toggleActiveSpec(indexSpec)"
                      >
                        <button class="item-title" data-analytics-link-description="Accordion Exterior" data-analytics-link-type="expand" data-analytics-link-component-name="accordion_vlp">{{spec.title}}</button>
                        <div class="item-content">
                            <table>
                                <tbody>
                                    <tr v-for="(category, indexCategory) in spec.categories">
                                        <td>{{category.name}}</td>
                                        <td>
                                            <p>Faros delanteros LED<br>Faros de día<br>Faros delanteros de apagado automático<br>Limpiaparabrisas intermitentes de velocidad variable<br>Limpiaparabrisas trasero intermitente con dispositivo de lavado<br>Espejos
                                                laterales eléctricos del color de la carrocería con luces&nbsp;LED de señal de giro <br>Antena "aleta de tiburón" instalada en el techo<br>Alerón trasero en el techo del color de la carrocería<br>Tubo de escape
                                                con puntas dobles con acabado brillante</p>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
               
            </div>
        </div>
        
    </div>
</template>
<script>
export default {
    
    data() {
        return {
            specs :[
                {
                    title:'Motor y sistema mecánico',
                    categories:[
                        {
                            name:'Motor y Transmisión'
                        },
                        {
                            name:'Especificaciones Técnicas'
                        },
                        {
                            name:'Transmisión'
                        }
                    ],
                    active: false
                },
                {
                    title:'Exterior',
                    categories:[
                        {
                            name:'Exterior'
                        },
                        {
                            name:'Dimensiones'
                        },
                        {
                            name:'Neumáticos'
                        }
                    ],
                    active: false
                },
                {
                    title:'Interior',
                    categories:[
                        {
                            name:'Interior'
                        },
                        {
                            name:'Confort'
                        },
                        {
                            name:'Multimedia'
                        }
                    ],
                    active: false
                },
                {
                    title:'Seguridad y Protección',
                    categories:[
                        {
                            name:'Seguridad'
                        }
                    ],
                    active: false
                },
                {
                    title:'Garantía',
                    categories:[
                        {
                            name:'Garantía'
                        }
                    ],
                    active: false
                }
            ]
        }
    },
    methods: {
        toggleActiveSpec(id){
            this.specs[id].active =  !this.specs[id].active
        }
    }
}
</script>

<style lang="scss" scoped>
.mde-specs__content {
    display: block;
    padding: 0 8%;
    /* text-align: center; */
}
.mde-specs__content--bottom {
    padding: 100px 0;
}
.mde-specs__content--bottom .mde-specs__trim-content {
    display: none;
    opacity: 0;
}
.mde-specs__content--bottom .mde-specs__trim-content.active, .mde-specs__image--car.active {
    display: block;
}
.component-accordion-1>li, .component-accordion-2>li, .component-accordion-3>li, .component-accordion-4>li {
    border-bottom: 1px solid #e7e7e7;
    display: block;
}
.mde-specs__content--bottom .mde-specs__trim-content li {
    border-bottom: 1px solid rgba(153,153,153,.5);
}
.component-accordion-1>li>.item-title, .component-accordion-2>li>.item-title, .component-accordion-4>li>.item-title {
    display: block;
    width: 100%;
}
.component-accordion-1>li>.item-title, .component-accordion-2>li>.item-title, .component-accordion-3>li>.item-title, .component-accordion-4>li>.item-title {
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: .2em;
    padding: 25px 0;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 768px)
 {
     .component-accordion-1>li>.item-title, .component-accordion-2>li>.item-title, .component-accordion-3>li>.item-title, .component-accordion-4>li>.item-title{
    padding: 40px 0;

     }
}
.component-accordion-1>li>.item-title {
    background-color: #f5f5f5;
    transition: border 0s;
    color: #101010;

    &:focus{
        outline: none;
    }
}
.mde-specs__content--bottom .mde-specs__trim-content li .item-title {
    background-color: transparent;
    color: #999;
    padding: 30px 0;
}
.component-accordion-1>li>.item-content, .component-accordion-2>li>.item-content, .component-accordion-3>li>.item-content, .component-accordion-4>li>.item-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 0;
    transition: max-height .5s ease-in-out,opacity .4s;
    z-index: 1;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.component-accordion-1>li>.item-title:before, .component-accordion-2>li>.item-title:before, .component-accordion-3>li>.item-title:before, .component-accordion-4>li>.item-title:before, .component-navigation-6 .next a:before {
    content: '\f133';
    font-family: 'standard-icon-font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.component-accordion-1>li>.item-title:before, .component-accordion-2>li>.item-title:before, .component-accordion-3>li>.item-title:before, .component-accordion-4>li>.item-title:before {
    content: '\f130';
}
.component-accordion-1>li>.item-title::before {
    right: 0;
}
.component-accordion-1>li>.item-title::before, .component-accordion-2>li>.item-title::before, .component-accordion-3>li>.item-title::before, .component-accordion-4>li>.item-title::before {
    top: 50%;
    position: absolute;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    font-size: 22px;
    font-size: 2.2rem;
}
.component-accordion-1>li>.item-title::before {
    color: #999;
}
.mde-specs__content--bottom .mde-specs__trim-content li .item-content table {
    margin-bottom: 50px;
    text-align: left;
    height: auto!important;
    width: 100%!important;
}
.mde-specs__content--bottom .mde-specs__trim-content li .item-content table td {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2.5;
    padding-bottom: 40px;
}
.mde-specs__content--bottom .mde-specs__trim-content li .item-content table td:first-child {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .2em;
    line-height: 1.1;
    margin-right: -.2em;
    padding-right: 30px;
    text-transform: uppercase;
    width: 40%;
}
.component-accordion-1>li.active>.item-content, .component-accordion-2>li.active>.item-content, .component-accordion-3>li.active>.item-content, .component-accordion-4>li.active>.item-content {
    max-height: 10000px;
    max-height: 1000rem;
    opacity: 1;
}
</style>
