<template>
  <div class="tabs-component" style="text-align: center">
    <div class="tabs__list-contain">
      <ul class="tabs__list">
        <li :class="{'active': key === 0}" class="grades-li" v-for="(tab, key) in tabs" :key="key">
          <a :href="'#' + tab.slug">{{ tab.name }}</a>
        </li>
      </ul>
      <div class="tabs__active-line"></div>
      <div class="tabs__inactive-line"></div>
    </div>
    <!--        <div class="component-dropdown-1 mde-feat-cat__dropdown">-->
    <!--            <select class="drives-select select2-hidden-accessible" tabindex="-1" aria-hidden="true">-->
    <!--                <option value="0">-->
    <!--                    FWD-->
    <!--                </option>-->
    <!--                <option value="1">-->
    <!--                    AWD-->
    <!--                </option>-->
    <!--            </select>-->
    <!--        </div>-->
  </div>
</template>

<script>
  export default {
    props: {
      tabs: Array
    },
    mounted() {
      let $activeLine = $('.tabs__active-line');
      let $inactiveLine = $('.tabs__inactive-line');
      let $tabsLinks = $('.tabs__list li a');

      let initialPositionLeft = $tabsLinks.first().position().left;
      let initialWidth = $tabsLinks.first().outerWidth();

      $activeLine.css('width', initialWidth);
      $inactiveLine.css('width', '100%');

      $tabsLinks.on('click', function (e) {
        e.preventDefault();
        let $clickedElement = $(this);
        let positionLeft = $clickedElement.position().left;
        let width = $clickedElement.outerWidth();
        let $target = $($clickedElement.attr('href'));

        $clickedElement.closest('ul').find('li').removeClass('active');
        $clickedElement.closest('li').addClass('active');
        $activeLine.css('left', positionLeft + 'px');
        $activeLine.css('width', width + 'px');

        $target.siblings().removeClass('active');
        $target.addClass('active');
      });
    }
  }
</script>

<style scoped lang="scss">
  .tabs__list-contain {
    display: inline-block;
  }

  .tabs__list {
    visibility: visible;
    position: relative;
    text-align: center;
    display: inline-block;
  }

  .grades-li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
    color: rgb(170, 170, 170);
    text-decoration: none;
    /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
    font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
    font-size: 13px;
  }

  .grades-li.active {
    pointer-events: none;
  }

  .grades-li a {
    display: block;
    color: rgb(170, 170, 170);
    padding: 10px 30px;
    cursor: pointer;
    margin-bottom: 2px;
    transition: color .3s, background .3s, border .3s;
    text-decoration: none;
  }

  .grades-li.active a {
    color: #101010;
  }

  .tabs__inactive-line {
    position: relative;
    width: 0;
    height: 1px;
    background: #e7e7e7;
    transition: all 1s;
  }

  .tabs__active-line {
    position: relative;
    left: 0;
    width: 0;
    height: 2px;
    background: #101010;
    transition: left 1s, width 1s, background 250ms;
  }
</style>
