<template>
  <div class="tabs-content-container">
    <div :key="key" v-for="(tab, key) in tabs" class="tab-content" :class="{'active': key === 0}" :id="tab.slug">
      <slot :name="tab.slug"></slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      tabs: Array
    }
  }
</script>

<style scoped lang="scss">
  .tabs-content-container{
    .tab-content{
      height: 0;
      overflow: hidden;

      &.active{
        height: auto;
      }
    }
  }
</style>
