<template>
    <div class="container--full-width no-gutter fullwithcentered" :class="{'Black': bgBlack, 'Light Gray': !bgBlack}" role="complementary" aria-label="Ready for you">
        <div class="grid-row">
            <div class="grid-col-medium-12">
                <div class="container">
                    <div class="grid-row">
                        <div class="grid-col-medium-6 center">
                            <section>
                                <div class="fw-text-container" style="text-align: center;">
                                    <img v-if="imageSrc" :src="imageSrc" alt="">
                                </div>
                                <p class="sub-section-heading" style="text-align: center;">
                                    {{ title }}
                                </p>
                                <p style="text-align: center; margin-bottom: 10px;">
                                    {{ text }}
                                </p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: 'READY FOR YOU'
      },
      text: {
        type: String,
        default: 'Mazda2 proves that sometimes the best things come in small packages. Bursting with energy, character and vitality, its striking Kodo: "Soul of Motion" design gives it standout presence to keep turning heads. Engineered into every Mazda is Jinba Ittai, that sense of being at one with the car, like a horse and rider.'
      },
      bgBlack: {
        type: Boolean,
        default: false
      },
      imageSrc: {
        type: String
      }
    }
  }
</script>

<style scoped lang="scss">
    .fullwithcentered {
        padding-bottom: 23px;
    }

    .grid-row .grid-row {
        zoom: 1;
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px){
        .container > .grid-row:first-child, .grid-row.push-top, .layout > .grid-row:first-child {
            margin-top: 20px;
            margin-top: 2rem;
        }
    }

    @media screen and (min-width: 960px){
        .container > .grid-row:first-child, .grid-row.push-top, .layout > .grid-row:first-child {
            margin-top: 24px;
            margin-top: 2.4rem;
        }
    }

    .container--full-width.no-gutter > .grid-row .grid-row {
        margin-bottom: 20px;
    }

    .container--full-width.no-gutter > .grid-row .grid-row {
        margin-bottom: 0px;
    }

    .fw-text-container {
        text-align: center;
        margin: 20px 0 30px 0;
    }

    .sub-section-header, .sub-section-heading {
        font-size: 16px;
        font-size: 1.6rem;
        /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
        font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
        letter-spacing: .2em;
        text-transform: uppercase;
        line-height: 23px;
        margin-bottom: 25px;
    }

    .fullwithcentered .sub-section-heading {
        font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
    }

    .fw-text-container > img {
        max-width: 100%;
    }

    .titulo-container.Black, .container--full-width.Black {
        background-color: #101010;
        color: white;
    }
</style>
