<template>
  <div class="three-blurbs-full-width-component-container">
    <div class="itg-parent" role="complementary" aria-label="Image Grid">
      <div class="layout itg-fix for-mobile" id="slider_1">
        <div
          class="container--full-width no-gutter flex Light Gray"
          style="background-color: #FFFFFF;"
        >
          <div class="grid-row mdp-flexiblecontent-tout__row first blurbs-container-desktop-version" style="width: 100%;">
            <div v-for="element in elements" class="grid-col-medium-4 img_text_hover gridImgCtn">
              <div class="mdp-flexiblecontent-tout--full-width Light Gray" style="margin:0px;">
                <a
                  :href="element.url"
                  data-analytics-link-description
                  data-analytics-link-type="inline"
                  data-analytics-link-component-name="divider_block"
                >
                  <span class="height-overflow-fix">
                    <div
                      class="mdp-flexiblecontent-tout--full-width__image-container center ie_image-fit"
                    >
                      <img
                        class="mdp-flexiblecontent-tout--full-width__image lazyloaded"
                        :src="element.imageSrc"
                      >
                    </div>
                  </span>
                </a>
                <div class="tout--description">
                  <a
                    :href="element.url"
                    data-analytics-link-description="

                                                Mazda3


                                                More control, more comfort, more exhilaration.

                                            "
                    data-analytics-link-type="inline"
                    data-analytics-link-component-name="divider_block"
                  >
                    <header class="mdp-flexiblecontent-tout--full-width__header-primary">
                      <h3>{{ element.title }}</h3>
                    </header>
                    <header class="mdp-flexiblecontent-tout__header-pre">
                      <p style="text-transform: none;">{{ element.text }}</p>
                    </header>
                  </a>
                  <div class="component-cta">
                    <a
                      :href="element.url"
                      data-analytics-link-description="
                                                "
                      data-analytics-link-type="inline"
                      data-analytics-link-component-name="divider_block"
                    ></a>
                    <a
                      :href="element.url"
                      class="cta cta-3"
                      data-analytics-link-description="
                                                            Discover Mazda3
                                                        "
                      data-analytics-link-type="cta"
                      data-analytics-link-component-name="divider_block"
                    >
                      <div class="cta--wrapper">
                        <span class="cta-state-0">{{ element.buttonText }}</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-row mdp-flexiblecontent-tout__row first blurbs-container-mobile-version" style="width: 100%;">
            <slick :options="slickOptions">
              <div v-for="element in elements" class="grid-col-medium-4 img_text_hover gridImgCtn">
                <div class="mdp-flexiblecontent-tout--full-width Light Gray" style="margin:0px;">
                  <a
                      :href="element.url"
                      data-analytics-link-description
                      data-analytics-link-type="inline"
                      data-analytics-link-component-name="divider_block"
                  >
                  <span class="height-overflow-fix">
                    <div
                        class="mdp-flexiblecontent-tout--full-width__image-container center ie_image-fit"
                    >
                      <img
                          class="mdp-flexiblecontent-tout--full-width__image lazyloaded"
                          :src="element.imageSrc"
                      >
                    </div>
                  </span>
                  </a>
                  <div class="tout--description">
                    <a
                        :href="element.url"
                        data-analytics-link-description="

                                                Mazda3


                                                More control, more comfort, more exhilaration.

                                            "
                        data-analytics-link-type="inline"
                        data-analytics-link-component-name="divider_block"
                    >
                      <header class="mdp-flexiblecontent-tout--full-width__header-primary">
                        <h3>{{ element.title }}</h3>
                      </header>
                      <header class="mdp-flexiblecontent-tout__header-pre">
                        <p style="text-transform: none;">{{ element.text }}</p>
                      </header>
                    </a>
                    <div class="component-cta">
                      <a
                          :href="element.url"
                          data-analytics-link-description="
                                                "
                          data-analytics-link-type="inline"
                          data-analytics-link-component-name="divider_block"
                      ></a>
                      <a
                          :href="element.url"
                          class="cta cta-3"
                          data-analytics-link-description="
                                                            Discover Mazda3
                                                        "
                          data-analytics-link-type="cta"
                          data-analytics-link-component-name="divider_block"
                      >
                        <div class="cta--wrapper">
                          <span class="cta-state-0">{{ element.buttonText }}</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </slick>
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="callToAction.show"
      class="container--full-width no-gutter cta-insolated Light Gray call-to-action-container"
      role="complementary"
      :aria-label="callToAction.text"
    >
      <div class="grid-row">
        <div class="grid-col-medium-12">
          <div class="container">
            <div style="text-align: center;" class="cta-container">
              <a :href="callToAction.url" class="cta-1 cta-1 cta">
                <div class="cta--wrapper">
                  <span class="cta-state-0">
                    {{ callToAction.text }}
                    <span class="cta-state-1">{{ callToAction.text }}</span>
                    <span class="cta-state-2">{{ callToAction.text }}</span>
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      slickOptions: {
        slidesToShow: 1,
        arrows: true,
        prevArrow: '<div class="main-slider-arrow main-slider-arrow-prev"></div>',
        nextArrow: '<div class="main-slider-arrow main-slider-arrow-next"></div>',
        dots: false
      }
    }
  },
  props: {
    elements: {
      type: Array,
      default: () => {
        return [
          {
            imageSrc:
              'https://mazda-website-solution.s1.umbraco.io/media/6408/image_and_text_grid_1.jpg',
            title: 'Mazda3',
            text: 'More control, more comfort, more exhilaration.',
            buttonText: 'Discover Mazda3',
            url: '/en/mazda3/'
          },
          {
            imageSrc:
              'https://mazda-website-solution.s1.umbraco.io/media/6409/image_and_text_grid_2.jpg',
            title: 'MX-5 RF',
            text: 'An icon reimagined.',
            buttonText: 'Discover MX-5 RF',
            url: '/en/mazda-mx-5-rf'
          },
          {
            imageSrc:
              'https://mazda-website-solution.s1.umbraco.io/media/6410/image_and_text_grid_3.jpg',
            title: 'Mazda CX-9',
            text: 'Three rows, endless refinement.',
            buttonText: 'Discover CX-9',
            url: '/en/mazda-cx-9'
          }
        ]
      }
    },
    callToAction: {
      type: Object,
      default: () => {
        return {
          show: true,
          text: 'Explore the mazda range',
          url: '/en/vehicles/'
        }
      }
    }
  }
}
</script>

<style lang="scss">
  .three-blurbs-full-width-component-container{

    .mdp-flexiblecontent-tout__row [class*='grid-col-'] {
      display: flex;
    }

    .mdp-flexiblecontent-tout--full-width {
      position: relative;
      width: 100%;
    }

    .itf-mobile .container134 a,
    .itg-fix a {
      color: #101010;
    }

    .gridImgCtn > div > a {
      display: block;
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .mdp-flexiblecontent-tout--full-width__image-container {
      display: flex;
      align-items: center;
      max-height: 40vh;
      /* height: 40vh; */
      overflow: hidden;
      position: relative;
    }

    .mdp-flexiblecontent-tout--full-width__image-container.center {
      align-items: center;
      background-position: center;
    }

    .mdp-flexiblecontent-tout--full-width__image {
      width: 100%;
      min-height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      transition: -webkit-transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      -webkit-transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      &:hover {
        -webkit-transform: scale(1.07) translateZ(0);
        transform: scale(1.07) translateZ(0);
        transition-timing-function: ease-in-out;
      }
    }

    .mdp-flexiblecontent-tout--full-width .tout--description {
      flex: 1;
      margin: 35px 0;
      padding: 0 10%;
      position: relative;
      text-align: center;
    }

    .mdp-flexiblecontent-tout--full-width__header-primary * {
      font-size: 16px;
      font-size: 1.6rem;
      margin-bottom: 4px;
      margin-bottom: 0.4rem;
      letter-spacing: 0.2em;
    }

    .mdp-flexiblecontent-tout__header-pre {
      position: relative;
    }

    .img_text_hover > div:hover .cta-3 .cta-state-0 {
      transition: all 300ms, visibility 0s;
      transition-timing-function: cubic-bezier(0.9, 0, 0.07, 1);
      padding-bottom: 1px;
      border-bottom: 2px solid #91172e;
    }

    .img_text_hover > div:hover .cta-3 .cta-state-0 {
      margin-bottom: 3px;
    }

    .second.itf-mobile {
      display: none;
    }

    @media screen and (min-width: 768px) {
      .mdp-flexiblecontent-tout__row {
        display: flex;
      }

      .mdp-flexiblecontent-tout--full-width__image {
        margin: 0px;
        -webkit-transform: scale(1) translateZ(0);
        transform: scale(1) translateZ(0);
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        /* -ms-interpolation-mode: nearest-neighbor; */
      }
    }

    .blurbs-container-mobile-version{
      display: none;
    }

   @media all and (max-width: 768px){
     .blurbs-container-desktop-version{
       display: none;
     }

     .blurbs-container-mobile-version{
       display: block;
       
       .slick-track{
         background: #f5f5f5;
       }
     }

     .mdp-flexiblecontent-tout--full-width__image-container{
       height: 377px;
       max-height: none;
     }

     .main-slider-arrow{
       width: 20px;
       height: 39px;
       position: absolute;
       top: 31.5%;
       transform: translateY(-50%);
       z-index: 2;
       background-position: center;
       cursor: pointer;

       &.main-slider-arrow-prev{
         background-image: url('~assets/img/icon-arrow-left-gray.svg');
         left: 12px;
       }
       &.main-slider-arrow-next{
         background-image: url('~assets/img/icon-arrow-right-gray.svg');
         right: 12px;
       }
     }

     .mdp-flexiblecontent-tout__header-pre{
       padding-bottom: 20px;
     }

     .mdp-flexiblecontent-tout--full-width .tout--description{
       margin-bottom: 0;
     }

     .call-to-action-container{
       padding-top: 38px;

       .cta-1.cta{
         width: 100%;
       }
     }
   }
  }
</style>
