<template>
    <div class="container--full-width">
        <div class="mdp-flexiblecontent-timeline" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <div class="mdp-flexiblecontent-timeline__slider" style="transform: translateX(-300vw);">
    
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1920_mazdalogo.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1920_mazdalogo.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1920_mazdalogo.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1920_mazdalogo.jpg?w=480" media="(max-width: 480px)" sizes="191px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1920_mazdalogo.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1920_mazdalogo.jpg?w=767" sizes="191px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1920_mazdalogo.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="191px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 1</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">MOMENTOS EN LA HISTORIA DE MAZDA</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <p>Desde el primer día, hemos construido autos en los que te sientes mejor al bajarte de lo que te sentías antes de haberte subido. Ponemos nuestro corazón y alma en todo lo que creamos. Estos son solo algunos de nuestros favoritos.</p>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">1920</h5>
                    <p class="mdp-flexiblecontent-timeline__item--mobile">Arrastra para ver la historia de Mazda</p>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1931_3whltruck.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1931_3whltruck.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1931_3whltruck.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1931_3whltruck.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1931_3whltruck.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1931_3whltruck.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1931_3whltruck.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 2</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">CAMIONETA DE TRES RUEDAS</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>El primer vehículo de producción de Mazda.</li>
                                <li>Conocido como Mazda-Go.</li>
                                <li>El logo de Mitsubishi visible en el tanque de combustible ya que los Mazda se comercializaron a través de su red hasta 1936.</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">1931</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1960_r360coupe.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1960_r360coupe.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1960_r360coupe.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1960_r360coupe.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1960_r360coupe.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1960_r360coupe.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1960_r360coupe.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 3</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">CUPÉ R360</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>El primer auto para dos pasajeros de Mazda.</li>
                                <li>Impulsado por un motor de 356cc y 16 caballos de fuerza refrigerado por aire.</li>
                                <li>Gracias al amplio ahorro en peso, logra 75 MPG sin precedentes.</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">1960</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1967_cosmosports.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1967_cosmosports.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1967_cosmosports.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1967_cosmosports.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1967_cosmosports.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1967_cosmosports.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1967_cosmosports.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 4</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">MAZDA COSMO SPORTS</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>El primer vehículo con motor rotativo de Mazda.</li>
                                <li>Genera 110 caballos de fuerza.</li>
                                <li>Alcanza una velocidad máxima de 115 mph y un cuarto de milla en 16.3 segundos.</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">1967</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1978-savannah-rx7.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1978-savannah-rx7.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1978-savannah-rx7.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1978-savannah-rx7.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1978-savannah-rx7.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1978-savannah-rx7.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1978-savannah-rx7.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 5</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">SAVANNA RX-7</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>Desarrollado bajo el lema sencillo de "la búsqueda del placer de conducir".</li>
                                <li>130 caballos de fuerza con maniobrabilidad sorprendente.</li>
                                <li>El único auto japonés de ese tiempo con faros delanteros desplegables, que reducían la resistencia al aire.</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">1978</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item previous" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="left" data-analytics-link-type="arrow"
                    data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1984-mazdafoundation.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1984-mazdafoundation.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1984-mazdafoundation.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1984-mazdafoundation.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1984-mazdafoundation.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1984-mazdafoundation.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1984-mazdafoundation.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 6</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">MAZDA FOUNDATION</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>Mazda creó la Mazda Foundation como una manera de retribución a la comunidad.</li>
                                <li>Donamos dinero, así como también nuestro tiempo.</li>
                                <li>Apoya a organizaciones sin fines de lucro como Challenged Athletes Foundations, Second Harvest Food Bank y After-School All-Stars.&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">1984</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item active" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1989-mx5-roadster.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1989-mx5-roadster.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1989-mx5-roadster.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1989-mx5-roadster.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1989-mx5-roadster.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1989-mx5-roadster.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1989-mx5-roadster.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 7</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">MAZDA MX-5 MIATA</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>Presentación del convertible de Mazda.</li>
                                <li>Auto liviano puramente deportivo.</li>
                                <li>Hasta hoy, se ha fabricado un millón de ellos. &nbsp;&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">1989</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item next" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="right" data-analytics-link-type="arrow"
                    data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1991-lemans.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1991-lemans.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1991-lemans.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1991-lemans.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1991-lemans.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1991-lemans.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1991-lemans.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 8</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">MAZDA 787B NO.55 GANA LE MANS</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>La primera victoria en las 24 Horas de Le Mans para el fabricante de autos japonés y el motor rotativo.</li>
                                <li>El primer intento de Mazda en la carrera de resistencia fue en 1974.</li>
                                <li>Mazda hizo otro intento en 1979 y cada año desde 1981 hasta 1991 y obtuvo la victoria en su 13<sup></sup>° intento.&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">1991</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2002-zoomzoom.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2002-zoomzoom.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2002-zoomzoom.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2002-zoomzoom.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2002-zoomzoom.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2002-zoomzoom.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2002-zoomzoom.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 9</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">ZOOM-ZOOM</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>Mazda presenta el mensaje de la marca “Zoom-Zoom”.</li>
                                <li>Trasciende las barreras lingüísticas.</li>
                                <li>Comunica la alegría del movimiento experimentado por primera vez como un niño.</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">2002</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-kodo.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-kodo.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-kodo.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-kodo.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-kodo.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-kodo.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-kodo.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 10</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">KODO: EL DISEÑO "ALMA EN MOVIMIENTO”</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>Mazda anuncia un nuevo tema de diseño de KODO.</li>
                                <li>Capta la sensación de movimiento, incluso en punto muerto.</li>
                                <li>Se reveló junto a un prototipo que representó el tema: Mazda Shinari.</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">2010</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-skyactiv.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-skyactiv.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-skyactiv.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-skyactiv.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-skyactiv.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-skyactiv.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-skyactiv.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 11</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">TECNOLOGÍA SKYACTIV®</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>Mazda anuncia el nombre colectivo de las tecnologías de los vehículos principales.</li>
                                <li>La tecnología abarca todo, desde motores, transmisiones, carrocería y chasis.</li>
                                <li>Desempeño + eficiencia = SKYACTIV TECHNOLOGY</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">2010</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2013-d4g.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2013-d4g.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2013-d4g.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2013-d4g.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2013-d4g.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2013-d4g.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2013-d4g.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 12</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">MAZDA DRIVE FOR GOOD®</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>La auténtica forma de Mazda de retribuir a la comunidad.</li>
                                <li>Por cada prueba de manejo realizada durante el evento Mazda Drive for Good, Mazda retribuye con una hora de tiempo para causas locales.</li>
                                <li>Por cada auto comprado durante el evento, Mazda hace una donación a una organización de beneficencia a elección del comprador.&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">2013</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2015-drivingmatters.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2015-drivingmatters.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2015-drivingmatters.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2015-drivingmatters.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2015-drivingmatters.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2015-drivingmatters.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2015-drivingmatters.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 13</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">DRIVING MATTERS®</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>Lanzamiento de la campaña "Driving Matters" .&nbsp;</li>
                                <li>“A Driver’s Life”, comercial emitido en televisión en apoyo a la campaña.</li>
                                <li>Más que una campaña, es la filosofía detrás de todo lo que hacemos.&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">2015</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__slider--item" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" data-analytics-link-description="" data-analytics-link-type="" data-analytics-link-component-name="timeline">
                    <div class="mdp-flexiblecontent-timeline__item--image lazyloaded" data-bgset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2016-carofyear.jpg?w=480 [(max-width: 480px)] | /siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2016-carofyear.jpg?w=767"
                        style="background-image: url(&quot;https://www.mazdaespanol.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2016-carofyear.jpg?w=767&quot;);">
                        <picture style="display: none;">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2016-carofyear.jpg?w=480" media="(max-width: 480px)" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2016-carofyear.jpg?w=480">
                            <source data-srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2016-carofyear.jpg?w=767" sizes="289px" srcset="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2016-carofyear.jpg?w=767"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="contain" sizes="289px"></picture>
                    </div>
                    <div class="mdp-flexiblecontent-timeline__item--text">
                        <h2 class="mdp-flexiblecontent-timeline__item--pre-title">Hito 14</h2>
                        <h3 class="mdp-flexiblecontent-timeline__item--title">MAZDA MX-5 MIATA GANA EL PREMIO AL AUTO DEL AÑO</h3>
                        <div class="mdp-flexiblecontent-timeline__item--blurb">
                            <ul>
                                <li>El MX-5 fue nombrado Automóvil del mundo del año y Diseño internacional de auto del año 2016.</li>
                                <li>El comité de selección estaba formado por periodistas automovilísticos de todo el mundo.</li>
                                <li>Logra un equilibro casi perfecto de 50/50 cuando el conductor está detrás del volante.&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                    <h5 class="mdp-flexiblecontent-timeline__item--date">2016</h5>
                </div>
                <div class="mdp-flexiblecontent-timeline__timeline next"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
            </div>
            <div class="mdp-flexiblecontent-timeline__menu">
    
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-0" data-analytics-link-description="Hito 1" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-0">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1920_mazdalogo.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1920_mazdalogo.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-1" data-analytics-link-description="Hito 2" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-1">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1931_3whltruck.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1931_3whltruck.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-2" data-analytics-link-description="Hito 3" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-2">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1960_r360coupe.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1960_r360coupe.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-3" data-analytics-link-description="Hito 4" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-3">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1967_cosmosports.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1967_cosmosports.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-4" data-analytics-link-description="Hito 5" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-4">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1978-savannah-rx7.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1978-savannah-rx7.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-5" data-analytics-link-description="Hito 6" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-5">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1984-mazdafoundation.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1984-mazdafoundation.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-6" data-analytics-link-description="Hito 7" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-6">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1989-mx5-roadster.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1989-mx5-roadster.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-7" data-analytics-link-description="Hito 8" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-7">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1991-lemans.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-1991-lemans.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-8" data-analytics-link-description="Hito 9" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-8">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2002-zoomzoom.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2002-zoomzoom.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-9" data-analytics-link-description="Hito 10" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-9">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-kodo.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-kodo.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-10" data-analytics-link-description="Hito 11" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-10">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-skyactiv.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2010-skyactiv.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-11" data-analytics-link-description="Hito 12" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-11">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2013-d4g.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2013-d4g.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-12" data-analytics-link-description="Hito 13" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-12">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2015-drivingmatters.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2015-drivingmatters.jpg?w=480&quot;);"></div>
                            </label>
                </div>
                <div class="mdp-flexiblecontent-timeline__menu--item">
                    <input type="radio" name="timeline-menu" id="timeline-menu-13" data-analytics-link-description="Hito 14" data-analytics-link-type="radio" data-analytics-link-component-name="timeline">
                    <label for="timeline-menu-13">
                                    <div class="mdp-flexiblecontent-timeline__menu--image lazyloaded" data-bg="/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2016-carofyear.jpg?w=480" style="background-image: url(&quot;/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-timeline-2016-carofyear.jpg?w=480&quot;);"></div>
                            </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">

</style>
