<template>
  <div class="version-cards-section">
    <div
      class="container versionsContainer"
      :class="{'versions-carousel-container': versions.length > 4}"
    >
      <template v-if="versions.length < 5">
        <div class="grid-col-medium-3" :key="index" v-for="(version, index) in versions">
          <version-card :version="version" :transmission="transmission" :version-index="index"></version-card>
        </div>
      </template>
      <template v-else>
        <slick :options="slickOptions">
          <div class="grid-col-medium-3" :key="index" v-for="(version, index) in versions">
            <version-card :version="version" :transmission="transmission" :version-index="index"></version-card>
          </div>
        </slick>
      </template>
    </div>
  </div>
</template>

<script>
import VersionCard from '@/components/VersionCard'
export default {
  components: {
    VersionCard
  },
  props: {
    versions: Array,
    transmission: String
  },
  data() {
    return {
      slickOptions: {
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows: true,
        appendArrows: '.versionsContainer',
        prevArrow:
          '<div class="main-slider-arrow main-slider-arrow-prev"></div>',
        nextArrow:
          '<div class="main-slider-arrow main-slider-arrow-next"></div>',
        dots: true
      }
    }
  }
}
</script>

<style lang="scss">
.version-cards-section {
  .container {
    overflow: hidden;
    max-width: 1170px;
    padding: 0;

    &.versions-carousel-container {
      overflow: visible;
      position: relative;
    }

    &:hover {
      .mazda-version-card__header {
        img {
          opacity: 0.25;
        }

        .version-name,
        .version-price {
          color: #999999;
        }
      }

      .mazda-version-card {
        &:hover {
          .mazda-version-card__header {
            img {
              opacity: 1;
            }

            .version-name,
            .version-price {
              color: #101010;
            }
          }
        }
      }
    }
  }

  .main-slider-arrow {
    width: 20px;
    height: 39px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 2;
    background-position: center;
    cursor: pointer;

    &.main-slider-arrow-prev {
      background-image: url('~assets/img/icon-arrow-left-gray.svg');
      left: -40px;
    }
    &.main-slider-arrow-next {
      background-image: url('~assets/img/icon-arrow-right-gray.svg');
      right: -40px;
    }
  }

  .slick-dots {
    height: 22px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      width: 12px;
      height: 12px;
      border: 2px solid #999999;
      background: #999999;
      border-radius: 50%;
      margin-right: 19px;
      transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;

      &.slick-active {
        width: 22px;
        height: 22px;
        background: #ffffff;
        border-color: #000000;
      }

      &:last-child {
        margin-right: 0;
      }

      button {
        display: none;
      }
    }
  }

  *:focus {
    outline: none;
  }
}
</style>
