<template>
  <div class="mazda-version-card">
    <nuxt-link :to="{name: 'auto-model-versiones', params: {model: this.$route.params.model, transmission: transmission, versionIndex: versionIndex}}">
      <div class="mazda-version-card__header">
        <img :src="version.image? version.image.url : ''" alt />
        <h4 class="version-name">{{ version.name }}</h4>
        <p class="version-price">{{ version.minPrice | moneyFormatter('es-CL','CLP','$') }}</p>
        <div class="included-bonuses" v-if="version.prices.length > 1">
          <p v-if="version.prices[2].diff || version.prices[1].diff">  BONOS INCLUIDOS </p>
          <p v-if="version.prices[2].diff">Financiamiento {{ version.prices[2].diff | moneyFormatter('es-CL','CLP','$') }}</p>
          <p v-if="version.prices[1].diff">Marca {{ version.prices[1].diff | moneyFormatter('es-CL','CLP','$') }}</p>
        </div>
      </div>
      <div class="mazda-version-card__footer">
        <ul>
          <li v-for="(category, index) in version.specs.categories" :key="index">
            <div v-for="(categorySpec, index) in category.categorySpecs" :key="index">
              <div class="font-12" v-if="categorySpec.isFeatured">{{categorySpec.specName}} : {{categorySpec.value}}</div>
            </div>
          </li>
        </ul>
        <span v-if="isFeatured" class="cta">Ver más </span>
      </div>
    </nuxt-link>
    <div class="quotation-button-container">
      <a class="cta" :href="'/cotizacion?id=' + version.id">Cotiza ahora</a>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    version: Object,
    transmission: {
      type: String,
      default: 'mechanic'
    },
    versionIndex: Number
  },
  computed:{
    isFeatured(){
      var data = false
      this.version.specs.categories.map(category =>{
        category.categorySpecs.map( categorySpec =>{
          if(categorySpec.isFeatured){
            data = true
          }
        })
      })
      return data
    }
  }
}
</script>

<style scoped lang="scss">
.mazda-version-card {
  width: 100%;
  text-align: center;

  &:hover {
    .mazda-version-card__header {
      border-bottom: 3px solid #101010;
      padding-bottom: 7px;

      img {
        transform: scale(1.3);
      }

      .included-bonuses {
        p {
          color: #101010;
        }
      }
    }

    .mazda-version-card__footer {
      padding-top: 8px;

      ul {
        li {
          color: #101010;
        }
      }

      .cta {
        opacity: 1;
      }
    }

    .quotation-button-container {
      .cta {
        opacity: 1;
        color: #fff;
        background: #101010;
      }
    }
  }
}

.mazda-version-card__header {
  padding: 20px 27px 8px;
  border-bottom: 1px solid #d5d5d5;
  transition: all 0.3s ease-in-out;

  img {
    transition: all 0.3s ease-in-out;
  }

  .version-name {
    color: #101010;
    font-family: 'MazdaTypeTT-Medium';
    font-size: 14px;
    line-height: 32px;
    margin: 0;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  .version-price {
    color: #101010;
    font-family: 'MazdaTypeTT-Bold';
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 6px;
    transition: all 0.3s ease-in-out;
  }

  .included-bonuses {
    p {
      font-family: 'MazdaTypeTT-Medium';
      color: #999999;
      font-size: 12px;
      line-height: 22px;
      margin-bottom: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}

.mazda-version-card__footer {
  padding: 9px 27px 25px;
  transition: all 0.3s ease-in-out;

  ul {
    margin-bottom: 26px;

    li {
      color: #999999;
      font-size: 16px;
      line-height: 24px;
      font-family: 'MazdaTypeTT-Medium';
      transition: all 0.3s ease-in-out;
    }
  }

  .cta {
    font-family: 'MazdaTypeTT-Regular';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 4px;
    color: #91172d;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    border-bottom: 2px solid #91172d;
    min-width: auto;
    border-radius: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

.quotation-button-container {
  .cta {
    padding: 15px 60px;
    border: 2px solid #101010;
    border-radius: 3px;
    font-family: 'MazdaTypeTT-Regular';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    color: #101010;
    opacity: 0.4;
  }
}
.font-12{
  font-size: 12px
}
</style>
