<template>
  <div class="mazda-versions-carousel-container">
    <div class="container">
      <slick :options="slickOptions"  class="mazda-versions-carousel" ref="versionsCarousel">

        <div v-for="version in versions" class="mazda-versions-carousel-item" >
          <div class="mazda-versions-carousel-item-inner">
            <div class="versions-carousel-image-container">
              <img v-if="version.image" :src="version.image.url" alt="">
            </div>
            <div class="versions-carousel-info">
              <h3 class="version-name">{{ version.name }}</h3>
              <p class="version-price">{{ version.minPrice | moneyFormatter('es-CL','CLP','$') }}</p>
              <div class="included-bonuses" v-if="version.prices.length > 1">
                <p  v-if="version.prices[2].diff || version.prices[1].diff" class="bold">BONOS INCLUIDOS </p>
                <p v-if="version.prices[2].diff">Financiamiento {{ version.prices[2].diff | moneyFormatter('es-CL','CLP','$') }}</p>
                <p v-if="version.prices[1].diff">Marca {{ version.prices[1].diff | moneyFormatter('es-CL','CLP','$') }}</p>
              </div>
              <ul class="version-features-list">
                <li v-for="(category, index) in version.specs.categories" :key="index">
                  <div v-for="(categorySpec, index) in category.categorySpecs" :key="index">
                    <div v-if="categorySpec.isFeatured">
                      {{categorySpec.specName}} : {{categorySpec.value}}
                    </div>
                  </div>
                </li>
              </ul>
              <a :href="'/cotizacion?id=' + version.id" class="cta-1 cta" data-v-283bf68b="">
                <div class="cta--wrapper" data-v-283bf68b="">
                  <span class="cta-state-0" data-v-283bf68b="">
                    Cotiza ahora
                    <span class="cta-state-1" data-v-283bf68b="">Cotiza ahora</span>
                    <span class="cta-state-2" data-v-283bf68b="">Cotiza ahora</span>
                  </span>
                </div>
              </a>
            </div>
          </div>
                 <div class="mde-specs__content">
        <div class="mde-specs__content--bottom">
            <div class="mde-specs__trim-content active" style="opacity: 1; transform: translateY(0px);">
                <ul class="component-accordion-1">
                    <li  
                      v-for="(spec, indexSpec) in specs" 
                      :class="{ active:spec.active}"
                      @click="toggleActiveSpec(indexSpec)"
                      >
                        <button class="item-title" 
                          data-analytics-link-description="Accordion Exterior" 
                          data-analytics-link-type="expand" data-analytics-link-component-name="accordion_vlp">{{spec.title}}</button>
                        <div class="item-content">
                            <table>
                                <tbody>
                                    <tr v-for="(category, indexCategory) in spec.categories">
                                       
                                        <div  v-for="(spec, indexSpec) in version.specs.categories"  v-if="category.id == spec.id">

                                              <div class="rowSpec" v-for="(categorySpec, indexCategorySpec) in spec.categorySpecs" >
                                                 <div :class="{hiddenRow: indexCategorySpec != 0}" class="titleSpec">{{category.name}} </div>
                                                 <div  v-if="categorySpec.value" >
                                                  {{categorySpec.specName}} <span>{{categorySpec.value}} </span> 
                                                 </div>
                                            </div>
                                           
                                        </div>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
               
            </div>
        </div>
        
    </div>
        </div>
       
      </slick>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        slickOptions: {
          slidesToShow: 1,
          arrows: true,
          prevArrow: '<div class="main-slider-arrow main-slider-arrow-prev"></div>',
          nextArrow: '<div class="main-slider-arrow main-slider-arrow-next"></div>',
          dots: true,
          cssEase: "cubic-bezier(0.54, 0.09, 0.38, 0.82)",
          infinite: false,
          centerMode: true,
          centerPadding: "35px",
          speed: 1e3,
          fade: true,
          slidesToScroll:1
        },
        specs :[
                {
                    title:'Motor y sistema mecánico',
                    categories:[
                        {
                            id: 10,
                            name:'Motor y Transmisión'
                        },
                        {
                            id:3,
                            name:'Especificaciones Técnicas'
                        },
                        {   id:5,
                            name:'Transmisión'
                        }
                    ],
                    active: false
                },
                {
                    title:'Exterior',
                    categories:[
                        {   id:7,
                            name:'CARACTERÍSTICAS EXTERIORES'
                        },
                        {
                            id:11,
                            name:'RUEDAS Y NEUMÁTICOS'
                        },
                        {   id:9,
                            name:'DIMENSIONES EXTERIORES'
                        }
                    ],
                    active: false
                },
                {
                    title:'Interior',
                    categories:[
                        {
                            id:6,
                            name:'Interior'
                        },
                        {   id:13,
                            name:'Confort'
                        },
                        {
                            id:12,
                            name:'Multimedia'
                        }
                    ],
                    active: false
                },
                {
                    title:'Seguridad y Protección',
                    categories:[
                        {
                            id:2,
                            name:'Seguridad'
                        }
                    ],
                    active: false
                },
                {
                    title:'Garantía',
                    categories:[
                        {
                            id:15,
                            name:'Garantía'
                        }
                    ],
                    active: false
                }
            ],
        idActivo:''
      }
    },
    props: {
      versions: Array
    },
    methods: {
      toggleActiveSpec(id){
            this.specs[id].active =  !this.specs[id].active
        },
        handleAfterChange(event, slick, currentSlide) {
            console.log('handleAfterChange', event, slick, currentSlide);
             if(currentSlide === 2) {
            
            document.getElementsByClassName("slick-next").classList.add("hidden");
        }
        else {
           
        }

        if(currentSlide === 0) {
            
        }
        else {
            
        }
        },
        
    },
    mounted() {
      if (this.$route.params.transmission && this.$route.params.versionIndex !== undefined) {

        if(this.$route.params.transmission === 'automatic'){
          $('.tabs__list li a').eq(1).trigger('click')
        }

        this.$refs.versionsCarousel.goTo(this.$route.params.versionIndex);

      }
    }
  }
</script>

<style lang="scss">
  .hiddenRow{
   visibility: hidden;
  }
  .rowSpec{
    margin-top: 15px;
    overflow: hidden;
    
  }
  .mazda-versions-carousel-container{
    :focus{
      outline: none;
    }

    .mazda-versions-carousel{
      margin-top: 28px;
    }

    .mazda-versions-carousel-item-inner{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .versions-carousel-image-container{
      margin-right: 90px;

      img{
        vertical-align: top;
        position: relative;
        top: 45px;
        transition: all .8s cubic-bezier(.165,.84,.44,1);
        max-width: 480px;
      }
    }

    .versions-carousel-info{
      max-width: 250px;

      .version-name{
        color: #101010;
        font-size: 22px;
        line-height: 30px;
        font-family: 'MazdaTypeTT-Medium';
      }

      .version-price{
        color: #101010;
        font-size: 24px;
        line-height: 30px;
        font-family: 'MazdaTypeTT-Bold';
        margin-bottom: 29px;
      }

      .included-bonuses{
        padding-bottom: 10.5px;
        border-bottom: 1px solid #D5D5D5;

        p{
          margin-bottom: 0;
          color: #999999;
          font-size: 14px;
          line-height: 22px;
          font-family: 'MazdaTypeTT-Regular';

          span.bold{
            font-family: 'MazdaTypeTT-Bold';
          }
        }
      }

      .version-features-list{
        padding-top: 9.5px;
        padding-bottom: 29px;

        li{
          font-size: 14px;
          line-height: 24px;
          color: #101010;
        }
      }

      .cta-1.cta{
        width: 100%;
      }
    }

    .main-slider-arrow{
      width: 19px;
      height: 39px;
      position: absolute;
      top: 20%;
      transform: translateY(-50%);
      z-index: 2;
      background-position: center;
      cursor: pointer;

      &.main-slider-arrow-prev{
        background-image: url('~assets/img/icon-arrow-left-gray.svg');
        left: 0;
      }
      &.main-slider-arrow-next{
        background-image: url('~assets/img/icon-arrow-right-gray.svg');
        right: 0;
      }
    }

    .slick-dots{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 374px;
      left: 50%;
      transform: translateX(-50%);

      li{
        width: 12px;
        height: 12px;
        border: 2px solid #999999;
        background: #999999;
        border-radius: 50%;
        margin-right: 19px;
        transition: all .35s cubic-bezier(.645,.045,.355,1);
        cursor: pointer;

        &.slick-active{
          width: 22px;
          height: 22px;
          background: #ffffff;
          border-color: #000000;
        }

        &:last-child{
          margin-right: 0;
        }

        button{
          display: none;
        }
      }
    }

    .slick-list{
      overflow: visible;
    }

    .slick-slide{
      opacity:1;
      transition: all .8s cubic-bezier(.165,.84,.44,1);

      .versions-carousel-info{
        transition: all .8s cubic-bezier(.165,.84,.44,1);
      }

      &:not(.slick-current){
        /*    visibility: hidden;*/

        /*&:hover{*/
        /*  opacity: 1;*/
        /*  transform: translateX(40px);*/
        /*}*/

        /*.mazda-versions-carousel-item-inner{*/
        /*  justify-content: flex-end;*/
        /*}*/

        /*.versions-carousel-info{
          opacity: 0;
          margin-left: -320px;
        }*/

        /*img{*/
        /*  transform: scale(0.8);*/
        /*}*/
      }
    }

    .slick-current + .slick-slide{
      &:not(.slick-current){
      /*
      &:hover{
          opacity: 1;
          transform: translateX(-40px);
        }

        .mazda-versions-carousel-item-inner{
          justify-content: flex-start;
        }
      */
      }
    }
  }
  .mde-specs__content {
    display: block;
    padding: 0 8%;
    /* text-align: center; */
}
.mde-specs__content--bottom {
    padding: 100px 0;
}
.mde-specs__content--bottom .mde-specs__trim-content {
    display: none;
    opacity: 0;
}
.mde-specs__content--bottom .mde-specs__trim-content.active, .mde-specs__image--car.active {
    display: block;
}
.component-accordion-1>li, .component-accordion-2>li, .component-accordion-3>li, .component-accordion-4>li {
    border-bottom: 1px solid #e7e7e7;
    display: block;
}
.mde-specs__content--bottom .mde-specs__trim-content li {
    border-bottom: 1px solid rgba(153,153,153,.5);
}
.component-accordion-1>li>.item-title, .component-accordion-2>li>.item-title, .component-accordion-4>li>.item-title {
    display: block;
    width: 100%;
}
.component-accordion-1>li>.item-title, .component-accordion-2>li>.item-title, .component-accordion-3>li>.item-title, .component-accordion-4>li>.item-title {
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: .2em;
    padding: 25px 0;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 768px)
 {
     .component-accordion-1>li>.item-title, .component-accordion-2>li>.item-title, .component-accordion-3>li>.item-title, .component-accordion-4>li>.item-title{
    padding: 40px 0;

     }
}
.component-accordion-1>li>.item-title {
    background-color: #f5f5f5;
    transition: border 0s;
    color: #101010;

    &:focus{
        outline: none;
    }
}
.mde-specs__content--bottom .mde-specs__trim-content li .item-title {
    background-color: transparent;
    color: #999;
    padding: 30px 0;
}
.component-accordion-1>li>.item-content, .component-accordion-2>li>.item-content, .component-accordion-3>li>.item-content, .component-accordion-4>li>.item-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 0;
    transition: max-height .5s ease-in-out,opacity .4s;
    z-index: 1;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.component-accordion-1>li>.item-title:before, .component-accordion-2>li>.item-title:before, .component-accordion-3>li>.item-title:before, .component-accordion-4>li>.item-title:before, .component-navigation-6 .next a:before {
    content: '\f133';
    font-family: 'standard-icon-font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.component-accordion-1>li>.item-title:before, .component-accordion-2>li>.item-title:before, .component-accordion-3>li>.item-title:before, .component-accordion-4>li>.item-title:before {
    content: '\f130';
}
.component-accordion-1>li>.item-title::before {
    right: 0;
}
.component-accordion-1>li>.item-title::before, .component-accordion-2>li>.item-title::before, .component-accordion-3>li>.item-title::before, .component-accordion-4>li>.item-title::before {
    top: 50%;
    position: absolute;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    font-size: 22px;
    font-size: 2.2rem;
}
.component-accordion-1>li>.item-title::before {
    color: #999;
}
.mde-specs__content--bottom .mde-specs__trim-content li .item-content table {
    margin-bottom: 50px;
    text-align: left;
    height: auto!important;
    width: 100%!important;
}
.mde-specs__content--bottom .mde-specs__trim-content li .item-content table td {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2.5;
    padding-bottom: 40px;
}
.mde-specs__content--bottom .mde-specs__trim-content li .item-content table td:first-child {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .2em;
    line-height: 1.1;
    margin-right: -.2em;
    padding-right: 30px;
    text-transform: uppercase;
    width: 40%;
}
.component-accordion-1>li.active>.item-content, .component-accordion-2>li.active>.item-content, .component-accordion-3>li.active>.item-content, .component-accordion-4>li.active>.item-content {
    max-height: 10000px;
    max-height: 1000rem;
    opacity: 1;
}
@media screen and (max-width: 767px)
 {
   .mde-specs__content{

    padding: 0 10px;
   }
}
@media screen and (max-width: 767px)
{
   .mde-specs__content--bottom .mde-specs__trim-content li .item-title {
     
   color: #101010;
   } 
}
@media screen and (max-width: 767px)
{
  .mde-specs__content--bottom .mde-specs__trim-content li .item-content table td:first-child {
    padding: 30px 0 10px;
    width: 100%;
  }
    
}
@media screen and (max-width: 767px)
{
  .mde-specs__content--bottom .mde-specs__trim-content li .item-content table td {

    display: block;
    padding-bottom: 0;
  }
}
.titleSpec{
      font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .2em;
    /* line-height: 1.1; */
    margin-right: -.2em;
    padding-right: 30px;
    width: 40%;
    float: left;
}
.component-accordion-1>li.active>.item-title:before, .component-accordion-2>li.active>.item-title:before, .component-accordion-3>li.active>.item-title:before, .component-accordion-4>li.active>.item-title:before, .cta-icon-minus:before {
    content: '\f126';
    font-family: 'standard-icon-font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main-slider-arrow-prev.hidden,
.main-slider-arrow-prev.hidden {
    opacity: 0;
    pointer-events:none;
}
.slick-disabled {
    opacity: 0;
    pointer-events:none;
}
</style>