<template>
  <div class="mazda-version-card">
    <div class="mazda-version-card__header">
      <img :src="version.image? version.image.url : ''" alt />
      <h4 class="version-name">{{ version.model.name }}</h4>
      <h4 class="version-name">{{ version.name }}</h4>
      <p class="version-price">{{ version.minPrice | moneyFormatter('es-CL','CLP','$') }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    version: Object
  }
}
</script>

<style scoped lang="scss">
.mazda-version-card {
  width: 100%;
  text-align: center;
}

.mazda-version-card__header {
  padding: 20px 27px 8px;
  transition: all 0.3s ease-in-out;

  img {
    transition: all 0.3s ease-in-out;
  }

  .version-name {
    color: #101010;
    font-family: 'MazdaTypeTT-Medium';
    font-size: 14px;
    line-height: 32px;
    margin: 0;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  .version-price {
    color: #101010;
    font-family: 'MazdaTypeTT-Bold';
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 6px;
    transition: all 0.3s ease-in-out;
  }

  .included-bonuses {
    p {
      font-family: 'MazdaTypeTT-Medium';
      color: #999999;
      font-size: 12px;
      line-height: 22px;
      margin-bottom: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}

.mazda-version-card__footer {
  padding: 9px 27px 25px;
  transition: all 0.3s ease-in-out;

  ul {
    margin-bottom: 26px;

    li {
      color: #999999;
      font-size: 16px;
      line-height: 24px;
      font-family: 'MazdaTypeTT-Medium';
      transition: all 0.3s ease-in-out;
    }
  }

  .cta {
    font-family: 'MazdaTypeTT-Regular';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 4px;
    color: #91172d;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    border-bottom: 2px solid #91172d;
    min-width: auto;
    border-radius: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

.quotation-button-container {
  .cta {
    padding: 15px 60px;
    border: 2px solid #101010;
    border-radius: 3px;
    font-family: 'MazdaTypeTT-Regular';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    color: #101010;
    opacity: 0.4;
  }
}
</style>
