<template>
    <main class="main-content">
        <div class="hero">
            <div class="mdp-flexiblecontent-vid-hero light-text text-shadow-dark" data-analytics-content-description="mazda_spirit_hero">
                <div class="mdp-flexiblecontent-vid-hero__description" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; transition: all 800ms ease 0s;">
                    <header class="mdp-flexiblecontent-vid-hero__description--pre">
                        <h4>Nuestra historia</h4>
                    </header>
                    <header class="mdp-flexiblecontent-vid-hero__description--title">
                        <h4>La creación de Mazda</h4>
                    </header>
                </div>
                <div class="cta--container" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; transition: all 800ms ease 0s;">
                </div>
                <div class="mdp-flexiblecontent-vid-hero__chevron " style="pointer-events: auto; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; transition: all 800ms ease 0s;" data-analytics-link-description="down" data-analytics-link-type="arrow" data-analytics-link-component-name="hero_bg_video">
                    <svg class="mdp-flexiblecontent-vid-hero__chevron--svg" viewBox="0 0 500 500" x="0px" y="0px">
                                        <g class="chevron-cont">
                                            <circle class="chevron-cont__circle" cx="250" cy="250" r="240"></circle>
                                            <polyline class="chevron-cont__arrow" points="310,200 250,260 190,200"></polyline>
                                        </g>
                                    </svg>
                </div>
                <div class="mdp-flexiblecontent-vid-hero__video-cont">
                    <video class="mdp-flexiblecontent-vid-hero__video lazyloaded" 
                        preload="auto" muted="" loop="" data-video="0" autoplay>
                       <source :src="video.url" type="video/mp4">
                      </video>
    
                    <img alt="" class="mdp-flexiblecontent-vid-hero__img lazyload" data-sizes="auto" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-hero-cars-mobile.jpg?w={width}" title="">
    
                </div>
            </div>
        </div>
    </main>
</template>
<script>
export default {
    props:{
        video:{
            default:{
                title:'video',
                url:'https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/mazda-spirit-hero-video-v6-2.mp4'
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.main-content {
    position: relative;
}

.main-content div.hero {
    padding-bottom: 0 !important;
}

.main-content div.hero div.mdp-flexiblecontent-vid-hero.light-text div.mdp-flexiblecontent-vid-hero__description header.mdp-flexiblecontent-vid-hero__description--pre,
.mdp-flexiblecontent-vid-hero__description--title,
html body.en main.main-content div.hero div.mdp-flexiblecontent-vid-hero.light-text div.mdp-flexiblecontent-vid-hero__description header.mdp-flexiblecontent-vid-hero__description--title h4 {
    display: none !important;
}

.mdp-flexiblecontent-vid-hero {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: calc(100vh - 125px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: 900px;
    position: relative;
    text-align: center;
}

.mdp-flexiblecontent-vid-hero.text-shadow-dark {
    background-image: radial-gradient(circle farthest-side at 50% 50%, #000 -50%, transparent 80%);
}

.mdp-flexiblecontent-vid-hero__description {
    max-width: 60%;
    padding: 0 12px;
    word-break: break-word;
}

.mdp-flexiblecontent-vid-hero__video-cont {
    bottom: 0;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.mdp-flexiblecontent-vid-hero__description--pre,
.mdp-flexiblecontent-vid-hero__description--title {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 23px;
    margin-bottom: 8px;
}

.mdp-flexiblecontent-vid-hero.light-text .mdp-flexiblecontent-vid-hero__description--copy,
.mdp-flexiblecontent-vid-hero.light-text .mdp-flexiblecontent-vid-hero__description--pre,
.mdp-flexiblecontent-vid-hero.light-text .mdp-flexiblecontent-vid-hero__description--title {
    color: #fff;
}

[data-analytics-content-description=breathing_life],
[data-analytics-content-description=kodo_image],
html body.en main.main-content div.hero div.mdp-flexiblecontent-vid-hero.light-text div.mdp-flexiblecontent-vid-hero__description header.mdp-flexiblecontent-vid-hero__description--pre,
.mdp-flexiblecontent-vid-hero__description--title,
html body.en main.main-content div.hero div.mdp-flexiblecontent-vid-hero.light-text div.mdp-flexiblecontent-vid-hero__description header.mdp-flexiblecontent-vid-hero__description--title h4 {
    display: none !important;
}

.mdp-flexiblecontent-vid-hero__description--title {
    font-size: 30px;
    font-size: 3rem;
    line-height: 37px;
    margin-bottom: 0;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-vid-hero__description--title {
        font-size: 40px;
        font-size: 4rem;
        line-height: 47px;
    }
}

.mdp-flexiblecontent-vid-hero__description--pre>h1,
.mdp-flexiblecontent-vid-hero__description--pre>h2,
.mdp-flexiblecontent-vid-hero__description--pre>h3,
.mdp-flexiblecontent-vid-hero__description--pre>h4,
.mdp-flexiblecontent-vid-hero__description--pre>h5,
.mdp-flexiblecontent-vid-hero__description--pre>h6,
.mdp-flexiblecontent-vid-hero__description--pre>p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 23px;
}

.mdp-flexiblecontent-vid-hero__description--title>h4,
.mdp-flexiblecontent-vid-hero__description--title>h5,
.mdp-flexiblecontent-vid-hero__description--title>h6,
.mdp-flexiblecontent-vid-hero__description--title>p {
    font-size: 30px;
    font-size: 3rem;
    line-height: 37px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-vid-hero__description--title>h4 {
        font-size: 40px;
        font-size: 4rem;
        line-height: 47px;
    }
}
.mdp-flexiblecontent-vid-hero__description--title h4 {
    display: none !important;
}
.mdp-flexiblecontent-vid-hero__chevron {
    bottom: 3%;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    opacity: 0;
    position: absolute;
    right: 10%;
    transition: all 800ms;
    width: 60px;
    z-index: 2;
}
svg:not(:root) {
    overflow: hidden;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.mdp-flexiblecontent-vid-hero.light-text .mdp-flexiblecontent-vid-hero__chevron--svg .chevron-cont {
    fill: transparent;
    stroke: #fff;
}
.mdp-flexiblecontent-vid-hero__chevron .chevron-cont__circle {
    stroke-miterlimit: 10;
    stroke-width: 18px;
    cx: 250px;
    cy: 250px;
    r: 240px;
}
.mdp-flexiblecontent-vid-hero__chevron .chevron-cont__arrow {
    -webkit-animation: rotate 1.4s infinite;
    animation: rotate 1.4s infinite;
    stroke-miterlimit: 10;
    stroke-width: 18px;
    transition: all .2s;
}
.lazyload, .lazyloading {
    opacity: 0;
}
.mdp-flexiblecontent-vid-hero__img, .mdp-flexiblecontent-vid-hero__video {
    left: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto;
}
.mdp-flexiblecontent-vid-hero__img {
    display: none;
}

</style>

