<template>
  <div class="mazda-subsidiaries-content">
    <div class="container">
      <div class="grid-row">
        <div class="grid-col-medium">
          <h2 v-if="useCarousel" class="subsidiaries-content-title">Sucursales Mazda a lo largo del país</h2>
          <h2 v-else class="subsidiaries-content-title">
            Sucursales Suzuki
            <span>{{ zoneName }}</span>
            <span
                v-if="$route.params.comuna && $route.params.comuna !== 'todos'"
            >/ {{ municipalityName }}</span>
            <span
                v-if="$route.params.servicio && $route.params.zona !== 'todos'"
            >/ {{ serviceName }}</span>
          </h2>
          
        </div>
      </div>

      <div v-for="zone in zones" class="subsidiaries-list-container">
        <h3 v-if="useCarousel">{{ zone.name }}</h3>
        <div class="grid-row">
          <slick v-if="useCarousel" :options="slickOptions"  class="mazda-versions-carousel">
            <div v-for="subsidiary in zone.subsidiaries" class="grid-col-medium-3">
              <div class="subsidiary-card">
                <div class="subsidiary-card-header">
                  <h4>{{ subsidiary.name }}</h4>
                  <p>{{ subsidiary.address }}</p>
                </div>
                <div class="subsidiary-card-body">
                  <ul class="collapsible">
                    <li
                        :key="key"
                        v-for="(service, key) in subsidiary.services"
                    >
                      <h5 class="collapsible-header" :class="{'active': key === 0}">{{ service.name }}</h5>
                      <div class="collapsible-body" :class="{'active': key === 0}">
                        <ul class="service-hours">
                          <li v-for="horario in service.openingHours" class="active">
                            <span>{{ horario.name }}:</span>
                            <time>{{ horario.value }}</time>
                          </li>
                        </ul>
                        <ul class="service-phones">
                          <!--                          <li v-for="number in service.contactNumber" class="active">-->
                          <!--                            <span class="sucursales__listado-contacto">-->
                          <!--                              <div class="phone">-->
                          <!--                                <a :href="'tel:'+number">{{ number }}</a>-->
                          <!--                              </div>-->
                          <!--                            </span>-->
                          <!--                          </li>-->
                          <li class="active">
                            <span class="sucursales__listado-contacto">
                              <div class="phone">
                                <a :href="'tel:'+service.contactNumber">{{ service.contactNumber }}</a>
                              </div>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="subsidiary-card-footer">
                  <a
                      :href="'https://www.google.com/maps/dir/Current+Location/'+subsidiary.location.latitude+','+subsidiary.location.longitude"
                      class="cta-2 cta">
                    <div class="cta--wrapper">
                    <span class="cta-state-0">
                      Como llegar
                      <span class="cta-state-1">Como llegar</span>
                      <span class="cta-state-2">Como llegar</span>
                    </span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </slick>

          <template v-else>
            <div v-for="subsidiary in zone.subsidiaries" class="grid-col-medium-3">
              <div class="subsidiary-card">
                <div class="subsidiary-card-header">
                  <h4>{{ subsidiary.name }}</h4>
                  <p>{{ subsidiary.address }}</p>
                </div>
                <div class="subsidiary-card-body">
                  <ul class="collapsible">
                    <li
                        :key="key"
                        v-for="(service, key) in subsidiary.services"
                    >
                      <h5 class="collapsible-header" :class="{'active': key === 0}">{{ service.name }}</h5>
                      <div class="collapsible-body" :class="{'active': key === 0}">
                        <ul class="service-hours">
                          <li v-for="horario in service.openingHours" class="active">
                            <span>{{ horario.name }}:</span>
                            <time>{{ horario.value }}</time>
                          </li>
                        </ul>
                        <ul class="service-phones">
                          <!--                          <li v-for="number in service.contactNumber" class="active">-->
                          <!--                            <span class="sucursales__listado-contacto">-->
                          <!--                              <div class="phone">-->
                          <!--                                <a :href="'tel:'+number">{{ number }}</a>-->
                          <!--                              </div>-->
                          <!--                            </span>-->
                          <!--                          </li>-->
                          <li class="active">
                            <span class="sucursales__listado-contacto">
                              <div class="phone">
                                <a :href="'tel:'+service.contactNumber">{{ service.contactNumber }}</a>
                              </div>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="subsidiary-card-footer">
                  <a
                      :href="'https://www.google.com/maps/dir/Current+Location/'+subsidiary.location.latitude+','+subsidiary.location.longitude"
                      class="cta-2 cta">
                    <div class="cta--wrapper">
                    <span class="cta-state-0">
                      Como llegar
                      <span class="cta-state-1">Como llegar</span>
                      <span class="cta-state-2">Como llegar</span>
                    </span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    data(){
      return {
        slickOptions: {
          slidesToShow: 4,
          slidesToScroll: 4,
          arrows: false,
          dots: true,
          cssEase: "cubic-bezier(0.54, 0.09, 0.38, 0.82)",
          infinite: false,
          centerMode: false,
          speed: 1e3
        }
      }
    },
    props: {
      useCarousel: {
        type: Boolean,
        default: true
      },
      zones: {
        type: Array
      }
    },
    computed: {
      zoneName() {
        if (this.$route.params.zona && this.$route.params.zona === 'todos') {
          return this.$route.params.servicio.replace(/-/g, ' ')
        } else if (this.$route.params.zona) {
          return this.$route.params.zona.replace(/-/g, ' ')
        } else {
          return null
        }
      },
      municipalityName() {
        return this.$route.params.comuna
          ? this.$route.params.comuna.replace(/-/g, ' ')
          : null
      },
      serviceName() {
        return this.$route.params.servicio
          ? this.$route.params.servicio.replace(/-/g, ' ')
          : null
      }
    },
    mounted() {
      $('.collapsible-header').on('click', function (e) {
        e.preventDefault();
        $(this).closest('.collapsible').find('.collapsible-header').removeClass('active');
        $(this).closest('.collapsible').find('.collapsible-body').removeClass('active');

        $(this).closest('li').find('.collapsible-header').addClass('active');
        $(this).closest('li').find('.collapsible-body').addClass('active');
      });
    }
  }
</script>

<style lang="scss">
  .mazda-subsidiaries-content{
    padding-top: 31px;
    padding-bottom: 65px;
    background: #ffffff;

    .container{
      max-width: 1300px;
    }

    .grid-row{
      margin-left: -27px;
      margin-right: -27px;
    }

    [class^="grid-col-"]{
      padding-left: 27px;
      padding-right: 27px;
    }

    .subsidiaries-content-title{
      text-align: center;
      color: #000000;
      font-size: 18px;
      letter-spacing: 1.8px;
      line-height: 21px;
      font-family: 'MazdaTypeTT-Bold';
      margin-bottom: 45px;
    }

    .subsidiaries-list-container{
      margin-bottom: 57px;

      h3{
        color: #000000;
        font-size: 18px;
        letter-spacing: 4.26px;
        line-height: 21px;
        text-align: center;
        font-family: 'MazdaTypeTT-Medium';
        margin-bottom: 18px;
        text-transform: unset;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }

    .subsidiary-card{
      padding-top: 23px;
      padding-bottom: 41px;
      opacity: 0.4;
      transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
      min-height: 529px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .subsidiary-card-header{
        h4{
          color: #101010;
          font-size: 16px;
          line-height: 32px;
          text-align: center;
          font-family: 'MazdaTypeTT-Bold';
          margin-bottom: 6px;
        }
        p{
          color: #101010;
          font-size: 12px;
          line-height: 22px;
          text-align: center;
          font-family: 'MazdaTypeTT-Regular';
          margin-bottom: 44px;
        }
      }

      .subsidiary-card-body{
        padding-bottom: 65px;
      }

      .subsidiary-card-footer{
        text-align: center;
        margin-top: auto;

        .cta-2 .cta--wrapper{
          padding: 13px 49px;
        }
      }

      .collapsible-header{
        transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
        color: #999999;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2.4px;
        font-family: 'MazdaTypeTT-Medium';
        background-image: url('~assets/img/icon-plus-gray.svg');
        background-position: 100% center;
        background-repeat: no-repeat;
        padding-top: 24px;
        padding-bottom: 24px;
        border-top: 1px solid #E7E7E7;
        cursor: pointer;

        &.active{
          background-image: url('~assets/img/icon-less-gray.png');
        }
      }

      .collapsible-body{
        display: none;

        &.active{
          display: block;
           
        }
      }

      &:hover{
        
        opacity: 1;

        .collapsible-header{
          color: #000000;
          border-top-color: #000000;
          background-image: url('~assets/img/icon-plus-black.svg');
          &.active{
          background-image: url('~assets/img/icon-less-black.png');
        }
        }

        .subsidiary-card-footer{
          .cta-2 .cta--wrapper{
            border-color: #000000;
            background: #000000;
            transition: all 0.3s ease;
          }

          .cta-2 .cta-state-1{
            color: #ffffff;
          }
        }
      }
    }

    .slick-dots{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;

      li{
        width: 12px;
        height: 12px;
        border: 2px solid #999999;
        background: #999999;
        border-radius: 50%;
        margin-right: 19px;
        transition: all .35s cubic-bezier(.645,.045,.355,1);
        cursor: pointer;

        &.slick-active{
          width: 22px;
          height: 22px;
          background: #ffffff;
          border-color: #000000;
        }

        &:last-child{
          margin-right: 0;
        }

        button{
          display: none;
        }
      }
    }
  }
</style>
