<template>
  <div class="mazda-subsidiaries-header">
    <div class="container">
      <div class="grid-row">
        <div class="grid-col-medium">
          <div class="page-title-container">
            <h2>Red de concesionarios Mazda a lo largo de {{ country }}</h2>
            <p>Encuentra una sucursal Mazda cerca tuyo.</p>
          </div>
        </div>
      </div>

      <div class="filters-container">
        <div class="filters-row grid-row">
          <div class="grid-col-medium-4">
            <h4>Zona</h4>
            <select
              name="zone"
              id="zone"
              @change="clearMunicipalitySelectedSlug"
              v-model="zoneSelectedSlug"
            >
              <option v-if="country === 'Chile'" selected disabled data-label value>Selecciona Zona</option>
              <option
                v-if="country === 'Perú'"
                selected
                disabled
                data-label
                value
              >Selecciona Provincia</option>

              <option
                v-if="country === 'Chile'"
                data-label="todos"
                data-zone="todos"
                value="todos"
              >Todas las Zonas</option>
              <option
                v-if="country === 'Perú'"
                data-label="todos"
                data-zone="todos"
                value="todos"
              >Todas las Provincias</option>

              <option :key="key" v-for="(zone, key) in zones" :value="zone.slug">{{ zone.name }}</option>
            </select>
          </div>
          <div class="grid-col-medium-4">
            <h4>Comuna</h4>
            <select
              v-model="municipalitySelectedSlug"
              @change="changeZoneSelectedSlug"
              class="subsidiaryFilter filterPlace"
            >
              <option
                v-if="country === 'Chile'"
                data-label
                value
                selected
                disabled
              >Selecciona una comuna</option>
              <option
                v-if="country === 'Perú'"
                data-label
                value
                selected
                disabled
              >Selecciona un Distrito</option>

              <option
                v-if="country === 'Chile'"
                data-label="todos"
                data-zone-slug="todos"
                value="todos"
              >Todas las Comunas</option>
              <option
                v-if="country === 'Perú'"
                data-label="todos"
                data-zone-slug="todos"
                value="todos"
              >Todas los Distritos</option>

              <optgroup :key="key" v-for="(region, key) in regions" :label="region.name">
                <option
                  v-for="municipality in region.communes"
                  :data-zone-slug="region.slug"
                  :value="municipality.slug"
                >{{ municipality.name }}</option>
              </optgroup>
            </select>
          </div>
          <div class="grid-col-medium-4">
            <h4>Servicio</h4>
            <select
              v-model="serviceSelectedSlug"
              class="subsidiaryFilter filterType initialized"
              name="filter[type]"
              data-filter="type"
            >
              <option selected disabled value>Selecciona Servicio</option>

              <option value="todos">Todos los Servicios</option>

              <option v-for="service in services" :value="service.slug">{{ service.name }}</option>
            </select>
          </div>
        </div>

        <div class="grid-row">
          <div class="grid-col-medium-4">
            <a href="#" class="cta-2 cta" @click.prevent="goToSubsidiariesFilteredPage">
              <div class="cta--wrapper">
                <span class="cta-state-0">
                  Buscar concesionario
                  <span class="cta-state-1">Buscar concesionario</span>
                  <span class="cta-state-2">Buscar concesionario</span>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      zoneSelectedSlug: null,
      municipalitySelectedSlug: null,
      serviceSelectedSlug: null
    }
  },
  computed: {
    country() {
      return this.$store.state.globals.globals.country
    },
    zones() {
      return this.$store.state.subsidiaries.filters.regions
    },
    regions() {
      if (this.zoneSelectedSlug === 'todos' || this.zoneSelectedSlug === null) {
        return this.$store.state.subsidiaries.filters.regionsCommunes
      } else {
        if (this.$store.state.subsidiaries.filters.regionsCommunes) {
          return this.$store.state.subsidiaries.filters.regionsCommunes.filter(
            region => region.slug === this.zoneSelectedSlug
          )
        } else {
          return []
        }
      }
    },
    services() {
      return this.$store.state.subsidiaries.filters.services
    }
  },
  watch: {
    regions() {
      //
    }
  },
  methods: {
    clearMunicipalitySelectedSlug() {
      this.municipalitySelectedSlug = 'todos'
    },
    changeZoneSelectedSlug(event) {
      this.zoneSelectedSlug = $(event.currentTarget)
        .find('option:selected')
        .attr('data-zone-slug')
    },
    goToSubsidiariesFilteredPage() {
      let zone = this.zoneSelectedSlug
      let municipality = this.municipalitySelectedSlug
      let service = this.serviceSelectedSlug
      let params = ''

      if (zone) {
        params += zone + '/'
      }

      if (municipality) {
        params += municipality + '/'
      }

      if (service) {
        params += service + '/'
      }

      if (zone === 'todos' && !service && !municipality) {
        params = ''
      }

      if (zone && municipality === 'todos') {
        params = zone + '/'
      }

      if (zone === 'todos' && municipality === 'todos' && !service) {
        params = ''
      }

      if (zone === 'todos' && municipality === 'todos' && service) {
        params = `${zone}/${municipality}/${service}`
      }

      if (service && !zone && !municipality) {
        params = 'todos/todos/' + service + '/'
      }

      if (zone && !municipality && service) {
        params = zone + '/todos/' + service
      }

      if (zone && !municipality && service === 'todos') {
        params = zone + '/'
      }

      if (zone && municipality === 'todos' && service) {
        params = zone + '/todos/' + service + '/'
      }

      if (zone && municipality && service === 'todos') {
        params = zone + '/' + municipality + '/'
      }

      if (zone && municipality === 'todos' && service === 'todos') {
        params = zone + '/'
      }

      if (zone === 'todos' && municipality === 'todos' && service === 'todos') {
        params = ''
      }

      this.$router.push('/concesionarios/' + params)
    }
  },
  created() {
    if (this.$route.params.zona) {
      this.zoneSelectedSlug = this.$route.params.zona
    }

    if (this.$route.params.comuna) {
      this.municipalitySelectedSlug = this.$route.params.comuna
    }

    if (this.$route.params.servicio) {
      this.serviceSelectedSlug = this.$route.params.servicio
    }

    this.$store.dispatch('subsidiaries/setFilters')
  },
  mounted() {
    //
  }
}
</script>

<style lang="scss">
.mazda-subsidiaries-header {
  padding-top: 36px;
  padding-bottom: 31px;
  background: #f5f5f5;

  .container {
    max-width: 1065px;
  }

  .grid-row {
    margin-left: -15px;
    margin-right: -15px;
  }

  [class^='grid-col-'] {
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-title-container {
    text-align: center;

    h2 {
      color: #000000;
      font-size: 18px;
      letter-spacing: 2.25px;
      line-height: 21px;
      font-family: 'MazdaTypeTT-Bold';
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      letter-spacing: 1.2px;
      line-height: 24px;
      color: #343434;
      font-family: 'MazdaTypeTT-Medium';
      margin-bottom: 30px;
    }
  }

  .filters-container {
    h4 {
      color: #000000;
      font-size: 14px;
      letter-spacing: 2.9px;
      line-height: 16px;
      margin-bottom: 11px;
      font-family: 'MazdaTypeTT-Regular';
    }

    .cta-2.cta {
      width: 100%;
    }

    select {
      height: auto;
    }

    .filters-row {
      margin-bottom: 40px;
    }
  }
}
</style>
