<template>
    <div>
        <main-header></main-header>
        <nuxt />
        <Footer  />
    </div>
</template>

<script>
import mainHeader from '~/components/partials/Header'
import Footer from '~/components/partials/Footer'
export default {
    components: {
        mainHeader,
        Footer
    },
    computed: {
        globals() {
            return this.$store.state.globals.globals
        }
    }
}
</script>

<style>

</style>
