<template>
    <div>
        <center v-if="error.statusCode === 404"> 
            <img src="http://cdn.sstatic.net/Sites/beta/img/404.png" style="padding-bottom: 90px; margin-top:170px; width: initial;" class=" img-responsive">
        </center>
    </div>
</template>
<script>
export default {
    props: ['error']
}
</script>
<style scoped lang="scss">
    img{
        max-width: 100%;
    }
</style>