<template>
  <div>
    <main-header></main-header>
    <sub-header></sub-header>
    <nuxt />
    <Footer />
  </div>
</template>

<script>
  import mainHeader from '~/components/partials/Header'
  import Footer from '~/components/partials/Footer'
  import SubHeader from '~/components/partials/SubHeader'
  export default {
    components: {
      mainHeader,
      Footer,
      SubHeader
    }
  }
</script>

<style>

</style>
