<template>
  <div class="component" id="pageContent">
    <div id="principalContentSite">
      <main-slider class="desktop-only" :slides="slides.desktop"></main-slider>
      <main-slider class="mobile-only" :slides="slides.mobile"></main-slider>
    </div>

    <div class="container home-call-to-action-section">
      <div class="grid-row">
        <div class="grid-col-medium-12">
          <section class="mdp-foundation-copy">
            <h1 style="font-size: 20px; font-style: normal; line-height: 27px; font-weight: bold; letter-spacing: 4px; text-align: center; margin-top: 18px; margin-bottom: 28px;">
              DISEÑADO PARA INSPIRAR</h1>
            <p style="font-size: 16px; font-style: normal; line-height: 28px; font-weight: 400; text-align: center; margin-bottom: 10px;">
              La pintura Soul Red Crystal Metallic fue inspirada en el brillo de metal calentado con intensidad, el tono
              mengua y fluye entre el rojo rubí del metal fundido y la tonalidad distintiva del ébano de los elementos
              que lo rodean.</p>
            <p style="text-align: center;">
              <a class="cta-3 cta" title="DESCUBRE MÁS" href="https://www.mazdaespanol.com/feelalive"
                 data-analytics-link-description="DESCUBRE MÁS" data-analytics-link-type="cta"
                 data-analytics-link-component-name="copy">DESCUBRE MÁS</a>
            </p>
          </section>
        </div>
      </div>
    </div>

    <section class="mdp-foundation-copy home-image-section" data-analytics-content-description="designed_to_inspire">
      <p style="background-color: #ffffff; margin-bottom: 0px;"><img alt="" src="https://www.mazdausa.com/siteassets/images/home/may-2019-update/Mazda-Soul-Red-Crystal-Metallic-paint.jpg" height="100%" width="100%"></p>
    </section>

    <FeatureHome media="https://www.mazdausa.com/siteassets/images/home/may-2019-update/5050-vids/2019-mazda3-skyactiv_2_1800x900_1.mp4" style="margin-bottom: 60px" title="TECNOLOGÍA SKYACTIV® DE MAZDA: UN ENFOQUE MÁS INTELIGENTE" text="Cuando los componentes de un sistema se diseñan para que funcionen juntos, ese sistema operará con máxima eficiencia. Esta es la idea simple de la tecnología Skyactiv® de Mazda. Pero la eficiencia no es el único beneficio." position="left"/>
    <FeatureHome style="margin-bottom: 60px" title="UN ESPACIO ACOGEDOR" text="El interior de Mazda representa el vínculo inconfundible entre el conductor y el auto. Cada detalle está diseñado por expertos, cada componente está colocado intuitivamente, lo que crea la sensación de confort envolvente que hace que cada viaje sea una inspiración." />

    <three-blurbs-full-width></three-blurbs-full-width>

    <four-blurbs-section :elements="homeFinalBlurbs.elements"></four-blurbs-section>

<!--TODO: Become this commented code in component-->
<!--    <div class="main-content" role="complementary" aria-label="Full image with text">-->
<!--      <div class="grid-row" style="margin-top: 0px; margin-bottom: 0px;">-->
<!--        <div class="grid-col-medium-12">-->

<!--          <div class="for-mobile mdp-flexiblecontent-lg-bg light-text left-align image-right-align" data-sizes="auto">-->
<!--            <video class="mde-hero__video autoplayJS lazyloaded" playsinline="" autoplay="" preload="auto" loop=""-->
<!--                   muted="" id="video">-->
<!--              <source src="https://mazda-website-solution.s1.umbraco.io/media/13139/build-yours-video.mp4"-->
<!--                      type="video/mp4" codecs="avc1.4D401E, mp4a.40.2">-->
<!--            </video>-->

<!--            <div class="mdp-flexiblecontent-lg-bg&#45;&#45;description">-->
<!--              <div class="mdp-flexiblecontent-lg-bg&#45;&#45;description__container in-view">-->
<!--                <header class="mdp-flexiblecontent-lg-bg__header-pre">-->
<!--                  <h4></h4>-->
<!--                </header>-->
<!--                <header class="mdp-flexiblecontent-lg-bg__header-primary">-->
<!--                  <h4>LET’S BUILD YOURS </h4>-->
<!--                </header>-->
<!--                <div class="mdp-flexiblecontent-lg-bg__copy">-->
<!--                  <p></p>-->
<!--                  <p>-->
<!--                    <span>This is where your dream Mazda takes shape. Configure our cars, see them in different colors and choose one that is truly yours.</span>-->
<!--                  </p>-->
<!--                  <p></p>-->
<!--                </div>-->
<!--                <div class="cta-container video-opener">-->
<!--                  <div class="component-cta">-->
<!--                    <a href="/en/modules/build-your-mazda " class="cta-6 cta" data-analytics-link-description="-->

<!--                                                    Build My Mazda-->




<!--                                            " data-analytics-link-type="cta" data-analytics-link-component-name="lg_bg">-->
<!--                      <div class="cta&#45;&#45;wrapper"><span class="cta-state-0">-->

<!--                                                    Build My Mazda-->




<!--                                            <span class="cta-state-1">-->

<!--                                                    Build My Mazda-->




<!--                                            </span><span class="cta-state-2">-->

<!--                                                    Build My Mazda-->




<!--                                            </span></span></div>-->
<!--                    </a>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


<!--          <div class="for-desktop mdp-flexiblecontent-sm-bg" data-sizes="auto" style=" color:#000000;">-->
<!--            <div class="mdp-flexiblecontent-sm-bg&#45;&#45;description">-->
<!--              <div class="mdp-flexiblecontent-tout__image-container">-->
<!--                <img class="mdp-flexiblecontent-tout__image" style="vertical-align: top;"-->
<!--                     src="https://mazda-website-solution.s1.umbraco.io/media/11305/full_section_image_text_6.jpg"-->
<!--                     alt="">-->

<!--              </div>-->
<!--              <div class="mdp-flexiblecontent-sm-bg&#45;&#45;description__container" style="margin:0 auto;">-->
<!--                <header class="mdp-flexiblecontent-sm-bg__header-pre">-->
<!--                  <h4></h4>-->
<!--                </header>-->
<!--                <header class="mdp-flexiblecontent-sm-bg__header-primary">-->
<!--                  <h4>LET’S BUILD YOURS </h4>-->
<!--                </header>-->
<!--                <div class="mdp-flexiblecontent-sm-bg__copy">-->
<!--                  <p></p>-->
<!--                  <p>-->
<!--                    <span>This is where your dream Mazda takes shape. Configure our cars, see them in different colors and choose one that is truly yours.</span>-->
<!--                  </p>-->
<!--                  <p></p>-->
<!--                </div>-->
<!--                <div class="cta-container video-opener">-->
<!--                  <div class="component-cta">-->
<!--                    <a href="/en/modules/build-your-mazda " class="cta-1 cta" data-analytics-link-description="-->

<!--                                            Build My Mazda-->




<!--                                    " data-analytics-link-type="cta" data-analytics-link-component-name="sm_bg">-->
<!--                      <div class="cta&#45;&#45;wrapper"><span class="cta-state-0">-->

<!--                                            Build My Mazda-->




<!--                                    <span class="cta-state-1">-->

<!--                                            Build My Mazda-->




<!--                                    </span><span class="cta-state-2">-->

<!--                                            Build My Mazda-->




<!--                                    </span></span></div>-->
<!--                    </a>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</template>

<script>
  import ThreeBlurbsFullWidth from '~/components/ThreeBlurbsFullWidth'
  import FourBlurbsSection from '~/components/FourBlurbsSection'
  import SelectAColor from '~/components/SelectAColor'
  import MainSlider from "../components/MainSlider";
  import FeatureHome from "~/components/FeatureHome"
  import TextSection from "@/components/TextSection";

  export default {
    components: {
      TextSection,
      MainSlider,
      ThreeBlurbsFullWidth,
      FourBlurbsSection,
      SelectAColor,
      FeatureHome
    },
    data() {
      return {
        homeFinalBlurbs: {
          elements: [
            {
              imageSrc: 'https://www.mazdausa.com/siteassets/images/home/finddealer-homepage-icon.png',
              title: 'Concesionario',
              text: 'Encuentra tu concesionario Mazda y ponte en contacto hoy',
              buttonText: 'Encuentra el tuyo',
              url: '#'
            },
            {
              imageSrc: 'https://www.mazdausa.com/siteassets/images/home/build-icon-homepage.png',
              title: 'Financiamiento',
              text: 'Revisa como financiar tu nuevo Mazda',
              buttonText: 'Ve las opciones',
              url: '#'
            },
            {
              imageSrc: 'https://www.mazdausa.com/siteassets/images/home/reserve-a-test-drive-icon.png',
              title: 'Alertas de seguridad',
              text: 'Tu auto puede estar afectado, revisa las alertas de seguridad',
              buttonText: 'Revisa las alertas',
              url: '#'
            }
          ]
        }
      }
    },
    async asyncData({ app, route }) {
      let { data: homeData } = await app.$axios.get(`resources/home`);
      return { slides: homeData.slider }
    },
  }
</script>

<style scoped lang="scss">
  .mde-hero__inner {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #101010;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
  }

  .mde-hero, .mde-hero__inner {
    height: calc(100vh - 125px);
  }

  .mde-hero__description {
    margin: 0 auto;
    max-width: 910px;
    min-width: 700px;
    opacity: 1;
    padding: 0 12px;
    position: relative;
    top: 12%;
    width: 70%;
    word-break: break-word;
    z-index: 2;
  }

  .mde-hero__description--pre {
    font-size: 15px;
    font-size: 1.5rem;
    /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
    font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
    letter-spacing: .2em;
    /* text-transform: uppercase; */
    line-height: 23px;
    margin-bottom: 8px;
  }

  .mde-hero__description--pre h4, .mdp-flexiblecontent-tout--divider__header-primary h4, .basic-text-nav__list h3, .the_grades .p-generic-b-c-upp, .component-modal__copy__content > h2 .sub-tittle, .titulo-shop {
    font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
  }

  .mde-hero__description--pre > h1, .mde-hero__description--pre > h2, .mde-hero__description--pre > h3, .mde-hero__description--pre > h4, .mde-hero__description--pre > h5, .mde-hero__description--pre > h6, .mde-hero__description--pre > p {
    font-size: 16px;
    font-size: 1.6rem;
    /* line-height: 23px; */
    letter-spacing: .2em;
    line-height: 1.6;
  }

  .mde-hero__description--title {
    font-size: 25px;
    /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
    font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 37px;
    margin-bottom: 0;
  }

  .mde-hero__description--title {
    font-size: 50px;
    font-size: 5rem;
    line-height: 57px;
  }

  @media (min-width: 768px) {
    .large-h1 {
      margin-bottom: 0.8rem;
    }
  }

  .mde-hero__description--title > h1, .mde-hero__description--title > h2, .mde-hero__description--title > h3, .mde-hero__description--title > h4, .mde-hero__description--title > h5, .mde-hero__description--title > h6, .mde-hero__description--title > p {
    /* font-size: 25px; */
    font-size: 45px;
    line-height: 1.2;
    /* line-height: 30px; */
  }

  .mde-hero__description--title > h1, .mde-hero__description--title > h2, .mde-hero__description--title > h3, .mde-hero__description--title > h4, .mde-hero__description--title > h5, .mde-hero__description--title > h6, .mde-hero__description--title > p {
    /* font-size: 25px; */
    font-size: 45px;
    line-height: 1.2;
    /* line-height: 30px; */
  }

  .mde-hero__description-mobile {
    display: none;
    opacity: 1;
    word-break: break-word;
    z-index: 2;
    font-size: 25px;
    /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
    font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
    letter-spacing: .2em;
    /* text-transform: uppercase; */
    line-height: 37px;
    margin-bottom: 0;
  }

  .mde-hero__footer {
    bottom: 7%;
    position: absolute;
    width: 100%;
  }

  @media screen and (min-width: 960px) {
    .mde-hero__description--title > h1, .mde-hero__description--title > h2, .mde-hero__description--title > h3, .mde-hero__description--title > h4, .mde-hero__description--title > h5, .mde-hero__description--title > h6, .mde-hero__description--title > p {
      font-size: 50px;
      line-height: 50px;
      letter-spacing: .2em;
    }

    .mde-hero__description-mobile {
      font-size: 50px;
      font-size: 5rem;
      line-height: 57px;
    }

    .mde-hero__footer {
      padding: 0;
    }
  }

  .mde-hero__cta-container {
    bottom: 0;
    height: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;

    a {
      width: auto;
    }
  }

  .mde-hero__video-container {
    background-color: #101010;
    bottom: 0;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .mde-hero__video, .mde-hero__video-img {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
  }

  .mde-hero__video-img {
    height: 100%;
    object-fit: cover;
    display: block;
    width: 100%;
  }

  .mdp-flexiblecontent-tout--full-width {
    position: relative;
    width: 100%;

    .tout--description {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 35px 0;
      padding: 0 10%;
      position: relative;
      text-align: center;
    }
  }

  .itf-mobile .container134 a, .itg-fix a {
    color: #101010;
  }

  .gridImgCtn {
    > div {
      > a {
        display: block;
        position: relative;
        width: 100%;
        /* height: 40vh; */
        /* max-height: 40vh; */
        overflow: hidden;
      }
    }
  }

  .mdp-flexiblecontent-tout--full-width__image-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-height: 40vh;
    /* height: 40vh; */
    overflow: hidden;
    position: relative;

    &.center {
      align-items: center;
      background-position: center;
    }
  }

  .mdp-flexiblecontent-tout--full-width__image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: -webkit-transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:hover {
      -webkit-transform: scale(1.07) translateZ(0);
      transform: scale(1.07) translateZ(0);
      transition-timing-function: ease-in-out;
    }
  }

  .mdp-flexiblecontent-tout--full-width__header-primary * {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 4px;
    margin-bottom: 0.4rem;
    letter-spacing: .2em;
  }

  .titulo-container p, .mdp-flexiblecontent-tout--full-width__header-primary h3, .mdp-flexiblecontent-md-bg__header-primary h4 {
    font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
  }

  .mdp-flexiblecontent-tout__header-pre {
    position: relative;
  }

  .img_text_hover > div:hover .cta-3 .cta-state-0 {
    transition: all 300ms, visibility 0s;
    transition-timing-function: cubic-bezier(0.90, 0, 0.07, 1);
    padding-bottom: 1px;
    border-bottom: 2px solid #91172E;
  }

  .img_text_hover > div:hover .cta-3 .cta-state-0 {
    margin-bottom: 3px;
  }

  .aligner {
    width: 100%;
    text-align: center;
    position: relative;
    background: white;
  }

  .second.itf-mobile {
    display: none;
  }

  .component-modal__copy .component-modal__copy__content h2 span.sub-title {
    font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
    font-size: 1.7rem;
  }

  .title_component, #mainTitleText, .title_page, .title-generic-b, .mdp-flexiblecontent-md-bg__header-primary .title-generic {
    font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
    font-weight: normal;
  }

  .mdp-flexiblecontent-tout--divider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 0;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;

    .tout--container {
      height: 100%;
      width: 100%;
    }

    .tout--description {
      margin: 0 auto;
      padding: 0 20px;
    }
  }

  .mdp-flexiblecontent-tout__icon-container--icon {
    height: 10rem;
  }

  .mdp-flexiblecontent-tout__icon-container--icon {
    -ms-interpolation-mode: bicubic;
  }

  .mdp-flexiblecontent-tout--divider__header-primary {
    * {
      font-size: 1.3rem;
      text-transform: capitalize;
      margin-bottom: 15px;
      letter-spacing: .2em;
    }

    h4 {
      text-transform: uppercase;
    }
  }

  .mdp-flexiblecontent-tout--divider__copy {
    * {
      font-size: 1.4rem;
      font-size: 15px;
      margin: 0 auto 20px;
      width: 90%;
    }
  }

  .mdp-flexiblecontent-lg-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* min-height: 560px; */
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.left-align {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      .cta-container {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
    }

    .cta-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;

      .cta {
        margin: 10px 0;

        &:nth-child(1) {
          margin-right: 30px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .image-right-align {
    background-position-x: right;
  }

  .mde-hero__video {
    display: none;
    min-height: 100%;
    max-width: none;
    min-width: 100%;
  }

  .mdp-flexiblecontent-lg-bg--description {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1194px;
    position: relative;
    width: 100%;
  }

  .mdp-flexiblecontent-lg-bg__header-pre * {
    font-size: 17px;
    font-size: 1.7rem;
    /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
    font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 10px;
    line-height: 2;
  }

  .mdp-flexiblecontent-lg-bg.light-text .mdp-flexiblecontent-lg-bg__header-pre *, .mdp-flexiblecontent-lg-bg.light-text .mdp-flexiblecontent-lg-bg__copy p:last-child, .mdp-flexiblecontent-lg-bg.light-text .mdp-flexiblecontent-lg-bg__header-primary *, .mdp-flexiblecontent-lg-bg.light-text .mdp-flexiblecontent-lg-bg--description {
    color: #ffffff !important;
  }

  .mdp-flexiblecontent-lg-bg--description__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    min-width: 389px;
    width: 50%;
    /* opacity: 0; */
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .mdp-flexiblecontent-lg-bg--description__container.in-view, .mdp-flexiblecontent-lg-bg--description__container.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .mdp-flexiblecontent-lg-bg.left-align .mdp-flexiblecontent-lg-bg--description__container {
    max-width: 370px;
  }

  .mdp-flexiblecontent-lg-bg__header-primary {
    margin-bottom: 5px;

    * {
      font-size: 20px;
      font-size: 2rem;
      /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
      font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
      letter-spacing: .2em;
      text-transform: uppercase;
      line-height: 27px;
      margin-bottom: 28px;
    }

    h4 {
      font-family: "MazdaTypeTT-Medium", helvetica, arial, sans-serif;
      font-weight: normal;
      font-size: 21px;
    }
  }

  .mdp-flexiblecontent-lg-bg__copy {
    margin-bottom: 30px;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .mdp-flexiblecontent-sm-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;

    .cta-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;

      .cta {
        margin: 10px 0;

        &:nth-child(1) {
          margin-right: 30px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .mdp-flexiblecontent-sm-bg--description {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    max-width: 1218px;
    padding: 0 24px;
    position: relative;
    width: 100%;
  }

  .mdp-flexiblecontent-tout__image-container {
    overflow: hidden;
    position: relative;
  }

  .mdp-flexiblecontent-tout__image {
    max-width: 100%;
    width: 100%;
    vertical-align: bottom;
    transition: -webkit-transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .mdp-flexiblecontent-sm-bg--description__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 0 -12px;
    max-width: 571px;
    min-width: 365px;
    padding: 30px 0;
    width: 50%;
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .mdp-flexiblecontent-sm-bg__header-pre {
    * {
      font-size: 13px;
      font-size: 1.3rem;
      /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
      font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
      letter-spacing: .2em;
      text-transform: uppercase;
      line-height: 20px;
      margin-bottom: 10px;
      line-height: 2;
    }
  }

  .mdp-flexiblecontent-sm-bg__header-primary {
    margin-bottom: 5px;

    * {
      font-size: 18px;
      font-size: 1.8rem;
      /* font-family: "InterstateBold", helvetica, arial, sans-serif; */
      font-family: "MazdaTypeTT-Bold", helvetica, arial, sans-serif;
      letter-spacing: .2em;
      text-transform: uppercase;
      line-height: 25px;
    }
  }

  .mdp-flexiblecontent-sm-bg__copy {
    margin-bottom: 30px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .mdp-flexiblecontent-tout__row [class*='grid-col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  @media only screen and (orientation: landscape) {
    .mde-hero__video-img.hero-mobile {
      display: none;
    }
  }

  @media screen and (min-width: 993px) {
    .mdp-flexiblecontent-lg-bg {
      height: 100vh;
    }
  }

  @media screen and (min-width: 768px) {
    .mde-hero__video-img {
      display: block;
      width: 100%;
      z-index: -5;
    }

    .mdp-flexiblecontent-tout__row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }

    .mdp-flexiblecontent-tout--full-width__image {
      margin: 0px;
      -webkit-transform: scale(1.0) translateZ(0);
      transform: scale(1.0) translateZ(0);
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      /* -ms-interpolation-mode: nearest-neighbor; */
    }

    .mde-hero__video {
      display: block;
    }

    .mdp-flexiblecontent-lg-bg--description {
      height: 100%;
    }

    .mdp-flexiblecontent-lg-bg.left-align .mdp-flexiblecontent-lg-bg--description__container {
      width: 33.33333333%;
      margin-left: 60px;
    }

    .mdp-flexiblecontent-sm-bg {
      height: 340px;
    }

    .for-desktop {
      display: none;
    }

    .mdp-flexiblecontent-tout__image {
      -webkit-transform: scale(1.01) translateZ(0);
      transform: scale(1.01) translateZ(0);
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;
    }
  }

  .home-call-to-action-section{
    .grid-row{
      margin-top: 24px;
      margin-top: 2.4rem;
      margin-bottom: 20px;
    }

    [class*=grid-col-large], [class*=grid-col-medium], [class*=grid-col-small] {
      padding: 0 12px;
      padding: 0 1.2rem;
    }

    .grid-col-medium-12>.mdp-foundation-copy {
      margin-bottom: 20px;
    }

    h1{
      font-size: 20px;
      font-style: normal;
      line-height: 27px;
      font-weight: bold;
      letter-spacing: 4px;
      text-align: center;
      margin-top: 18px;
      margin-bottom: 28px;
      font-family: 'MazdaTypeTT-Regular';
    }

    p{
      font-size: 16px;
      font-style: normal;
      line-height: 28px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 10px;
    }

    .mdp-foundation-copy a{
      transition: background-color .3s,border-color .3s,color .3s,opacity .3s,-webkit-transform .3s,visibility 0s;
      transition: background-color .3s,border-color .3s,color .3s,opacity .3s,transform .3s,visibility 0s;
      transition-timing-function: cubic-bezier(.445,.05,.55,.95);
      -webkit-font-feature-settings: 'liga' 0,'clig' 0;
      -moz-font-feature-settings: 'liga' 0,'clig' 0;
      font-feature-settings: 'liga' 0,'clig' 0;
      font-size: 13px;
      font-size: 1.3rem;
      border-radius: 3px;
      display: inline-block;
      font-weight: 700;
      letter-spacing: .2em;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased;
      color: #999;
      min-width: 0;
      padding-bottom: 6px;
      position: relative;

      &:hover{
        color: #000;

        &::after{
          background-color: #2b2b2b;
          transform: translateY(-3px);
        }
      }

      &::after{
        transition: background-color .3s,border-color .3s,color .3s,opacity .3s,-webkit-transform .3s,visibility 0s;
        transition: background-color .3s,border-color .3s,color .3s,opacity .3s,transform .3s,visibility 0s;
        transition-timing-function: cubic-bezier(.445,.05,.55,.95);
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        width: 100%;
        background-color: #999;
      }
    }
  }

  .component-modal__copy img, .mdp-foundation-copy img {
    height: auto;
    max-width: 100%;
  }

  .home-image-section{
    margin-bottom: 71px;
  }

  @media all and (max-width: 768px){
    .home-image-section{
      display: none;
    }
  }
</style>
