<template>
  <div>
    <subsidiaries-header></subsidiaries-header>
    <subsidiaries-content :zones="municipalitySelected" :use-carousel="false"></subsidiaries-content>
  </div>
</template>

<script>
  import SubsidiariesHeader from '@/components/concesionarios/SubsidiariesHeader'
  import SubsidiariesContent from '@/components/concesionarios/SubsidiariesContent'
  export default {
    components: {
      SubsidiariesHeader,
      SubsidiariesContent
    },
    async asyncData({ app, store }) {
      let { data } = await app.$axios.get('subsidiaries');
      store.dispatch('subsidiaries/setZones', data.regions);
    },
    computed: {
      municipalitySelected(){
        let slugParams = {
          zone: this.$route.params.zona,
          municipality: this.$route.params.comuna
        };
        return this.$store.getters['subsidiaries/filterByMunicipality'](slugParams);
      }
    },
    watch: {
      municipalitySelected(){
        setTimeout(function () {
          $('.collapsible-header').on('click', function (e) {
            e.preventDefault();
            $(this).closest('.collapsible').find('.collapsible-header').removeClass('active');
            $(this).closest('.collapsible').find('.collapsible-body').removeClass('active');

            $(this).closest('li').find('.collapsible-header').addClass('active');
            $(this).closest('li').find('.collapsible-body').addClass('active');
          });
        }, 100)
      }
    },
    mounted() {
      $('.collapsible-header').on('click', function (e) {
        e.preventDefault();
        $(this).closest('.collapsible').find('.collapsible-header').removeClass('active');
        $(this).closest('.collapsible').find('.collapsible-body').removeClass('active');

        $(this).closest('li').find('.collapsible-header').addClass('active');
        $(this).closest('li').find('.collapsible-body').addClass('active');
      });
    }
  }
</script>

<style lang="scss">

</style>
