<template>
    <div>
        <VideoContainer :video="video" />
        <div class="layout">
            <div class="container " data-analytics-content-description="why_driving_matters">
                <div class="grid-row">
                    <div class="grid-col-medium-8 center">
                        <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                            <p class="subpage-title section-heading" style="text-align: center;"><img title="Icono del espíritu de Mazda" alt="Icono del espíritu de Mazda" src="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-mazdaspirit-intro-icon.jpg" height="42" width="172"></p>
                            <p class="subpage-title section-heading" style="text-align: center;">UNA EXPERIENCIA DE MANEJO SUPERIOR.</p>
                            <p style="text-align: center;">¿Alguna vez has pensado en la forma en que te hace sentir tu auto? ¿Te hace sentir algo? ¿O es sólo un trozo de metal? ¿Es simplemente un medio para llegar de A a B? Creemos que un auto debe despertar emociones. Debe hacer que
                                tu corazón acelere incluso antes de ponerte al volante. Este es nuestro mantra: fabricar autos que hagan que la conducción importe. Es por eso que diseñamos cada Mazda para inspirar, emocionar y, sobre todo, para hacer más
                                alegre tu camino. Esta filosofía guía todo lo que hacemos. Desde la tecnología, hasta el diseño y la seguridad. Cada uno de nuestros autos está diseñado por dedicados artesanos e ingenieros obsesionados con los detalles que
                                desean elevar tu estilo de vida cada vez que te sientas detrás del volante.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="human_spirit_image">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large light-text center-justified center-align lazyloaded" style="background-color: #000000;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=1800 1800w"
                                alt="Historia de Mazda – Fortaleza de espíritu" sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Strength-of-Spirit.jpg?w=1800 1800w">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="light-text container--full-width no-gutter " data-analytics-content-description="strength_of_human_spirit" style="background-color: #000000;">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="light-text container " data-analytics-content-description="One Column Block" style="background-color: #000000;">
                            <div class="grid-row">
                                <div class="grid-col-medium-8 center">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p style="color: #ffffff; text-align: center;"><span class="section-heading">LA FUERZA DEL ESPÍRITU HUMANO</span>&nbsp;</p>
                                        <p style="color: #ffffff; text-align: center;">La ciudad natal de Mazda, Hiroshima, es conocida por su increíble espíritu competitivo. Como un fénix que se levanta, la gente de Hiroshima reconstruyó su ciudad amada desde los cimientos. Esta fuerza es lo que nos
                                            empuja a sobrevivir contra todas las probabilidades. Es lo que nos inspira a ser más ágiles, estratégicos y, sobre todo, creativos. Y finalmente es lo que nos llevó a producir en masa el motor rotativo y ganar las
                                            24 Horas de Le Mans cuando nadie creyó que podíamos. Esta fuerza silenciosa es la que nos impulsa a seguir desafiando el statu quo, todos los días.  </p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="light-text container--full-width no-gutter " data-analytics-content-description="history_in_the_making_copy" style="background-color: #000000;">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="light-text container " data-analytics-content-description="One Column Block" style="background-color: #000000;">
                            <div class="grid-row">
                                <div class="grid-col-medium-12">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p class="section-heading" style="color: #ffffff; text-align: center;">LA HISTORIA DESDE SUS COMIENZOS</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="history_in_the_making_timeline">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--small light-text center-justified center-align lazyloaded" style="background-color: #000000;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_01.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="light-text container--full-width no-gutter " data-analytics-content-description="rotary_engine_copy" style="background-color: #000000;">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="light-text container " data-analytics-content-description="One Column Block" style="background-color: #000000;">
                            <div class="grid-row">
                                <div class="grid-col-medium-8 center">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p style="color: #ffffff; text-align: center;">Se hace historia cuando grandes mentes se unen para alcanzar una tarea<br>que todos creyeron imposible.&nbsp;&nbsp;</p>
                                        <p class="sub-section-heading" style="color: #ffffff; text-align: center;">CREACIÓN DEL MOTOR ROTATIVO DE MAZDA - 1967</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="rotary_engine_timeline">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large light-text center-justified center-align lazyloaded" style="background-color: #000000;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=1800 1800w"
                                alt="Historia de Mazda - Primer motor rotativo" sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Rotary-Engine.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #f5f5f5;" class="mdp-flexiblecontent-tbi mdp-flexiblecontent-tbi--medium mdp-flexiblecontent-tbi--left" data-analytics-content-description="birth_of_rotary_engine">
            <div class="mdp-flexiblecontent-tbi__inner">
                <div class="mdp-flexiblecontent-tbi__content in-view">
                    <div class="mdp-flexiblecontent-tbi__copy">
                        <p class="pre-title-heading" style="margin-bottom: 10px;">MAZDA COSMO SPORT</p>
                        <p class="section-heading" style="margin-bottom: 20px;">EL NACIMIENTO DE NUESTRO MOTOR ROTATIVO&nbsp;</p>
                        <p>Cuando Mazda se dispuso a desarrollar un motor rotativo impecable en 1961, era sólo un sueño inalcanzable para otros fabricantes de automóviles. Nuestros tenaces ingenieros lucharon con una serie de dificultades, como las marcas de
                            vibración en las paredes internas de la carcasa del rotor. Al final, solucionaron las llamadas "marcas de las uñas del diablo" con sellos con infusión de carbono de alta resistencia. El trabajo y dedicación dio sus frutos cuando
                            presentaron con éxito el Cosmo Sport, el primer auto deportivo fabricado con motor rotativo.</p>
                    </div>
                    <div class="mdp-flexiblecontent-tbi__cta-container">
                    </div>
                </div>
                <div class="mdp-flexiblecontent-tbi__image-container">
                    <img class="mdp-flexiblecontent-tbi__image lazyloaded" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Cosmo-Sport.jpg" alt="" src="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-Cosmo-Sport.jpg">
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="rotary_engine_images">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--small center-justified center-align lazyloaded">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cosmo.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="birth_of_miata_timeline">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--small center-justified center-align lazyloaded" style="background-color: #FFFFFF;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_03.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="container " data-analytics-content-description="birth_of_miata_copy">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="container " data-analytics-content-description="One Column Block">
                            <div class="grid-row">
                                <div class="grid-col-medium-8 center">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p style="text-align: center;">Hay algunos autos que simplemente te hacen sonreír.</p>
                                        <p class="sub-section-heading" style="text-align: center;">NACIMIENTO DEL MIATA - 1989</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="birth_of_miata_image">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--medium center-justified center-align lazyloaded">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=1800 1800w"
                                alt="Historia de Mazda – El primer Miata 1989" sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #f5f5f5;" class="mdp-flexiblecontent-tbi mdp-flexiblecontent-tbi--medium mdp-flexiblecontent-tbi--right" data-analytics-content-description="debut_of_roadster">
            <div class="mdp-flexiblecontent-tbi__inner">
                <div class="mdp-flexiblecontent-tbi__content in-view">
                    <div class="mdp-flexiblecontent-tbi__copy">
                        <p class="pre-title-heading" style="margin-bottom: 10px;">MAZDA MX-5 MIATA</p>
                        <p class="section-heading" style="margin-bottom: 20px;">EL DEBUT DEL ICÓNICO CONVERTIBLE</p>
                        <p>Al más puro estilo de Mazda, un apasionado ingeniero se atrevió a ser diferente. Cuando el segmento de los autos deportivos livianos estaba lejos de extinguirse, <span>Kenichi Yamamoto</span> dirigió el desarrollo de la primera generación
                            de Mazda MX-5 Miata. Él y su equipo tenían una misión: construir un auto deportivo liviano que generara puro placer al conducirlo. Nada los detuvo para alcanzar este objetivo, incluso incurrieron en gastos adicionales para lograr
                            la agilidad que deseaban. Al final, todo el esfuerzo valió la pena. Crearon un auto que ahora es el favorito de los fanáticos, y actualmente hay más de un millón de Miatas en la carretera. </p>
                    </div>
                    <div class="mdp-flexiblecontent-tbi__cta-container">
                        <a class="cta-1 cta" href="https://www.mazdaespanol.com/vehicles/2016-mx-5-miata" data-analytics-link-description="CONOCER MÁS" data-analytics-link-type="cta" data-analytics-link-component-name="md_bg">CONOCER MÁS</a> </div>
                </div>
                <div class="mdp-flexiblecontent-tbi__image-container">
                    <img class="mdp-flexiblecontent-tbi__image lazyloaded" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989-iconic-roadster.jpg" alt="" src="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-First-Miata-1989-iconic-roadster.jpg">
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="debut_of_roadster_images">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--small center-justified center-align lazyloaded">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-cars.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="skyactiv_timeline">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--small light-text center-justified center-align lazyloaded" style="background-color: #000000;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-lines_04.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="light-text container--full-width no-gutter " data-analytics-content-description="skyactiv_copy" style="background-color: #000000;">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="container " data-analytics-content-description="One Column Block">
                            <div class="grid-row">
                                <div class="grid-col-medium-12">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p style="color: #ffffff; text-align: center;">Es increíble lo que sucede cuando se combina la eficiencia con el desempeño.</p>
                                        <p class="sub-section-heading" style="color: #ffffff; text-align: center;">TECNOLOGÍA SKYACTIV<sup>®</sup> - DE 2010 AL PRESENTE</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="wholistic_approach_timeline">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large center-justified center-align lazyloaded">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=1800 1800w"
                                alt="Historia de Mazda – El nacimiento de&nbsp;SKYACTIV Technology" sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-birth-of-SKYACTIV-Technology.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #f5f5f5;" class="mdp-flexiblecontent-tbi mdp-flexiblecontent-tbi--medium mdp-flexiblecontent-tbi--left" data-analytics-content-description="wholistic_approach">
            <div class="mdp-flexiblecontent-tbi__inner">
                <div class="mdp-flexiblecontent-tbi__content in-view">
                    <div class="mdp-flexiblecontent-tbi__copy">
                        <p class="pre-title-heading" style="margin-bottom: 10px;">TECNOLOGÍA SKYACTIV<sup>®</sup></p>
                        <p class="section-heading" style="margin-bottom: 20px;">UN ENFOQUE INTEGRAL HACIA LA CONDUCCIÓN&nbsp;</p>
                        <p> Creemos que los autos deben diseñarse para maximizar la dinámica y la eficiencia de conducción: desde la construcción de la carrocería y la tecnología del motor hasta el chasis y la transmisión. Así que desarrollamos nuestra innovadora
                            TECNOLOGÍA SKYACTIV® de Mazda para darte el máximo rendimiento en cada kilómetro, sin comprometer el rendimiento. Este es tan sólo uno de tantos desarrollos de Mazda para facilitar la conducción.</p>
                    </div>
                    <div class="mdp-flexiblecontent-tbi__cta-container">
                        <a class="cta-1 cta" href="https://www.mazdaespanol.com/why-mazda/skyactiv" data-analytics-link-description="CONOCER MÁS" data-analytics-link-type="cta" data-analytics-link-component-name="md_bg">CONOCER MÁS</a> </div>
                </div>
                <div class="mdp-flexiblecontent-tbi__image-container">
                    <img class="mdp-flexiblecontent-tbi__image lazyloaded" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Technology.jpg" alt="" src="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Technology.jpg">
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="wholistic_approach_images">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--small center-justified center-align lazyloaded">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=1800 1800w"
                                alt="Historia de Mazda – Motor SKYACTIV" sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/Mazda-History-SKYACTIV-Engine.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="future_timeline">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--small center-justified center-align lazyloaded">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/whymazda-spirit-lines_01.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="light-text container--full-width no-gutter " data-analytics-content-description="future_copy" id="concept" style="background-color: #000000;">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="light-text container--full-width no-gutter " data-analytics-content-description="One Column Block" style="background-color: #000000;">
                            <div class="grid-row">
                                <div class="grid-col-medium-12">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p style="color: #ffffff; text-align: center;">Damos grandes pasos hacia el futuro, sin olvidar de dónde venimos.</p>
                                        <p class="section-heading sub-section-heading" style="color: #ffffff; text-align: center;">FUTURO</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="future">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--medium center-justified center-align lazyloaded">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision.jpg?w=1800 1800w"
                                alt="Futuro de Mazda – Nuevo prototipo – La visión del RX" sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--small center-justified center-align lazyloaded">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision2.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision2.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision2.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision2.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision2.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision2.jpg?w=1800 1800w"
                                alt="Futuro de Mazda – Nuevo prototipo – La visión del RX" sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-Future-New-Concept-Car-RX-Vision2.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="mde-video-background right-align dark-bg">
            <div class="mde-video-background__inner">
                <div class="mde-video-background__content-container container">
                    <div class="mde-video-background__content-row grid-row">
                        <div class="mde-video-background__content grid-col-medium-4 in-view">
                            <p class="mde-video-background__header">VEHÍCULOS VISION</p>
                            <h3 class="mde-video-background__title">IMAGINAMOS LO IMPENSADO</h3>
                            <div class="mde-video-background__description">
                                <p>Esta es la pregunta que nuestros diseñadores se hacen cuando miran fijamente una página en blanco. Al principio, todo es posible. Tienen el poder de crear verdaderas obras de arte como el Takeri, Shinari o el último prototipo
                                    de Mazda, el RX-VISION. Aunque estos diseños son estrictamente prototipos Vision y no están disponibles para la compra, son una demostración visual de cómo evoluciona KODO de Mazda: "alma en movimiento".
                                </p>
                            </div>
                            <div class="mde-video-background__divider"></div>
                        </div>
                    </div>
                </div>
                <div class="mde-video-background__video-container">
                    <video class="mde-video-background__video lazyloaded" preload="auto" loop="" autoplay="" muted="" data-video="1">
                                                            <source src="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/Mazda-New-Concept-Vehicle-RX-Vision.mp4" type="video/mp4">
                                                        </video>
    
                    <img alt="" class="mde-video-background__img lazyload" data-sizes="auto" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/rx-vision/rx-vision_394x550_mobile_vlp-maintenance.jpg?w={width}" title="">
    
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="explore_lineup">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--small light-text center-justified center-align lazyloaded" style="background-color: #000000;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-view-models.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-view-models.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-view-models.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-view-models.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-view-models.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-view-models.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/whymazda-spirit-view-models.jpg?w=1800 1800w">
    
                        </div>
                        <div class="mdp-flexiblecontent-fwbi__description">
                            <div class="mdp-flexiblecontent-fwbi__description-inner in-view">
                                <header class="mdp-flexiblecontent-fwbi__header-primary">
                                    <h1>
                                        <p style="text-align: center;">EXPLORA TODA LA LÍNEA MAZDA&nbsp;</p>
                                    </h1>
                                </header>
                                <div class="mdp-flexiblecontent-fwbi__copy">
                                    <p style="text-align: center;">Ahora que has visto de dónde venimos, descubre dónde estamos. Conoce más sobre todos los Mazda que tenemos para ofrecer y encuentra el que sea ideal para ti.&nbsp;</p>
                                </div>
                                <div class="cta-container">
                                    <a class="cta-6 cta" href="https://www.mazdaespanol.com/vehicles" data-analytics-link-description="CONOCER MÁS" data-analytics-link-type="cta" data-analytics-link-component-name="sm_bg">CONOCER MÁS</a> </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VideoContainer from '~/components/VideoContainer'
export default {
    components: {
        VideoContainer
    },
    data() {
        return {
            video: {
                title: 'video',
                url: 'https://www.mazdausa.com/siteassets/images/why-mazda/mazda-spirit/mazda-spirit-hero-video-v6-2.mp4'
            }
        }
    },
}
</script>

<style lang="scss" scoped>
[class*=grid-col-].center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 960px) {
    .grid-col-medium-8>.mdp-foundation-copy {
        margin-top: 80px;
    }
}

.mdp-foundation-copy:first-child {
    margin-top: 46px;
}

.mdp-foundation-copy:first-child {
    margin-top: 46px;
}

.mdp-foundation-copy:first-child {
    margin-top: 46px;
}

.layout {
    background-color: #f5f5f5;
}

.container--full-width,
.container--full-width.no-gutter>.grid-row>[class*=grid-col-] {
    margin: 0;
    padding: 0;
}

.mdp-flexiblecontent-fwbi {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--large {
        height: 100vh;
        max-height: 900px;
    }
}

.center-justified {
    text-align: center;
}

.mdp-flexiblecontent-fwbi--large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 560px;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi--large {
        height: 100vh;
        max-height: 900px;
        padding: 50px 15px;
    }
}

.mdp-flexiblecontent-fwbi__media-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    z-index: 1;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi__media-container {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding-bottom: 0;
    }
}

.mdp-flexiblecontent-fwbi__image,
.mdp-flexiblecontent-fwbi__video {
    left: 0;
    position: absolute;
    top: 0;
    font-family: "object-fit: cover; object-position: center;";
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: opacity 1s cubic-bezier(.645, .045, .355, 1);
}

@media screen and (min-width: 960px) {
    .grid-col-medium-8>.mdp-foundation-copy {
        margin-top: 80px;
    }
}

.section-header,
.section-heading {
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.section-header,
.section-header>h1,
.section-header>h2,
.section-header>h3,
.section-header>h4,
.section-header>h5,
.section-header>h6,
.section-header>p,
.section-heading,
.section-heading>h1,
.section-heading>h2,
.section-heading>h3,
.section-heading>h4,
.section-heading>h5,
.section-heading>h6,
.section-heading>p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 25px;
}

.grid-col-medium-12>.mdp-foundation-copy {
    margin-bottom: 20px;
}

.mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__media-container {
    min-height: 120px;
    padding-bottom: 25%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__media-container {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--small {
        height: 340px;
    }
}

.mdp-flexiblecontent-tbi {
    overflow: hidden;
    padding: 0 24px;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--medium {
        height: 725px;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1218px;
    position: relative;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__inner {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
    }
}

.mdp-flexiblecontent-tbi--medium .mdp-flexiblecontent-tbi__content {
    max-width: 370px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--medium .mdp-flexiblecontent-tbi__content {
        width: 31%;
    }
}

.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 900ms cubic-bezier(.25, .46, .45, .94);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), transform 900ms cubic-bezier(.25, .46, .45, .94);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content,
    .mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
        width: 33%;
    }
}

.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content.in-view,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content.rendered,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content.in-view,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image-container {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image-container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 60%;
    }
}

.mdp-flexiblecontent-tbi--medium.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__image-container {
    left: 0;
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--medium.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__image-container {
        left: auto;
        -webkit-transform: none;
        transform: none;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    z-index: 2;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image {
        width: auto;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--medium .mdp-flexiblecontent-tbi__image {
        top: 50%;
        position: absolute;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

.sub-section-header,
.sub-section-heading {
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--medium {
        height: 725px;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--medium.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding: 0;
    }
}

.pre-title-header,
.pre-title-header-grey,
.pre-title-heading,
.pre-title-heading-light-grey {
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 20px;
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__cta-container {
    margin-top: 10px;
}

.mdp-flexiblecontent-tbi .cta {
    margin-right: 10px;
    text-align: center;
}

.mdp-flexiblecontent-tbi--medium .mdp-flexiblecontent-tbi__cta-container a:first-child {
    margin-bottom: 30px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--medium.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__image-container {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        right: auto;
    }
}

.cta-1 {
    background-color: #101010;
    color: #fff;
    white-space: nowrap;
}

.cta-1,
.cta-4,
.cta-6 {
    padding: 15px 18px;
}

.mde-video-background {
    height: 100vh;
    max-height: 900px;
    background-image: -webkit-radial-gradient(-10% 50%, circle farthest-side, #101010 30%, transparent 100%);
}

.mde-video-background.right-align.dark-bg {
    background-image: -webkit-radial-gradient(110% 50%, circle farthest-side, #101010 30%, transparent 100%);
}

.mde-video-background__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: 900px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.mde-video-background__content-container {
    width: 100%;
}

@media screen and (min-width: 960px) {
    .grid-row {
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 768px) {
    .grid-row {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    [class*=grid-col-large],
    [class*=grid-col-medium],
    [class*=grid-col-small] {
        padding: 0 10px;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 960px) {
    [class*=grid-col-large],
    [class*=grid-col-medium],
    [class*=grid-col-small] {
        padding: 0 12px;
        padding: 0 1.2rem;
    }
}

.mde-video-background__content {
    display: block;
    height: auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    text-align: left;
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 900ms cubic-bezier(.25, .46, .45, .94);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), transform 900ms cubic-bezier(.25, .46, .45, .94);
}

.mde-video-background__content.in-view,
.mde-video-background__content.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mde-video-background.dark-bg .mde-video-background__content,
.mde-video-background.dark-bg .mde-video-background__content [class^=cta-3],
.mde-video-background.dark-bg .mde-video-background__content [class^=cta-icon] {
    color: #fff;
}

.mde-video-background.right-align .mde-video-background__content {
    float: right;
}

.mde-video-background__header,
.mde-video-background__title {
    font-weight: 700;
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: .2em;
    margin: 0 0 8px;
    text-align: left;
    text-transform: uppercase;
}

.mde-video-background__title {
    font-size: 20px;
    font-size: 2rem;
    margin: 0 0 22px;
}

.mde-video-background__description {
    font-weight: 400;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 28px;
    margin: 0 0 30px;
    text-align: left;
}

.mde-video-background__divider {
    background-color: #999;
    display: block;
    height: 1px;
    margin: 40px 0 30px;
    opacity: .2;
    width: 100%;
}

.mde-video-background__video-container {
    background-color: #000;
    bottom: 0;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.mde-video-background__video {
    display: none;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

@media screen and (min-width: 960px) {
    .mde-video-background__video {
        display: block;
    }
}

.mde-video-background__img {
    font-family: "object-fit: cover; object-position: center;";
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    display: block;
}

@media screen and (min-width: 960px) {
    .mde-video-background__img {
        display: none;
    }
}

.mdp-flexiblecontent-fwbi__description {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12px;
    position: relative;
    width: 100%;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi__description {
        height: 100%;
    }
}

.mdp-flexiblecontent-fwbi__description {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}

.mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__description {
    max-width: 1218px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi.bottom-align .mdp-flexiblecontent-fwbi__description,
    .mdp-flexiblecontent-fwbi.center-align .mdp-flexiblecontent-fwbi__description,
    .mdp-flexiblecontent-fwbi.top-align .mdp-flexiblecontent-fwbi__description {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
}

.mdp-flexiblecontent-fwbi.light-text .mdp-flexiblecontent-fwbi__description,
.mdp-flexiblecontent-fwbi.light-text .mdp-flexiblecontent-fwbi__header-pre *,
.mdp-flexiblecontent-fwbi.light-text .mdp-flexiblecontent-fwbi__header-primary *,
.mdp-flexiblecontent-fwbi.light-text .mdp-foundation-disclaimer__block {
    color: #fff;
}

.mdp-flexiblecontent-fwbi__description-inner {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 900ms cubic-bezier(.25, .46, .45, .94);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), transform 900ms cubic-bezier(.25, .46, .45, .94);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding: 36px 12px;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi__description-inner {
        margin: 0;
    }
}

.mdp-flexiblecontent-fwbi__description-inner.in-view,
.mdp-flexiblecontent-fwbi__description-inner.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__description-inner {
    max-width: 560px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__description-inner {
        min-width: 365px;
        width: 50%;
    }
}
</style>
