<template>
    <div>
        <VideoContainer :video="video" />
        <div class="layout backgroundMazda">
            <div class="container--full-width no-gutter " data-analytics-content-description="championing_the_driver">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="container " data-analytics-content-description="One Column Block">
                            <div class="grid-row">
                                <div class="grid-col-medium-8 center">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p style="text-align: center;"><img alt="" src="https://www.mazdaespanol.com/img/mazdausa/ES_189291.png" height="50" width="93"></p>
                                        <p class="sub-section-heading" style="text-align: center;">APOYANDO AL CONDUCTOR</p>
                                        <p style="text-align: center;">En Mazda, lo importante es el manejo y cómo te hace sentir. Porque sabemos que conducir es mucho más que el simple hecho de operar un automóvil. Se trata de tocar, sentir. No sólo el auto debe responder perfectamente
                                            a tu maniobra, sino que cada sistema debe ser intuitivo, transmitiendo una sensación de armonía y confianza que eleve tu estilo de vida a través de una experiencia de manejo superior. De eso se trata Mazda.</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" backgroundMazda mdp-flexiblecontent-tbi mdp-flexiblecontent-tbi--large mdp-flexiblecontent-tbi--left" data-analytics-content-description="skyactiv_tech">
            <div class="mdp-flexiblecontent-tbi__inner">
                <div class="mdp-flexiblecontent-tbi__content in-view">
                    <header class="mdp-flexiblecontent-tbi__header-primary">
                        <h1>TECNOLOGÍA SKYACTIV® DE MAZDA</h1>
                    </header>
                    <div class="mdp-flexiblecontent-tbi__copy">
                        <p>En Mazda, lo importante es el manejo y cómo te hace sentir. Porque sabemos que conducir es mucho más que el simple hecho de operar un automóvil. Se trata de tocar, sentir. No sólo el auto debe responder perfectamente a tu maniobra,
                            sino que cada sistema debe ser intuitivo, transmitiendo una sensación de armonía y confianza que eleve tu estilo de vida a través de una experiencia de manejo superior. De eso se trata Mazda.</p>
                    </div>
                    <div class="mdp-flexiblecontent-tbi__cta-container">
                        <a class="cta-1 cta" href="https://www.mazdaespanol.com/why-mazda/skyactiv" data-analytics-link-description="CONOCER MÁS" data-analytics-link-type="cta" data-analytics-link-component-name="lg_bg">CONOCER MÁS</a> </div>
                </div>
                <div class="mdp-flexiblecontent-tbi__image-container">
                    <img class="mdp-flexiblecontent-tbi__image lazyloaded" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-skyactiv.jpg" alt="" src="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-skyactiv.jpg">
                </div>
            </div>
        </div>
        <div class="mdp-flexiblecontent-5050 mdp-flexiblecontent-5050--left light-text" style="background-color: #000000;" data-analytics-content-description="Apple CarPlay Integration">
            <div class="mdp-flexiblecontent-5050__media-container">
                <img alt="MAZDA CX-9 2019 – Apple CarPlay e integración con Android Auto" class="mdp-flexiblecontent-5050__image lazyloaded" data-sizes="(max-width: 959px) 100vw, 50vw" data-srcset="https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=320 320w, https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=480 480w, https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=767 767w, https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=960 960w, https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=1800 1800w"
                    title="MAZDA CX-9 2019 – Apple CarPlay e integración con Android Auto" sizes="(max-width: 959px) 100vw, 50vw" srcset="https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=320 320w, https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=480 480w, https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=767 767w, https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=960 960w, https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/vehicles/2019/cx-9/vlp/feature-categories/updates/2019-Mazda-CX-9-Apple-CarPlay-Android-Auto-integration.jpg?w=1800 1800w">
            </div>
            <div class="mdp-flexiblecontent-5050__content-container">
                <div class="mdp-flexiblecontent-5050__content in-view">
    
                    <header class="mdp-flexiblecontent-5050__header-primary">
                        <h2></h2>
                    </header>
                    <div class="mdp-flexiblecontent-5050__copy">
                        <p class="section-heading" style="color: #ffffff; text-align: left; margin-bottom: 20px;">TU MUNDO TE ACOMPAÑA</p>
                        <p style="color: #ffffff; text-align: left; margin-bottom: 20px;">Presentamos el paso siguiente en conectividad. Para los modelos Mazda 2014 en adelante, que estén equipados con el sistema de información y entretenimiento Mazda Connect™, ahora Mazda se integra con Apple CarPlay™
                            <sup class="mdp-foundation-disclaimer" data-disc-link="1" data-analytics-link-description="1" data-analytics-link-type="disclaimer" data-analytics-link-component-name="50_50_right">1</sup> que te permite acceder a los mapas, listas
                            de reproducción, contactos y aplicaciones compatibles con tu voz a través de Siri, quien también leerá los mensajes de texto entrantes y te permitirá responder sin quitar las manos del volante. Para los usuarios de Android, también
                            se encuentra disponible la integración con Android Auto™<sup class="mdp-foundation-disclaimer" data-disc-link="1" data-analytics-link-description="1" data-analytics-link-type="disclaimer" data-analytics-link-component-name="50_50_right">1</sup>.
                            Experimenta lo mejor en conectividad móvil mientras estás completamente concentrado en la conducción.</p>
                    </div>
                    <div class="mdp-flexiblecontent-5050__ctas">
                        <a class="cta-6 cta" href="https://www.mazdaespanol.com/vehicles" data-analytics-link-description="EXPLORA VEHÍCULOS" data-analytics-link-type="cta" data-analytics-link-component-name="50_50_right">EXPLORA VEHÍCULOS</a> </div>
                </div>
            </div>
        </div>
        <section class="mdp-foundation-copy mazda-type" data-analytics-content-description="Content Block">
            <p style="font-size: 12px; color: #ffffff; background-color: #000000; text-align: center; padding-top: 5px; padding-bottom: 5px; margin-bottom: 0px;">Se muestra Apple CarPlay™.</p>
        </section>
        <div class="backgroundMazda layout">
            <div class="container--full-width no-gutter " data-analytics-content-description="skyactiv_dynamics">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="container " data-analytics-content-description="One Column Block">
                            <div class="grid-row">
                                <div class="grid-col-medium-8 center">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p class="section-heading" style="text-align: center; margin-bottom: 20px;">SKYACTIV-VEHICLE DYNAMICS</p>
                                        <p style="text-align: center; margin-bottom: 20px;">La tecnología dinámica de Mazda, SKYACTIV-VEHICLE DYNAMICS con G-Vectoring Control, ayuda a lograr un andar más suave y menos cansador para ti y los pasajeros. Es un sistema de control de movimiento del vehículo altamente
                                            eficiente que funciona en segundo plano durante un manejo más potente. Al doblar, el sistema funciona perfectamente ajustando la potencia y repartiendo el peso del auto al empezar a girar y en toda la curva. El
                                            efecto es sutil, pero cómo te sientes después de un gran viaje no lo es. ¿Por qué llegamos hasta acá? Porque creemos que ningún detalle es demasiado pequeño cuando se trata de mejorar la conducción.</p>
                                        <p style="text-align: center;"><a class="cta-1 cta" href="https://www.mazdaespanol.com/why-mazda/skyactiv-vehicle-dynamics" data-analytics-link-description="CONOCER MÁS" data-analytics-link-type="cta" data-analytics-link-component-name="copy">CONOCER MÁS</a></p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdp-flexiblecontent-vid-hero" data-analytics-content-description="driving_confidence_image">
            <div class="mdp-flexiblecontent-vid-hero__description" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; transition: all 800ms ease 0s;">
            </div>
            <div class="cta--container" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; transition: all 800ms ease 0s;">
            </div>
            <div class="mdp-flexiblecontent-vid-hero__chevron hide" style="pointer-events: auto; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; transition: all 800ms ease 0s;" data-analytics-link-description="down" data-analytics-link-type="arrow" data-analytics-link-component-name="hero_bg_video">
                <svg class="mdp-flexiblecontent-vid-hero__chevron--svg" viewBox="0 0 500 500" x="0px" y="0px">
                                        <g class="chevron-cont">
                                            <circle class="chevron-cont__circle" cx="250" cy="250" r="240"></circle>
                                            <polyline class="chevron-cont__arrow" points="310,200 250,260 190,200"></polyline>
                                        </g>
                                    </svg>
            </div>
            <div class="mdp-flexiblecontent-vid-hero__video-cont">
                <video class="mdp-flexiblecontent-vid-hero__video lazyloaded" preload="auto" muted="" loop="" data-video="1">
                                            <source src="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-skyactiv-vehicle-dynamics.mp4" type="video/mp4">
                                        </video>
    
                <img alt="" class="mdp-flexiblecontent-vid-hero__img lazyload" data-sizes="auto" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-mobile-skyactiv-vehicle-dynamics.jpg?w={width}" title="">
    
            </div>
        </div>
        <div class="layout">
            <div class="light-text container--full-width no-gutter " data-analytics-content-description="iactivesense" style="background-color: #000000;">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="container " data-analytics-content-description="One Column Block">
                            <div class="grid-row">
                                <div class="grid-col-medium-8 center">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p class="pre-title-heading" style="color: #ffffff; text-align: center; margin-bottom: 10px;">CONFIANZA AL CONDUCIR</p>
                                        <p class="section-heading" style="color: #ffffff; text-align: center; margin-bottom: 20px;">i-ACTIVSENSE<sup>®</sup></p>
                                        <p style="color: #ffffff; text-align: center;">i-ACTIVSENSE® es el nombre del conjunto de tecnologías de seguridad avanzadas disponibles de Mazda. Con un enfoque activo en la seguridad, i-ACTIVSENSE usa radares de miliondas y cámaras para mantenerte en sintonía
                                            con tu entorno, mientras te concentras en la carretera. Obtén la máxima confianza y disfruta conducir con estos sistemas disponibles que trabajan por ti constantemente para alertarte sobre posibles peligros.
                                        </p>
                                        <p style="text-align: center;"><a class="cta-6 cta" style="margin-bottom: 0px;" href="https://www.mazdaespanol.com/why-mazda/safety" data-analytics-link-description="CONOCER MÁS" data-analytics-link-type="cta" data-analytics-link-component-name="copy">CONOCER MÁS</a></p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="iactivesense_image">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large center-justified center-align lazyloaded">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-driving-confidence.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="mdp-flexiblecontent-tbi mdp-flexiblecontent-tbi--large mdp-flexiblecontent-tbi--left" style="background-color: #FFFFFF;" data-analytics-content-description="iactiv_awd">
            <div class="mdp-flexiblecontent-tbi__inner">
                <div class="mdp-flexiblecontent-tbi__content in-view">
                    <header class="mdp-flexiblecontent-tbi__header-primary">
                        <h1>i-ACTIV AWD®</h1>
                    </header>
                    <div class="mdp-flexiblecontent-tbi__copy">
                        <p>Nuestro sistema predictivo i-ACTIV AWD® ofrece tracción y confianza en todo tipo de carreteras y en cualquier tipo de clima. Cuando está equipado, se utiliza la información de varios puntos de datos de medición de las condiciones de
                            la carretera y las formas de conducción para predecir la necesidad de tracción en las cuatro ruedas y ajustar el suministro de potencia de acuerdo a eso. </p>
                    </div>
                    <div class="mdp-flexiblecontent-tbi__cta-container">
                    </div>
                </div>
                <div class="mdp-flexiblecontent-tbi__image-container">
                    <img class="mdp-flexiblecontent-tbi__image lazyloaded" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-iactive-awd.png" alt="" src="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-iactive-awd.png">
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="container--full-width no-gutter " data-analytics-content-description="epa_copy" style="background-color: #FFFFFF;">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="container " data-analytics-content-description="One Column Block">
                            <div class="grid-row">
                                <div class="grid-col-medium-8 center">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p class="section-heading" style="text-align: center;"><span>Innovación impulsada por el medio ambiente</span></p>
                                        <p style="text-align: center;">Nuestra misión para forjar una conexión más cercana entre el auto y el conductor no debe surgir a expensas del hermoso planeta al que todos estamos conectados. El impacto ambiental es siempre una prioridad. Por eso,
                                            estamos orgullosos de que en enero de 2018, por quinto año consecutivo (2012-2016), Mazda haya logrado mayor eficiencia de combustible que cualquier otro fabricante automotriz de acuerdo a la Agencia de Protección
                                            Ambiental de los Estados Unidos.<sup class="mdp-foundation-disclaimer" data-disc-link="2" data-analytics-link-description="2" data-analytics-link-type="disclaimer" data-analytics-link-component-name="copy">2</sup></p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="epa_image">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large center-justified center-align lazyloaded">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation_environmental.jpg?w=1800 1800w">
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="layout" style="margin-top: -10px;">
            <div class="light-text container--full-width no-gutter " data-analytics-content-description="ieloop" style="background-color: #000000;">
                <div class="grid-row">
                    <div class="grid-col-medium-12">
                        <div class="container " data-analytics-content-description="One Column Block">
                            <div class="grid-row">
                                <div class="grid-col-medium-8 center">
                                    <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                                        <p class="pre-title-heading" style="color: #ffffff; text-align: center; margin-bottom: 10px;">CAPTURA LA ENERGÍA</p>
                                        <p class="section-heading" style="color: #ffffff; text-align: center; margin-bottom: 10px;">i-ELOOP</p>
                                        <p style="color: #ffffff; text-align: center; margin-bottom: 10px;">Cuando se aplican los frenos, la mayor parte de ese impulso hacia adelante o energía cinética, se disipa en forma de calor. En otras palabras, se desperdicia. Disponible en algunos modelos<sup class="mdp-foundation-disclaimer"
                                                data-disc-link="3" data-analytics-link-description="3" data-analytics-link-type="disclaimer" data-analytics-link-component-name="copy">3</sup>, el sistema de regeneración de energía de los frenos i-ELOOP resuelve
                                            este problema convirtiendo en electricidad la energía cinética producida durante la desaceleración del auto. Esta energía se puede utilizar para encender los faros, el control de temperatura, el sistema de audio
                                            o cualquier otro equipo eléctrico, con lo que se reduce el gasto del motor y se mejora el ahorro de combustible.</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdp-flexiblecontent-vid-hero" data-analytics-content-description="ieloop_image">
            <div class="mdp-flexiblecontent-vid-hero__description" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; transition: all 800ms ease 0s;">
            </div>
            <div class="cta--container" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; transition: all 800ms ease 0s;">
            </div>
            <div class="mdp-flexiblecontent-vid-hero__chevron hide" style="pointer-events: auto; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1; transition: all 800ms ease 0s;" data-analytics-link-description="down" data-analytics-link-type="arrow" data-analytics-link-component-name="hero_bg_video">
                <svg class="mdp-flexiblecontent-vid-hero__chevron--svg" viewBox="0 0 500 500" x="0px" y="0px">
                        <g class="chevron-cont">
                            <circle class="chevron-cont__circle" cx="250" cy="250" r="240"></circle>
                            <polyline class="chevron-cont__arrow" points="310,200 250,260 190,200"></polyline>
                        </g>
                    </svg>
            </div>
            <div class="mdp-flexiblecontent-vid-hero__video-cont">
                <video autoplay class="mdp-flexiblecontent-vid-hero__video lazyloaded" preload="auto" muted="" loop="" data-video="2">
                            <source src="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/braking_ieloop.mp4" type="video/mp4">
                        </video>
    
                <img alt="" class="mdp-flexiblecontent-vid-hero__img lazyload" data-sizes="auto" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-mobile-innovation-ieloop.jpg?w={width}" title="">
    
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="connected">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large light-text left-align lazyloaded" style="background-color: #000000;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/innovation/whymazda-innovation-connected-to-the-road.jpg?w=1800 1800w">
    
                        </div>
                        <div class="mdp-flexiblecontent-fwbi__description">
                            <div class="mdp-flexiblecontent-fwbi__description-inner in-view">
                                <header class="mdp-flexiblecontent-fwbi__header-primary">
                                    <h1>CONECTADO CON LA CARRETERA Y CON EL MUNDO</h1>
                                </header>
                                <div class="mdp-flexiblecontent-fwbi__copy">
                                    <p>Fomentar un vínculo entre el auto y el conductor es una tarea que va más allá de la dinámica de conducción. En el mundo hiperconectado actual, los autos se han convertido en herramientas de comunicación. Es otra oportunidad
                                        para Mazda de mejorar la experiencia al volante. MAZDA CONNECT™ es nuestra interfaz de próxima generación que te permite acceder a la información que necesitas y al entretenimiento que disfrutas.<sup class="mdp-foundation-disclaimer"
                                            data-disc-link="4" data-analytics-link-description="4" data-analytics-link-type="disclaimer" data-analytics-link-component-name="lg_bg">4</sup></p>
                                </div>
                                <div class="cta-container">
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="container--full-width no-gutter " data-analytics-content-description="divider_block">
                <div class="grid-row mdp-flexiblecontent-tout__row mdp-flexiblecontent-tout__row--full-width">
                    <div class="grid-col-medium-6 first-child">
                        <div class="mdp-flexiblecontent-tout mdp-flexiblecontent-tout--full-width mdp-flexiblecontent-tout--dividers" style="margin-top:0px;" data-opt="{&quot;image&quot;: &quot;/why-mazda/design&quot;, &quot;cta&quot;: &quot;&quot;}" data-analytics-content-description="DESIGN">
                            <div class="mdp-flexiblecontent-tout__image-container">
                                <div class="mdp-flexiblecontent-tout__image lazyloaded" data-image-url="" style="background-image: url(https://www.mazdaespanol.com/siteassets/images/why-mazda/innovation/2-column-touts/whymazda-innovation-2columntout-design.jpg?w=767)">
                                    <picture style="display: none;">
                                        <source sizes="(min-width: 768px) 50vw, 100vw" data-srcset="/siteassets/images/why-mazda/innovation/2-column-touts/whymazda-innovation-2columntout-design.jpg?w=480 480w, /siteassets/images/why-mazda/innovation/2-column-touts/whymazda-innovation-2columntout-design.jpg?w=767 767w"
                                            srcset=""><img alt="" class=" lazyloaded" data-sizes="(min-width: 768px) 50vw, 100vw" sizes="(min-width: 768px) 50vw, 100vw"></picture>
                                </div>
                                <a class="wrap-link" href="/why-mazda/design" data-analytics-link-component-name="divider_block" data-analytics-link-description="DISEÑO" data-analytics-link-type="image"></a></div>
                            <div class="mdp-flexiblecontent-tout__content">
                                <header class="mdp-flexiblecontent-tout__header-primary">
                                    <h3 class="">DISEÑO</h3>
                                    <a class="wrap-link" href="/why-mazda/design" data-analytics-link-component-name="divider_block" data-analytics-link-description="DISEÑO" data-analytics-link-type="image"></a></header>
                                <div class="mdp-flexiblecontent-tout__copy">
                                    <p>Creemos que cada aspecto de un auto debe ser diseñado pensando en el conductor.</p>
                                </div>
                                <div class="cta-container">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col-medium-6 last-child">
                        <div class="mdp-flexiblecontent-tout mdp-flexiblecontent-tout--full-width mdp-flexiblecontent-tout--dividers" style="margin-top:0px;" data-opt="{&quot;image&quot;: &quot;/why-mazda/safety&quot;, &quot;cta&quot;: &quot;&quot;}" data-analytics-content-description="SAFETY">
                            <div class="mdp-flexiblecontent-tout__image-container">
                                <div class="mdp-flexiblecontent-tout__image lazyloaded hover" data-image-url="" style="background-image: url(https://www.mazdaespanol.com/siteassets/images/why-mazda/innovation/2-column-touts/whymazda-innovation-2columntout-safety.png?w=767&quot;);">
                                    <picture style="display: none;">
                                        <source sizes="(min-width: 768px) 50vw, 100vw" data-srcset="" srcset=""><img alt="" class=" lazyloaded" data-sizes="(min-width: 768px) 50vw, 100vw" sizes="(min-width: 768px) 50vw, 100vw"></picture>
                                </div>
                                <a class="wrap-link" href="/why-mazda/safety" data-analytics-link-component-name="divider_block" data-analytics-link-description="SEGURIDAD" data-analytics-link-type="image"></a></div>
                            <div class="mdp-flexiblecontent-tout__content hover">
                                <header class="mdp-flexiblecontent-tout__header-primary">
                                    <h3>SEGURIDAD</h3>
                                    <a class="wrap-link" href="/why-mazda/safety" data-analytics-link-component-name="divider_block" data-analytics-link-description="SEGURIDAD" data-analytics-link-type="image"></a></header>
                                <div class="mdp-flexiblecontent-tout__copy">
                                    <p>Explora nuestro enfoque integral hacia la tecnología de seguridad.</p>
                                </div>
                                <div class="cta-container">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VideoContainer from '~/components/VideoContainer'
export default {
    components: {
        VideoContainer
    },
    data() {
        return {
            video: {
                title: 'title video',
                url: 'https://www.mazdaespanol.com/img/mazdausa/ES_189252.mp4'
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.grid-row {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .grid-row {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 960px) {
    .grid-row {
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 24px;
    }
}

.grid-row .grid-row {
    zoom: 1;
    margin-bottom: 0;
}

.container>.grid-row:first-child,
.grid-row.push-top,
.layout>.grid-row:first-child {
    margin-top: 16px;
    margin-top: 1.6rem;
}

@media screen and (min-width: 768px) {
    .container>.grid-row:first-child,
    .grid-row.push-top,
    .layout>.grid-row:first-child {
        margin-top: 20px;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 960px) {
    .container>.grid-row:first-child,
    .grid-row.push-top,
    .layout>.grid-row:first-child {
        margin-top: 24px;
        margin-top: 2.4rem;
    }
}

.container--full-width.no-gutter>.grid-row .grid-row {
    margin-bottom: 20px;
}

@media screen and (min-width: 960px) {
    .grid-col-medium-8>.mdp-foundation-copy {
        margin-top: 80px;
    }
}

.section-header,
.section-heading {
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.mdp-flexiblecontent-tbi {
    overflow: hidden;
    padding: 0 24px;
    width: 100%;
}

.mdp-flexiblecontent-tbi--large {
    height: 100vh;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large {
        max-height: 900px;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1218px;
    position: relative;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__inner {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
    }
}

.mdp-flexiblecontent-tbi--large .mdp-flexiblecontent-tbi__inner {
    min-width: 992px;
}

.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 900ms cubic-bezier(.25, .46, .45, .94);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), transform 900ms cubic-bezier(.25, .46, .45, .94);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content,
    .mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
        width: 33%;
    }
}

.mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content {
    padding: 54px 0 12px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content {
        padding: 0;
    }
}

.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content.in-view,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content.rendered,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content.in-view,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mdp-flexiblecontent-tbi--large .mdp-flexiblecontent-tbi__header-primary * {
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 28px;
    margin-bottom: 2.8rem;
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image-container {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image-container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 60%;
    }
}

.mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__image-container {
    left: 10%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__image-container {
        left: auto;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    z-index: 2;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image {
        width: auto;
    }
}

.mdp-flexiblecontent-fwbi {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--large {
        height: 100vh;
        max-height: 900px;
    }
}

.center-justified {
    text-align: center;
}

.mdp-flexiblecontent-fwbi--large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 560px;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi--large {
        height: 100vh;
        max-height: 900px;
        padding: 50px 15px;
    }
}

.mdp-flexiblecontent-fwbi__media-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    z-index: 1;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi__media-container {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding-bottom: 0;
    }
}

.mdp-flexiblecontent-fwbi__image,
.mdp-flexiblecontent-fwbi__video {
    left: 0;
    position: absolute;
    top: 0;
    font-family: "object-fit: cover; object-position: center;";
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: opacity 1s cubic-bezier(.645, .045, .355, 1);
}

.mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__media-container {
    min-height: 120px;
    padding-bottom: 25%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__media-container {
        padding-bottom: 0;
    }
}

.mdp-flexiblecontent-fwbi__description {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12px;
    position: relative;
    width: 100%;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi__description {
        height: 100%;
    }
}

.mdp-flexiblecontent-fwbi__description {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}

.mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__description {
    max-width: 1218px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi.bottom-align .mdp-flexiblecontent-fwbi__description,
    .mdp-flexiblecontent-fwbi.center-align .mdp-flexiblecontent-fwbi__description,
    .mdp-flexiblecontent-fwbi.top-align .mdp-flexiblecontent-fwbi__description {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
}

.mdp-flexiblecontent-fwbi__description-inner {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 900ms cubic-bezier(.25, .46, .45, .94);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), transform 900ms cubic-bezier(.25, .46, .45, .94);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding: 36px 12px;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi__description-inner {
        margin: 0;
    }
}

.mdp-flexiblecontent-fwbi__description-inner.in-view,
.mdp-flexiblecontent-fwbi__description-inner.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__description-inner {
    max-width: 560px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__description-inner {
        min-width: 365px;
        width: 50%;
    }
}

.mdp-flexiblecontent-fwbi__copy {
    margin-bottom: 24px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--small {
        height: 340px;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding: 0;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__cta-container {
    margin-top: 10px;
}

.cta-4,
.cta-5,
.cta-6,
.cta-7 {
    min-width: 170px;
}

.cta-1,
.cta-4,
.cta-6 {
    padding: 15px 18px;
}

.cta-6,
.cta-7 {
    color: #000;
    background-color: #fff;
}

.cta-6:hover {
    background-color: #999 !important;
    color: #fff;
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description-inner {
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description-inner {
        min-width: 389px;
        width: 50%;
    }
}

.pre-title-header,
.pre-title-header-grey,
.pre-title-heading,
.pre-title-heading-light-grey {
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 20px;
}

.mdp-flexiblecontent-vid-hero {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: calc(100vh - 125px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: 900px;
    position: relative;
    text-align: center;
}

.mdp-flexiblecontent-vid-hero__description {
    max-width: 60%;
    padding: 0 12px;
    word-break: break-word;
}

.mdp-flexiblecontent-vid-hero__chevron {
    bottom: 3%;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    opacity: 0;
    position: absolute;
    right: 10%;
    transition: all 800ms;
    width: 60px;
    z-index: 2;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.mdp-flexiblecontent-vid-hero__chevron .chevron-cont {
    fill: transparent;
    stroke: #000;
}

.mdp-flexiblecontent-vid-hero__video-cont {
    bottom: 0;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.mdp-flexiblecontent-vid-hero__img,
.mdp-flexiblecontent-vid-hero__video {
    left: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto;
}

.mdp-flexiblecontent-vid-hero__img {
    display: none;
}

.mdp-flexiblecontent-tout__row.mdp-flexiblecontent-tout__row--full-width {
    background-color: #fff;
    padding: 6px 6px 0;
}

.container--full-width.no-gutter>.grid-row {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    [class*=grid-col-large],
    [class*=grid-col-medium],
    [class*=grid-col-small] {
        padding: 0 10px;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 960px) {
    [class*=grid-col-large],
    [class*=grid-col-medium],
    [class*=grid-col-small] {
        padding: 0 12px;
        padding: 0 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-tout__row,
    .mdp-flexiblecontent-tout__row [class*=grid-col-] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.container--full-width,
.container--full-width.no-gutter>.grid-row>[class*=grid-col-] {
    margin: 0;
    padding: 0;
}

.mdp-flexiblecontent-tout {
    border: 1px solid #d5d5d5;
    background-color: #fff;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-tout {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tout {
        margin-bottom: 36px;
    }
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width {
    background-color: inherit;
    border-color: #fff;
    border-style: solid;
    border-width: 6px;
    margin-bottom: 0;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width {
        margin-bottom: 0;
    }
}

.container--full-width>.grid-row:first-child>.grid-col-medium-6>.mdp-flexiblecontent-tout--full-width {
    margin-top: 154px;
    margin-top: 15.4rem;
}

.mdp-flexiblecontent-tout__image-container {
    overflow: hidden;
    position: relative;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image-container {
    max-height: 415px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.mdp-flexiblecontent-tout__image-container::before {
    content: '';
    display: block;
    padding-bottom: 87%;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image-container::before {
    padding-bottom: 95%;
}

.mdp-flexiblecontent-tout__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: -webkit-transform 1.5s cubic-bezier(.25, .46, .45, .94), opacity .5s cubic-bezier(.86, 0, .07, 1);
    transition: transform 1.5s cubic-bezier(.25, .46, .45, .94), opacity .5s cubic-bezier(.86, 0, .07, 1);
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-tout__image {
        -webkit-transform: scale(1.01) translateZ(0);
        transform: scale(1.01) translateZ(0);
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image {
        -webkit-transform: scale(1.01) translateZ(0);
        transform: scale(1.01) translateZ(0);
    }
}

.wrap-link {
    background: 0 0;
    bottom: 0;
    right: 0;
}

.wrap-link {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.grid-col-medium-6 .mdp-flexiblecontent-tout__header-primary * {
    font-size: 18px;
    font-size: 1.8rem;
    padding: 12px 0;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 35px 0;
    padding: 0 10%;
    position: relative;
    text-align: center;
}

.mdp-flexiblecontent-tout__header-primary {
    position: relative;
}

.grid-col-medium-6 .mdp-flexiblecontent-tout__header-primary {
    padding: 0 15px;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__header-primary * {
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 4px;
    margin-bottom: .4rem;
    padding: 0;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__copy {
    color: #999;
    margin: 0 auto;
    max-width: 770px;
}

[class*=grid-col-] .mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__copy {
    border: 0;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .no-touch .mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image.hover,
    .no-touch .mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image:hover {
        -webkit-transform: scale(1.07) translateZ(0);
        transform: scale(1.07) translateZ(0);
    }
}

.backgroundMazda {
    background-color: #f5f5f5;
}

.cta-1:hover {
    background-color: #999;
    color: #fff;
}

.cta-6:hover {
    background-color: #999;
    color: #fff;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image:hover {
    -webkit-transform: scale(1.07) translateZ(0);
    transform: scale(1.07) translateZ(0);
}

.mdp-flexiblecontent-5050 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-5050 {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        max-height: 900px;
    }
}

.mdp-flexiblecontent-5050__media-container {
    max-height: 50vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-5050__media-container {
        max-height: 900px;
        width: 50%;
    }
}

.mdp-flexiblecontent-5050__image,
.mdp-flexiblecontent-5050__video {
    font-family: "object-fit: cover; object-position: center;";
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: opacity 1s cubic-bezier(.645, .045, .355, 1);
}

.mdp-flexiblecontent-5050__content-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 30px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-5050__content-container {
        padding: 50px;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-5050__content-container {
        width: 50%;
    }
}

.mdp-flexiblecontent-5050__content {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 900ms cubic-bezier(.25, .46, .45, .94);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), transform 900ms cubic-bezier(.25, .46, .45, .94);
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-5050__content {
        max-width: 600px;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-5050__content {
        max-width: 470px;
        min-width: 383px;
    }
}

.mdp-flexiblecontent-5050__content.in-view,
.mdp-flexiblecontent-5050__content.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
</style>
