<template>
    <div>
        <VideoContainer :video="video" />
        <div class="layout">
            <div class="container " data-analytics-content-description="skyactiv_copy">
                <div class="grid-row">
                    <div class="grid-col-medium-8 center">
                        <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                            <h2 class="sub-section-heading" style="text-align: center;">UN ENFOQUE MÁS INTELIGENTE PARA MEJORAR LA CONDUCCIÓN</h2>
                            <p style="text-align: center;">Brindar la mejor experiencia en conducción, es tener la máxima eficiencia en combustible pero nunca a costa del desempeño del auto. Para esto, nuestros ingenieros obsesionados con el manejo, encontraron una solución. Se llama TECNOLOGÍA
                                SKYACTIV
                                <sup>®</sup> <sup class="mdp-foundation-disclaimer" data-disc-link="1" data-analytics-link-description="1" data-analytics-link-type="disclaimer" data-analytics-link-component-name="copy">1</sup>.Cada aspecto del auto está diseñado
                                para maximizar la dinámica de manejo y la eficiencia: desde la construcción de la carrocería y la tecnología del motor hasta el chasis y la transmisión. Este diseño inteligente, además, tiene clasificaciones notables de MPG
                                según estimaciones de la EPA, ya que no afecta el desempeño. La TECNOLOGÍA SKYACTIV es solo una de las formas en las que Mazda mejora el manejo.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdp-flexiblecontent-tbi mdp-flexiblecontent-tbi--large mdp-flexiblecontent-tbi--right skyactive-cleaner" style="background-color: #F5F5F5;" data-analytics-content-description="fuel_efficient">
            <div class="mdp-flexiblecontent-tbi__inner">
                <div class="mdp-flexiblecontent-tbi__content in-view">
                    <header class="mdp-flexiblecontent-tbi__header-primary">
                        <h1>MOTORES MÁS LIMPIOS Y EFICIENTES</h1>
                    </header>
                    <div class="mdp-flexiblecontent-tbi__copy">
                        <h3 class="sub-section-heading pre-title-heading">Gasolina Skyactiv®-g</h3>
                        <p>Los motores convencionales de combustión interna solo usan aproximadamente el 30 por ciento de la energía potencial del combustible. Por eso Mazda diseñó un motor más inteligente. Al forzar los límites de la combustión interna, los
                            motores de gasolina SKYACTIV®-G de 2.0L y 2.5L logran una mayor eficiencia de combustible con relaciones de compresión más altas que los motores convencionales. En palabras simples, los motores SKYACTIV® pueden comprimir la mezcla
                            de aire y combustible en los cilindros a un grado extraordinario, y extraer mucha más energía de cada gota de combustible.</p>
                    </div>
                    <div class="mdp-flexiblecontent-tbi__cta-container">
                    </div>
                </div>
                <div class="mdp-flexiblecontent-tbi__image-container">
                    <img class="mdp-flexiblecontent-tbi__image lazyloaded" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/engine-section-4.gif" alt="" src="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/engine-section-4.gif">
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="skyactiv_trans">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large light-text left-align lazyloaded" style="background-color: #566066;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=1800 1800w"
                                sizes="1310px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/transmission-shift-knob-mazda-skyactiv.jpg?w=1800 1800w">
    
                        </div>
                        <div class="mdp-flexiblecontent-fwbi__description">
                            <div class="mdp-flexiblecontent-fwbi__description-inner in-view">
                                <header class="mdp-flexiblecontent-fwbi__header-primary">
                                    <h1>SEGURIDAD EN LA TRANSMISIÓN</h1>
                                </header>
                                <div class="mdp-flexiblecontent-fwbi__copy">
                                    <h4 class="sub-section-heading pre-title-heading">TRANSMISIÓN AUTOMÁTICA SKYACTIV<sup>®</sup> DE 6 VELOCIDADES</h4>
                                    <p>La transmisión automática SKYACTIV®-Drive de 6 velocidades cambia de manera suave y rápida cuando la aceleración es constante. Su avanzado módulo de control garantiza precisión, capacidad de respuesta y eficiencia.</p>
                                    <h4 class="pre-title-heading">TRANSMISIÓN MANUAL SKYACTIV<sup>®</sup>-MT DE 6 VELOCIDADES</h4>
                                    <p>Diseñada para conductores amantes de las marchas manuales, la palanca de cambios de tiro corto de la transmisión manual SKYACTIV®-MT de 6 velocidades está inspirada en el legendario Mazda MX-5 Miata.</p>
                                </div>
                                <div class="cta-container">
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="mdp-flexiblecontent-tbi mdp-flexiblecontent-tbi--large mdp-flexiblecontent-tbi--left" style="background-color: #F5F5F5;" data-analytics-content-description="skyactiv_chassis">
            <div class="mdp-flexiblecontent-tbi__inner">
                <div class="mdp-flexiblecontent-tbi__content in-view">
                    <header class="mdp-flexiblecontent-tbi__header-primary">
                        <h1>CARROCERÍA Y CHASIS MÁS SÓLIDOS Y LIVIANOS</h1>
                    </header>
                    <div class="mdp-flexiblecontent-tbi__copy">
                        <p>La plataforma SKYACTIV®, que consiste en la carrocería y el chasis, es el centro de la experiencia de manejo de Mazda. El chasis logra dos objetivos aparentemente contradictorios al mismo tiempo: agilidad en velocidades bajas y estabilidad
                            en velocidades altas. El armazón incorpora acero de resistencia ultra alta en áreas críticas para que sea más liviano pero más rígido y fuerte.</p>
                    </div>
                    <div class="mdp-flexiblecontent-tbi__cta-container">
                    </div>
                </div>
                <div class="mdp-flexiblecontent-tbi__image-container">
                    <img class="mdp-flexiblecontent-tbi__image lazyloaded" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/chassis-body-mazda-skyactiv.jpg" alt="" src="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/chassis-body-mazda-skyactiv.jpg">
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="MAKE THE BIGGEST IMPACT ON DRIVING">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large light-text text-shadow-dark right-align lazyloaded" style="background-color: #566066;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=1800 1800w"
                                sizes="1310px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel_9_engineers_passion_1800x900.jpg?w=1800 1800w">
    
                        </div>
                        <div class="mdp-flexiblecontent-fwbi__description">
                            <div class="mdp-flexiblecontent-fwbi__description-inner in-view">
                                <header class="mdp-flexiblecontent-fwbi__header-pre">
                                    <h2>PEQUEÑOS DETALLES GENERAN </h2>
                                </header>
                                <header class="mdp-flexiblecontent-fwbi__header-primary">
                                    <h1>GRANDES IMPACTOS EN LA CONDUCCIÓN</h1>
                                </header>
                                <div class="mdp-flexiblecontent-fwbi__copy">
                                    <p>En Mazda nunca nos detenemos cuando se trata de fabricar los mejores autos en cada clase. De hecho, nuestros ingenieros están tan obsesionados en lograr ese objetivo que dedicaron ocho años al desarrollo de la tecnología
                                        más sutil para mejorar el desempeño: SKYACTIV-VEHICLE DYNAMICS con G-Vectoring Control. Un desarrollo que mejora la dinámica del auto en muy poco tiempo brindándole al conductor una sensación de control, confianza y
                                        tranquilidad. Cada viaje ahora es una verdadera experiencia que vale la pena disfrutar.</p>
                                </div>
                                <div class="cta-container">
                                    <a class="cta-6 cta" href="https://www.mazdaespanol.com/why-mazda/skyactiv-vehicle-dynamics" data-analytics-link-description="CONOCER MÁS" data-analytics-link-type="cta" data-analytics-link-component-name="lg_bg">CONOCER MÁS</a>                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="DISCOVER SKYACTIV® TECHNOLOGY">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--small light-text center-justified center-align lazyloaded" style="background-color: #566066;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=1800 1800w"
                                sizes="1380px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/vehicle-lineup-all-vehicles-mazda-skyactiv-2.jpg?w=1800 1800w">
    
                        </div>
                        <div class="mdp-flexiblecontent-fwbi__description">
                            <div class="mdp-flexiblecontent-fwbi__description-inner in-view">
                                <header class="mdp-flexiblecontent-fwbi__header-primary">
                                    <h1>DESCUBRE LA TECNOLOGÍA SKYACTIV®</h1>
                                </header>
                                <div class="cta-container">
                                    <a class="cta-6 cta" href="https://www.mazdaespanol.com/vehicles" data-analytics-link-description="Ver modelos" data-analytics-link-type="cta" data-analytics-link-component-name="sm_bg">Ver modelos</a> </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="layout">
            <div class="container " data-analytics-content-description="One Column Block">
                <div class="grid-row">
                    <div class="grid-col-medium-8 center">
                        <section class="mdp-foundation-copy" data-analytics-content-description="Content Block">
                            <p style="text-align: center;">En Mazda, buscamos constantemente mejorar la conducción. Por eso, desarrollamos una nueva tecnología, SKYACTIV-VEHICLE DYNAMICS con G-Vectoring Control, para lograr un andar más suave y menos cansador para ti y los pasajeros. En
                                las curvas, el sistema funciona perfectamente ajustando la potencia y repartiendo el peso del vehículo al empezar a girar y en toda la curva. El efecto es sutil, pero cómo te sientes después de un gran viaje no lo es. Eleva
                                tu nivel confianza y tu estilo de vida a través de una experiencia de manejo superior. De eso se trata Mazda.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="ENGINEERED<br />WITH YOU IN MIND">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large light-text left-align lazyloaded" style="background-color: #566066;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/panel3_human-centric.jpg?w=1800 1800w">
    
                        </div>
                        <div class="mdp-flexiblecontent-fwbi__description">
                            <div class="mdp-flexiblecontent-fwbi__description-inner in-view">
                                <header class="mdp-flexiblecontent-fwbi__header-pre">
                                    <h2>INGENIERÍA CENTRADA EN LAS PERSONAS</h2>
                                </header>
                                <header class="mdp-flexiblecontent-fwbi__header-primary">
                                    <h1>FABRICADO<br>PENSANDO EN TI</h1>
                                </header>
                                <div class="mdp-flexiblecontent-fwbi__copy">
                                    <p>Para inspirar emociones al momento de conducir cada Mazda, diseñamos con una filosofía de desarrollo centrada en el ser humano. Es así cómo creamos SKYACTIV-VEHICLE DYNAMICS con G-Vectoring Control. En lugar de enfocarnos
                                        en la mecánica de la dinámica del auto, comenzamos nuestro desarrollo con las personas. Realizamos innumerables estudios sobre sus características y conductas para diseñar un auto que funcione en armonía con el conductor.
                                        ¿El resultado? Un auto que se siente como una extensión del cuerpo, con una dirección más precisa, mejor control y menos fatiga.</p>
                                </div>
                                <div class="cta-container">
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="<p class=&quot;p1&quot;>DESIGNED FOR YOUR DRIVER’S INSTINCTS">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large light-text text-shadow-dark right-align lazyloaded" style="background-color: #000000;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/test-panel4.jpg?w=1800 1800w">
    
                        </div>
                        <div class="mdp-flexiblecontent-fwbi__description">
                            <div class="mdp-flexiblecontent-fwbi__description-inner in-view">
                                <header class="mdp-flexiblecontent-fwbi__header-primary">
                                    <h1>
                                        <p class="p1">DISEÑADO PARA TUS INSTINTOS DE CONDUCTOR</p>
                                    </h1>
                                </header>
                                <div class="mdp-flexiblecontent-fwbi__copy">
                                    <p class="p1">La nueva tecnología de Mazda, SKYACTIV-VEHICLE DYNAMICS con G-Vectoring Control, te ayuda a conducir con más precisión al optimizar el control de carga. De la misma forma en que un futbolista perfecciona su forma de golpear
                                        la pelota para que llegue más lejos pero con menos esfuerzo, nuestra tecnología busca la misma eficiencia. En lugar de reforzar la potencia del auto, mejoramos la manera en la que emite fuerza para poder liberar todo
                                        su potencial. Funciona de manera inteligente, no más fuerte, para que sientas toda la ligereza y el control que puedes tener. &nbsp;</p>
                                </div>
                                <div class="cta-container">
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="mde-iactive">
            <div class="mde-iactive__inner">
                <div class="mde-iactive__slide-container" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <div v-for="slide in sliders" class="mde-iactive__slide " :class="{active : slide.active}">
                        <div class="mde-iactive__description">
                            <header class="mde-iactive__description--title">
                                <h4>{{slide.title}}</h4>
                            </header>
                            <div class="mde-iactive__description--copy">
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                        <div class="mde-iactive__image">
                            <img class="lazyautosizes lazyloaded" data-sizes="auto" alt="" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/_0002_m6g_carousel_3.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/_0002_m6g_carousel_3.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/_0002_m6g_carousel_3.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/_0002_m6g_carousel_3.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/_0002_m6g_carousel_3.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/_0002_m6g_carousel_3.jpg?w=1800 1800w"
                                sizes="1110px" :src="slide.img">
                        </div>
                    </div>
                </div>
                <!-- Slide Navigation -->
                <div class="mde-iactive__nav-container active">
                    <div class="mde-iactive__nav-buttons">
                        <div v-for="(slide, index) in sliders" class="mde-iactive__nav-elipse " :class="{active : slide.active}">
                            <a @click="activationSlide(index)" data-slide-index="2" class="mde-iactive__nav-elipse-link" data-analytics-link-description="dot-2" data-analytics-link-type="dot" data-analytics-link-component-name="iactivsense">
                                                                                            &nbsp;
                                                                                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdp-flexiblecontent-tbi mdp-flexiblecontent-tbi--large mdp-flexiblecontent-tbi--right" style="background-color: #F5F5F5;" data-analytics-content-description="ANCIENT TRADITION. MODERN TECHNOLOGY.">
            <div class="mdp-flexiblecontent-tbi__inner">
                <div class="mdp-flexiblecontent-tbi__content in-view">
                    <header class="mdp-flexiblecontent-tbi__header-pre">
                        <h2>JINBA ITTAI</h2>
                    </header>
                    <header class="mdp-flexiblecontent-tbi__header-primary">
                        <h1>TRADICIÓN ANTIGUA. TECNOLOGÍA MODERNA.</h1>
                    </header>
                    <div class="mdp-flexiblecontent-tbi__copy">
                        <p>Cuando nuestros ingenieros crearon SKYACTIV-VEHICLE DYNAMICS con G-Vectoring Control, siguieron la antigua filosofía japonesa del Jinba Ittai o "caballo y jinete como un todo". De igual manera, el objetivo de esta tecnología es crear
                            una armonía perfecta entre el auto y el conductor. Así, cuando manejas no necesitas hacer correcciones constantemente. El auto, como el caballo, entiende tus intenciones. El resultado es una conducción más dinámica, confiable y,
                            lo más importante, más placentera.</p>
                    </div>
                    <div class="mdp-flexiblecontent-tbi__cta-container">
                    </div>
                </div>
                <div class="mdp-flexiblecontent-tbi__image-container">
                    <img class="mdp-flexiblecontent-tbi__image lazyloaded" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/horseandrider-kiki-3.gif" alt="" src="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/horseandrider-kiki-3.gif">
                </div>
            </div>
        </div>
        <div class="container--full-width no-gutter" data-analytics-content-description="<p class=&quot;p1&quot;>MAKE THE BIGGEST IMPACT ON DRIVING">
            <div class="grid-row">
                <div class="grid-col-medium-12">
                    <div class="mdp-flexiblecontent-fwbi mdp-flexiblecontent-fwbi--large light-text text-shadow-dark right-align lazyloaded" style="background-color: #566066;">
                        <div class="mdp-flexiblecontent-fwbi__media-container">
                            <img class="mdp-flexiblecontent-fwbi__image lazyautosizes lazyloaded" data-sizes="auto" data-srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=1800 1800w"
                                sizes="1257px" srcset="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=320 320w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=480 480w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=767 767w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=960 960w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=1280 1280w, https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/p9-v2-gvc.jpg?w=1800 1800w">
    
                        </div>
                        <div class="mdp-flexiblecontent-fwbi__description">
                            <div class="mdp-flexiblecontent-fwbi__description-inner in-view">
                                <header class="mdp-flexiblecontent-fwbi__header-pre">
                                    <h2>
                                        <p class="p1">LOS DETALLES MÁS PEQUEÑOS</p>
                                    </h2>
                                </header>
                                <header class="mdp-flexiblecontent-fwbi__header-primary">
                                    <h1>
                                        <p class="p1">PEQUEÑOS DETALLES GENERAN GRANDES IMPACTOS EN LA CONDUCCIÓN</p>
                                    </h1>
                                </header>
                                <div class="mdp-flexiblecontent-fwbi__copy">
                                    <p>En Mazda nunca nos detenemos cuando se trata de fabricar los mejores autos en cada clase. De hecho, nuestros ingenieros están tan obsesionados en lograr ese objetivo que dedicaron ocho años al desarrollo de la tecnología
                                        más sutil para mejorar el desempeño. SKYACTIV-VEHICLE DYNAMICS con G-Vectoring Control es esa tecnología. Un desarrollo que mejora la dinámica del auto en muy poco tiempo brindándole al conductor una sensación de control,
                                        confianza y tranquilidad. </p>
                                </div>
                                <div class="cta-container">
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="mdp-flexiblecontent-tbi mdp-flexiblecontent-tbi--large mdp-flexiblecontent-tbi--left light-text" style="background-color: #000000;" data-analytics-content-description="MAZDA’S SKYACTIV® TECHNOLOGY">
            <div class="mdp-flexiblecontent-tbi__inner">
                <div class="mdp-flexiblecontent-tbi__content in-view">
                    <header class="mdp-flexiblecontent-tbi__header-primary">
                        <h1>TECNOLOGÍA SKYACTIV® DE MAZDA</h1>
                    </header>
                    <div class="mdp-flexiblecontent-tbi__copy">
                        <p>En Mazda, creemos que nunca tienes que sacrificar rendimiento por eficiencia de combustible. Por eso, diseñamos cada detalle de nuestros vehículos, desde la construcción de la carrocería hasta la tecnología del motor. La llamamos TECNOLOGÍA
                            SKYACTIV® y es otra de las formas en que mojaramos la experiencia de conducir. </p>
                    </div>
                    <div class="mdp-flexiblecontent-tbi__cta-container">
                        <a class="cta-6 cta" href="https://www.mazdaespanol.com/why-mazda/skyactiv" data-analytics-link-description="Conocer más" data-analytics-link-type="cta" data-analytics-link-component-name="lg_bg">Conocer más</a> </div>
                </div>
                <div class="mdp-flexiblecontent-tbi__image-container">
                    <img class="mdp-flexiblecontent-tbi__image lazyloaded" data-src="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/skyactivengine-mde-m6g_black.png" alt="" src="https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/skyactivengine-mde-m6g_black.png">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VideoContainer from '~/components/VideoContainer'
export default {
    components: {
        VideoContainer
    },
    methods: {
        activationSlide(index) {
            this.sliders.map((slide, indexSlide) => {
                if (index == indexSlide) {
                    slide.active = true;
                } else {
                    slide.active = false
                }

            })

        }
    },
    data() {
        return {
            video: {
                title: 'title video',
                url: 'https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv/skyactiv-hero-v2.mp4'
            },
            sliders: [{
                    title: 'EL COMIENZO DEL GIRO',
                    text: 'A medida que el conductor dobla, SKYACTIV-VEHICLE DYNAMICS con G-Vectoring Control mejora la respuesta correspondiente para reducir la torsión del motor y llevar la carga a las ruedas delanteras. ',
                    img: 'https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/_0000_m6g_carousel_1.jpg',
                    active: true
                },
                {
                    title: 'EN MEDIO DEL GIRO',
                    text: 'En este punto, la tecnología detecta la maniobra del conductor. Luego calcula el momento de torsión óptimo del motor y le envía la información rápidamente.',
                    img: 'https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/_0001_m6g_carousel_2.jpg',
                    active: false
                },
                {
                    title: 'FINALIZACIÓN DEL GIRO',
                    text: 'Hacia el final del giro, la tecnología ayuda al conductor a mantener la posición de conducción al recuperar el movimiento de torsión del motor y cambiar la carga a las ruedas traseras. Este proceso ayuda a mejorar la estabilidad general correspondiente.',
                    img: 'https://www.mazdausa.com/siteassets/images/why-mazda/skyactiv-vehicle-dynamics/_0002_m6g_carousel_3.jpg?w=767 ',
                    active: false
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.grid-row {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .grid-row {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 960px) {
    .grid-row {
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 24px;
    }
}

.grid-row .grid-row {
    zoom: 1;
    margin-bottom: 0;
}

.container>.grid-row:first-child,
.grid-row.push-top,
.layout>.grid-row:first-child {
    margin-top: 16px;
    margin-top: 1.6rem;
}

@media screen and (min-width: 768px) {
    .container>.grid-row:first-child,
    .grid-row.push-top,
    .layout>.grid-row:first-child {
        margin-top: 20px;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 960px) {
    .container>.grid-row:first-child,
    .grid-row.push-top,
    .layout>.grid-row:first-child {
        margin-top: 24px;
        margin-top: 2.4rem;
    }
}

.container--full-width.no-gutter>.grid-row .grid-row {
    margin-bottom: 20px;
}

@media screen and (min-width: 960px) {
    .grid-col-medium-8>.mdp-foundation-copy {
        margin-top: 80px;
    }
}

.section-header,
.section-heading {
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.mdp-flexiblecontent-tbi {
    overflow: hidden;
    padding: 0 24px;
    width: 100%;
}

.mdp-flexiblecontent-tbi--large {
    height: 100vh;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large {
        max-height: 900px;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1218px;
    position: relative;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__inner {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
    }
}

.mdp-flexiblecontent-tbi--large .mdp-flexiblecontent-tbi__inner {
    min-width: 992px;
}

.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 900ms cubic-bezier(.25, .46, .45, .94);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), transform 900ms cubic-bezier(.25, .46, .45, .94);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content,
    .mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
        width: 33%;
    }
}

.mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content {
    padding: 54px 0 12px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content {
        padding: 0;
    }
}

.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content.in-view,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content.rendered,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content.in-view,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mdp-flexiblecontent-tbi--large .mdp-flexiblecontent-tbi__header-primary * {
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 28px;
    margin-bottom: 2.8rem;
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image-container {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image-container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 60%;
    }
}

.mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__image-container {
    left: 10%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__image-container {
        left: auto;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    z-index: 2;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image {
        width: auto;
    }
}

.mdp-flexiblecontent-fwbi {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--large {
        max-height: 900px;
    }
}

.center-justified {
    text-align: center;
}

.mdp-flexiblecontent-fwbi--large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi--large {
        height: 100vh;
        max-height: 900px;
        min-height: 0px;
    }
}

.mdp-flexiblecontent-fwbi__media-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    z-index: 1;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi__media-container {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding-bottom: 0;
    }
}

.mdp-flexiblecontent-fwbi__image,
.mdp-flexiblecontent-fwbi__video {
    left: 0;
    position: absolute;
    top: 0;
    font-family: "object-fit: cover; object-position: center;";
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: opacity 1s cubic-bezier(.645, .045, .355, 1);
}

.mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__media-container {
    min-height: 120px;
    padding-bottom: 25%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__media-container {
        padding-bottom: 0;
    }
}

.mdp-flexiblecontent-fwbi__description {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12px;
    position: relative;
    width: 100%;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi__description {
        height: 100%;
    }
}

.mdp-flexiblecontent-fwbi__description {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}

.mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__description {
    max-width: 1218px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi.bottom-align .mdp-flexiblecontent-fwbi__description,
    .mdp-flexiblecontent-fwbi.center-align .mdp-flexiblecontent-fwbi__description,
    .mdp-flexiblecontent-fwbi.top-align .mdp-flexiblecontent-fwbi__description {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
}

.mdp-flexiblecontent-fwbi__description-inner {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 900ms cubic-bezier(.25, .46, .45, .94);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), transform 900ms cubic-bezier(.25, .46, .45, .94);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding: 36px 12px;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi__description-inner {
        margin: 0;
    }
}

.mdp-flexiblecontent-fwbi__description-inner.in-view,
.mdp-flexiblecontent-fwbi__description-inner.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__description-inner {
    max-width: 560px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__description-inner {
        min-width: 365px;
        width: 50%;
    }
}

.mdp-flexiblecontent-fwbi__copy {
    margin-bottom: 24px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--small {
        height: 340px;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding: 0;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__cta-container {
    margin-top: 10px;
}

.cta-4,
.cta-5,
.cta-6,
.cta-7 {
    min-width: 170px;
}

.cta-1,
.cta-4,
.cta-6 {
    padding: 15px 18px;
}

.cta-6,
.cta-7 {
    color: #000;
    background-color: #fff;
}

.cta-6:hover {
    background-color: #999 !important;
    color: #fff;
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description-inner {
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description-inner {
        min-width: 389px;
        width: 50%;
    }
}

.pre-title-header,
.pre-title-header-grey,
.pre-title-heading,
.pre-title-heading-light-grey {
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 20px;
}

.mdp-flexiblecontent-vid-hero {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: calc(100vh - 125px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: 900px;
    position: relative;
    text-align: center;
}

.mdp-flexiblecontent-vid-hero__description {
    max-width: 60%;
    padding: 0 12px;
    word-break: break-word;
}

.mdp-flexiblecontent-vid-hero__chevron {
    bottom: 3%;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    opacity: 0;
    position: absolute;
    right: 10%;
    transition: all 800ms;
    width: 60px;
    z-index: 2;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.mdp-flexiblecontent-vid-hero__chevron .chevron-cont {
    fill: transparent;
    stroke: #000;
}

.mdp-flexiblecontent-vid-hero__video-cont {
    bottom: 0;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.mdp-flexiblecontent-vid-hero__img,
.mdp-flexiblecontent-vid-hero__video {
    left: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto;
}

.mdp-flexiblecontent-vid-hero__img {
    display: none;
}

.mdp-flexiblecontent-tout__row.mdp-flexiblecontent-tout__row--full-width {
    background-color: #fff;
    padding: 6px 6px 0;
}

.container--full-width.no-gutter>.grid-row {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    [class*=grid-col-large],
    [class*=grid-col-medium],
    [class*=grid-col-small] {
        padding: 0 10px;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 960px) {
    [class*=grid-col-large],
    [class*=grid-col-medium],
    [class*=grid-col-small] {
        padding: 0 12px;
        padding: 0 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-tout__row,
    .mdp-flexiblecontent-tout__row [class*=grid-col-] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.container--full-width,
.container--full-width.no-gutter>.grid-row>[class*=grid-col-] {
    margin: 0;
    padding: 0;
}

.mdp-flexiblecontent-tout {
    border: 1px solid #d5d5d5;
    background-color: #fff;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-tout {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tout {
        margin-bottom: 36px;
    }
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width {
    background-color: inherit;
    border-color: #fff;
    border-style: solid;
    border-width: 6px;
    margin-bottom: 0;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width {
        margin-bottom: 0;
    }
}

.container--full-width>.grid-row:first-child>.grid-col-medium-6>.mdp-flexiblecontent-tout--full-width {
    margin-top: 154px;
    margin-top: 15.4rem;
}

.mdp-flexiblecontent-tout__image-container {
    overflow: hidden;
    position: relative;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image-container {
    max-height: 415px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.mdp-flexiblecontent-tout__image-container::before {
    content: '';
    display: block;
    padding-bottom: 87%;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image-container::before {
    padding-bottom: 95%;
}

.mdp-flexiblecontent-tout__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: -webkit-transform 1.5s cubic-bezier(.25, .46, .45, .94), opacity .5s cubic-bezier(.86, 0, .07, 1);
    transition: transform 1.5s cubic-bezier(.25, .46, .45, .94), opacity .5s cubic-bezier(.86, 0, .07, 1);
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-tout__image {
        -webkit-transform: scale(1.01) translateZ(0);
        transform: scale(1.01) translateZ(0);
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image {
        -webkit-transform: scale(1.01) translateZ(0);
        transform: scale(1.01) translateZ(0);
    }
}

.wrap-link {
    background: 0 0;
    bottom: 0;
    right: 0;
}

.wrap-link {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.grid-col-medium-6 .mdp-flexiblecontent-tout__header-primary * {
    font-size: 18px;
    font-size: 1.8rem;
    padding: 12px 0;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 35px 0;
    padding: 0 10%;
    position: relative;
    text-align: center;
}

.mdp-flexiblecontent-tout__header-primary {
    position: relative;
}

.grid-col-medium-6 .mdp-flexiblecontent-tout__header-primary {
    padding: 0 15px;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__header-primary * {
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 4px;
    margin-bottom: .4rem;
    padding: 0;
}

.mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__copy {
    color: #999;
    margin: 0 auto;
    max-width: 770px;
}

[class*=grid-col-] .mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__copy {
    border: 0;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .no-touch .mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image.hover,
    .no-touch .mdp-flexiblecontent-tout.mdp-flexiblecontent-tout--full-width .mdp-flexiblecontent-tout__image:hover {
        -webkit-transform: scale(1.07) translateZ(0);
        transform: scale(1.07) translateZ(0);
    }
}

@media screen and (max-width: 1000px) {
    .mdp-flexiblecontent-tbi--large .mdp-flexiblecontent-tbi__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        min-width: 0;
    }
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi--large {
        min-height: 0px !important;
    }
}

@media ( min-width: 768px) {
    .mdp-flexiblecontent-fwbi__description {}
}

.sub-section-heading,
.sub-section-heading>h1,
.sub-section-heading>h2,
.sub-section-heading>h3,
.sub-section-heading>h4,
.sub-section-heading>h5,
.sub-section-heading>h6,
.sub-section-heading>p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 23px;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi--large {
        height: 100vh;
        max-height: 900px;
    }
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description {
    margin-left: auto !important;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi.left-align .mdp-flexiblecontent-fwbi__description-inner {
        width: 33.3333333333%;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description {
        /* -webkit-box-orient: vertical; */
        /* -webkit-box-direction: normal; */
        -ms-flex-direction: inherit;
        flex-direction: inherit;
    }
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__header-primary * {
    font-size: 20px;
    font-size: 2.4rem;
    line-height: 27px;
    margin-bottom: 28px;
}

.mdp-flexiblecontent-fwbi--large.right-align .mdp-flexiblecontent-fwbi__description-inner {
    max-width: 370px;
}

.mdp-flexiblecontent-fwbi--large.right-align .mdp-flexiblecontent-fwbi__description-inner {
    width: 33.3333333333%;
}

.container--full-width.no-gutter>.grid-row>[class*=grid-col-] {
    margin: 0;
    padding: 0;
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description {
    margin-left: auto !important;
    margin-right: auto;
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1194px;
}

.mdp-flexiblecontent-fwbi--small .mdp-flexiblecontent-fwbi__header-primary * {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 25px;
}

.grid-row {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .grid-row {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 960px) {
    .grid-row {
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 24px;
    }
}

.container>.grid-row:first-child,
.grid-row.push-top,
.layout>.grid-row:first-child {
    margin-top: 16px;
    margin-top: 1.6rem;
}

@media screen and (min-width: 768px) {
    .container>.grid-row:first-child,
    .grid-row.push-top,
    .layout>.grid-row:first-child {
        margin-top: 20px;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 960px) {
    .container>.grid-row:first-child,
    .grid-row.push-top,
    .layout>.grid-row:first-child {
        margin-top: 24px;
        margin-top: 2.4rem;
    }
}

@media screen and (min-width: 960px) {
    [class*=grid-col-large],
    [class*=grid-col-medium],
    [class*=grid-col-small] {
        padding: 0 12px;
        padding: 0 1.2rem;
    }
}

@media screen and (min-width: 960px) {
    .grid-col-medium-8>.mdp-foundation-copy {
        margin-top: 80px;
    }
}

.main-content .layout>.container:first-child>.grid-row>[class*=grid-col]>.mdp-foundation-copy:first-child {
    margin-top: 46px;
}

@media screen and (min-width: 768px) {
    .main-content .layout>.container:first-child>.grid-row>[class*=grid-col]>.mdp-foundation-copy:first-child {
        margin-bottom: 75px;
    }
}

.mdp-flexiblecontent-fwbi {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--large {
        height: 100vh;
        max-height: 900px;
    }
}

.mdp-flexiblecontent-fwbi--large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 560px;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi--large {
        height: 100vh;
        max-height: 900px;
        padding: 50px 15px;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi.left-align,
    .mdp-flexiblecontent-fwbi.right-align {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: inherit;
    }
}

.mdp-flexiblecontent-fwbi--large.left-align,
.mdp-flexiblecontent-fwbi--large.right-align {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.mdp-flexiblecontent-fwbi__media-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
    z-index: 1;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi__media-container {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding-bottom: 0;
    }
}

.mdp-flexiblecontent-fwbi__image,
.mdp-flexiblecontent-fwbi__video {
    left: 0;
    position: absolute;
    top: 0;
    font-family: "object-fit: cover; object-position: center;";
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: opacity 1s cubic-bezier(.645, .045, .355, 1);
}

.mdp-flexiblecontent-fwbi__description {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12px;
    position: relative;
    width: 100%;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi__description {
        height: 100%;
    }
}

.mdp-flexiblecontent-fwbi__description {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 1194px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: inherit;
        flex-direction: inherit;
    }
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description {
    max-width: 1194px;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description {
        height: 100%;
    }
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description {
    margin-left: auto !important;
    margin-right: auto;
}

.mdp-flexiblecontent-fwbi__description-inner {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 900ms cubic-bezier(.25, .46, .45, .94);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), transform 900ms cubic-bezier(.25, .46, .45, .94);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding: 36px 12px;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi__description-inner {
        margin: 0;
    }
}

.mdp-flexiblecontent-fwbi__description-inner.in-view,
.mdp-flexiblecontent-fwbi__description-inner.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description-inner {
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__description-inner {
        min-width: 389px;
        width: 50%;
    }
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-fwbi.left-align .mdp-flexiblecontent-fwbi__description-inner,
    .mdp-flexiblecontent-fwbi.right-align .mdp-flexiblecontent-fwbi__description-inner {
        max-width: 370px;
        width: 33.3333333333%;
    }
}

.mdp-flexiblecontent-fwbi--large.left-align .mdp-flexiblecontent-fwbi__description-inner,
.mdp-flexiblecontent-fwbi--large.right-align .mdp-flexiblecontent-fwbi__description-inner {
    max-width: 370px;
}

@media screen and (min-width: 768px) {
    .mdp-flexiblecontent-fwbi.left-align .mdp-flexiblecontent-fwbi__description-inner {
        width: 33.3333333333%;
    }
}

.mdp-flexiblecontent-fwbi__header-pre * {
    font-size: 13px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    line-height: 2;
}

.mdp-flexiblecontent-fwbi--large .mdp-flexiblecontent-fwbi__header-primary * {
    font-size: 20px;
    font-size: 2rem;
    line-height: 27px;
    margin-bottom: 28px;
}

.mde-iactive {
    min-height: 600px;
    position: relative;
}

@media screen and (min-width: 960px) {
    .mde-iactive {
        height: 100vh;
        max-height: 900px;
    }
}

.mde-iactive__inner,
.mde-iactive__slide,
.mde-iactive__slide-container {
    height: 100%;
    width: 100%;
}

.mde-iactive__inner {
    background-color: #e7e7e7;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    overflow: hidden;
    position: absolute;
    text-align: center;
}

.mde-iactive__slide {
    opacity: 0;
    position: absolute;
}

.mde-iactive__description {
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
    opacity: 0;
    position: relative;
    top: 30px;
    transition: opacity .5s cubic-bezier(.86, 0, .07, 1);
    word-break: break-word;
    z-index: 2;
}

.mde-iactive__description--title>* {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 21px;
    line-height: 2.1rem;
    margin: 23px 100px 17px;
}

.mde-iactive__slide.intro .mde-iactive__description--copy {
    margin-left: 10px;
    margin-right: 10px;
}

.mde-iactive__description--copy>* {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 25px;
    line-height: 2.5rem;
}

mde-iactive__description--copy p,
.mdp-dealer-search.owner-schedule-appt .mdp-dealer-search__interface--dealer-listings .dealer__name>h3 {
    margin-bottom: 0;
}

@media (max-height: 768px) {
    .mde-iactive__image {
        margin-top: 40px;
    }
}

.mde-iactive__image {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: 13%;
    height: 55%;
    margin: 0 auto;
    max-height: 495px;
    max-width: 1170px;
    padding: 0 30px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.mde-iactive__image img {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    max-height: 100%;
    max-width: calc(100% - 60px);
    -o-object-fit: contain;
    object-fit: contain;
    width: auto;
}

.mde-iactive__slide.active {
    opacity: 1;
    z-index: 3;
}

.mde-iactive__nav-container {
    bottom: 45px;
    height: 23px;
    position: absolute;
    text-align: center;
    transition: opacity .3s;
    width: 100%;
    z-index: 5;
}

.mde-iactive__nav-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    width: 100%;
}

.mde-iactive__nav-elipse {
    display: block;
    float: left;
    width: 32px;
}

.mde-iactive__nav-elipse>a {
    background-color: #a0a0a0;
    border: 2px solid #a0a0a0;
    border-radius: 10px;
    display: block;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    outline: 0;
    width: 10px;
}

.mde-iactive__nav-elipse {
    display: block;
    float: left;
    width: 32px;
}

.mde-iactive__nav-elipse.active a {
    background-color: transparent;
    border-color: #000;
    border-radius: 23px;
    height: 23px;
    margin-top: 0;
    width: 23px;
}

.active .mde-iactive__description {
    opacity: 1;
}

.mdp-flexiblecontent-tbi {
    overflow: hidden;
    padding: 0 24px;
    width: 100%;
}

.mdp-flexiblecontent-tbi--large {
    height: 100vh;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large {
        max-height: 900px;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1218px;
    position: relative;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__inner {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
    }
}

.mdp-flexiblecontent-tbi--large .mdp-flexiblecontent-tbi__inner {
    min-width: 992px;
}

.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), -webkit-transform 900ms cubic-bezier(.25, .46, .45, .94);
    transition: opacity 800ms cubic-bezier(.25, .46, .45, .94), transform 900ms cubic-bezier(.25, .46, .45, .94);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content,
    .mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
        width: 33%;
    }
}

.mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 24px 0 12px;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding: 0;
    }
}

.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content.in-view,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--left .mdp-flexiblecontent-tbi__content.rendered,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content.in-view,
.mdp-flexiblecontent-tbi.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__content.rendered {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mdp-flexiblecontent-tbi--large .mdp-flexiblecontent-tbi__header-pre * {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 13px;
}

.mdp-flexiblecontent-tbi--large .mdp-flexiblecontent-tbi__header-primary * {
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 28px;
    margin-bottom: 2.8rem;
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__cta-container {
    margin-top: 10px;
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image-container {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image-container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 60%;
    }
}

.mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__image-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    right: 10%;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi--large.mdp-flexiblecontent-tbi--right .mdp-flexiblecontent-tbi__image-container {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        right: auto;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    z-index: 2;
}

@media screen and (min-width: 960px) {
    .mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__image {
        width: auto;
    }
}

.mdp-flexiblecontent-tbi .mdp-flexiblecontent-tbi__cta-container {
    margin-top: 10px;
}

.cta-1,
.cta-4,
.cta-6 {
    padding: 15px 18px;
}

.cta-6:hover {
    background-color: #999;
    color: #fff;
}
</style>
