<template>
    <div>
        <footer class="main-footer">
            <div>
                <div class="mdp-navigation-footer">
                    <div class="row u-resetRow">
                        <div class="legales">
                            <div @click="toggleLegales" class="view-anchor center"><a class="more"><label>Términos legales</label><img style="margin-left: 5px; width: 14px;"  :style="
                                openModal
                                  ? 'transform: rotate(180deg);'
                                  : 'transform: rotate(0deg);'
                              " src="../../assets/img/arrow-down-white.svg" alt="" srcset=""></a></div>
                            <div class="text" :class="{_close : !openModal, _open : openModal}">
                                <div   v-html="legales.text"  class="text-legales"></div>
                                <!-- <div class="text-legales ver-mas"><a href="/terminos-legales" class="ver-mas">ver más</a></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="container">
                            <a class="mdp-navigation-footer__link-with-icon mdp-navigation-footer__subscribe" href="/keep-me-updated" data-analytics-link-description="subscribe_to_updates" data-analytics-link-type="email" data-analytics-link-component-name="footer">SUBSCRIPCIÓN A ACTUALIZACIONES</a>
                            <hr class="mdp-navigation-footer__divider">
                        </div>
                    </div>
                    <!-- Start: Sub Footer Navigation Block Items -->
                    <div class="grid-row">
                        <div class="container container--bottom-padding">
                            <div class="mdp-navigation-footer__list-container grid-col-medium-4 grid-col-large-2">
                                <p class="header">Herramientas de compras</p>
                                <ul class="mdp-navigation-footer__list">
                                    <li v-for="(tool, index) in footer[0].tools" :key="index">
                                        <a href="/shopping-tools/build-and-price" class="mdp-navigation-footer__list-item--build-and-price" data-analytics-link-description="build_and_price" data-analytics-link-type="nav" data-analytics-link-component-name="footer">
                                          {{ tool.value}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdp-navigation-footer__list-container grid-col-medium-4 grid-col-large-2">
                                <p class="header">Otros Sitios Mazda</p>
                                <ul class="mdp-navigation-footer__list">
                                    <li v-for="(sitio, index) in footer[1].otrosSitios" :key="index">
                                        <a href="http://www.mazda.com/" class="mdp-navigation-footer__list-item--mazda-global" target="_blank" data-analytics-link-description="mazda_global" data-analytics-link-type="nav" data-analytics-link-component-name="footer">
                                          {{ sitio.value}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdp-navigation-footer__list-container grid-col-medium-4 grid-col-large-2">
                                <p class="header">Sobre Nosotros</p>
                                <ul class="mdp-navigation-footer__list">
                                    <li v-for="(a, index) in footer[2].about" :key="index">
                                        <a href="https://autofinance.chase.com/mazda-capital-services/home" class="mdp-navigation-footer__list-item--mazda-capital-services" target="_blank" data-analytics-link-description="mazda_capital_services" data-analytics-link-type="nav" data-analytics-link-component-name="footer">
                                          {{a.value}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdp-navigation-footer__list-container grid-col-medium-4 grid-col-large-2">
                                <p class="header">About</p>
                                <ul class="mdp-navigation-footer__list">
                                    <li v-for="(h, index) in footer[3].help" :key="index">
                                        <a href="/about-mazda/auto-shows" class="mdp-navigation-footer__list-item--auto-shows" data-analytics-link-description="auto_shows" data-analytics-link-type="nav" data-analytics-link-component-name="footer">
                                          {{h.value}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End: Sub Footer Navigation Block Items -->
                    <div class="grid-row">
                        <div class="container">
                            <!-- Start: Social Media Links -->
                            <ul class="mdp-navigation-footer__social-list">
                                <li class="mdp-navigation-footer__social-list-item">
                                    <a href="https://www.facebook.com/MazdaUSA" target="_blank" data-analytics-link-description="social" data-analytics-link-type="social" data-analytics-link-component-name="footer">
                                        <img src="~/assets/img/icon-facebook-gray.svg" alt="" srcset="">
                                      </a>
                                </li>
                                <li class="mdp-navigation-footer__social-list-item">
                                    <a href="https://www.youtube.com/user/mazdausa" target="_blank" data-analytics-link-description="social" data-analytics-link-type="social" data-analytics-link-component-name="footer">
                                        <img src="~/assets/img/icon-youtube-gray.svg" alt="" srcset="">
                                      </a>
                                </li>
                                <li class="mdp-navigation-footer__social-list-item ">
                                    <a href="https://twitter.com/MazdaUSA" target="_blank" data-analytics-link-description="social" data-analytics-link-type="social" data-analytics-link-component-name="footer">
                                        <img src="~/assets/img/icon-twitter-gray.svg" alt="" srcset="">
                                      </a>
                                </li>
                                <li class="mdp-navigation-footer__social-list-item">
                                    <a href="https://www.instagram.com/mazdausa/" target="_blank" data-analytics-link-description="social" data-analytics-link-type="social" data-analytics-link-component-name="footer">
                                        <img src="~/assets/img/icon-instagram-gray.svg" alt="" srcset="">
                                      </a>
                                </li>
                            </ul>
                            <!-- End: Social Media Links -->
                            <!-- Start: Language Links -->
                            <!-- End: Language Links -->
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="container">
                            <hr class="mdp-navigation-footer__divider">
                            <!-- Start: Footer Links -->
                            <ul class="mdp-navigation-footer__terms-list">
                                <li class="mdp-navigation-footer__terms-list-item" data-link="#">
                                    <a href="/site/terms-of-use" data-analytics-link-description="terms_and_conditions" data-analytics-link-type="nav" data-analytics-link-component-name="footer">TERMINOS Y
                                        CONDICIONES</a>
    
                                </li>
                                <li class="mdp-navigation-footer__terms-list-item" data-link="#">
                                    <a href="/site/privacy" data-analytics-link-description="privacy_policy" data-analytics-link-type="nav" data-analytics-link-component-name="footer">PRIVACIDAD</a>
    
                                </li>
                            </ul>
                            <!-- End: Footer Links -->
                            <!-- Start: Footer Copyright -->
                            <div class="mdp-navigation-footer__copyright">
                                <p>©<span class="copyright--year">2019</span> MAZDA CHILE. TODOS LOS DERECHOS RESERVADOS.</p>
                            </div>
                            <!-- End: Footer Copyright -->
    
                        </div>
                    </div>
    
                </div>
            </div>
        </footer>
        <div class="footer--copy">
            <div class="row u-resetRow">
                <div class="col s12">
                    <div class="footer-bottom-bar">
                        <a href=":;" class="footer--copy--logotipo"><img
                                    src="https://www.mazda.cl/wp-content/themes/mazda/img/icon-derco.svg" alt=""></a>
                        <p class="footer--copy--legal">© 2019. Todos los derechos reservados Derco S.A.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            openModal: false,
            legales:[]
        }
    },
    props: {
        footer: {
            default: () => {
                return [{
                        tools: [{
                                value: 'Selección de precios'
                            },
                            {
                                value: 'Busqueda de inventario'
                            },
                            {
                                value: 'Pedir presupuesto'
                            }
                        ]
                    }, {
                        otrosSitios: [{
                                value: 'Mazda Global'
                            },
                            {
                                value: 'Fundación  Mazda'
                            }
                        ],
                    },
                    {
                        about: [{
                                value: 'Auto Show'
                            },
                            {
                                value: 'Mazda New'
                            }
                        ],
                    },
                    {
                        help: [{
                                value: 'Sistemap'
                            },
                            {
                                value: 'Preguntas Frecuentes'
                            }
                        ]
                    }


                ]
            }
        }
    },
    methods: {
        toggleLegales() {
            this.openModal = !this.openModal
        }
    },
    mounted() {
        $('.mdp-navigation-footer__list-container .header').on('click', function() {
            $('.mdp-navigation-footer__list-container').children().removeClass('active');
            $(this).addClass('active');
            $(this).siblings().addClass('active');
        });
        this.$axios.get('resources/legals').then(response => this.legales = response.data)
    }
}
</script>

<style lang="scss" scoped>
.main-footer {
    background-color: #101010;
}

.mdp-navigation-footer {
    background-color: #2b2b2b;
    bottom: 0;
    color: #fff;
    display: block;
    height: auto;
    overflow: hidden;
    width: 100%;
}

.mdp-foundation-disclaimer__links [data-disc-link] {
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .2em;
    border-bottom: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    display: none;
    line-height: 2.5;
    padding: 0 24px;
    text-transform: uppercase;
}

.mdp-foundation-disclaimer__links [data-disc-link=mobile] {
    display: block;
    text-align: center;
}

@media screen and (min-width: 960px) {
    .mdp-foundation-disclaimer__links [data-disc-link=mobile] {
        display: none;
    }
}

.mdp-foundation-disclaimer__links [data-disc-link] .link-text {
    cursor: pointer;
    color: #999;
    transition: color .35s cubic-bezier(.77, 0, .175, 1);
}

.grid-row {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .grid-row {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 960px) {
    .grid-row {
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 24px;
    }
}

.mdp-navigation-footer .grid-row {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.mdp-navigation-footer .container {
    max-width: 1218px;
}

.mdp-navigation-footer__link-with-icon {
    font-size: 11px;
    font-size: 1.1rem;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: 700;
    height: 30px;
    letter-spacing: .2em;
    line-height: 33px;
    padding: 0 10px 0 9px;
    position: relative;
    text-transform: uppercase;
    color: #999;
    transition: color .35s cubic-bezier(.77, 0, .175, 1);
}

.mdp-navigation-footer__subscribe {
    margin: 24px 0;
}

@media screen and (min-width: 768px) {
    .mdp-navigation-footer__subscribe {
        margin-top: 36px;
    }
}

@media screen and (min-width: 960px) {
    .mdp-navigation-footer__subscribe {
        margin-top: 48px;
    }
}

.mdp-navigation-footer__link-with-icon:before {
    content: '\f125';
    font-family: 'standard-icon-font';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mdp-navigation-footer__link-with-icon::before {
    color: #999;
    transition: color .35s cubic-bezier(.77, 0, .175, 1);
    font-size: 20px;
    font-size: 2rem;
    position: relative;
    right: 8px;
    top: 6px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

hr {
    box-sizing: content-box;
    margin: 0 0 30px;
    margin: 0 0 3rem;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    max-width: 100%;
}

.mdp-navigation-footer__divider {
    border-color: #434343;
    margin-bottom: 35px;
    margin-top: 1px;
}

.mdp-navigation-footer__subscribe+.mdp-navigation-footer__divider {
    margin: 0;
}

.mdp-navigation-footer .container {
    max-width: 1218px;
}

.mdp-navigation-footer .container--bottom-padding {
    padding-bottom: 222px;
}

.mdp-navigation-footer__list-container {
    height: inherit;
    padding-top: 35px;
}

.mdp-navigation-footer__list-container.grid-col-large-2 {
    padding-left: 0;
    padding-right: 0;
    width: 21.5%;
}

.mdp-navigation-footer__list-container .header {
    font-size: 16px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    margin: 0;
    text-transform: none;
}

navigation-footer__list-container li {
    font-size: 11px;
    font-size: 1.1rem;
    color: #999;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .2em;
    line-height: 30px;
    text-transform: uppercase;
}

.mdp-navigation-footer__social-list {
    display: block;
    float: left;
    height: 30px;
    margin: 5px 0 0;
    position: relative;
}

.mdp-navigation-footer__social-list-item {
    background-position: center top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 18px;
    margin: 0 12px;
    width: 18px;
}

.mdp-navigation-footer__social-list-item:first-child {
    margin-left: 0;
}

.mdp-navigation-footer__social-list-item>a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.mdp-navigation-footer__language {
    float: right;
    margin-top: -9px;
    position: relative;
}

.mdp-navigation-footer__language-label {
    font-size: 11px;
    font-size: 1.1rem;
    bottom: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 48px;
    letter-spacing: .2em;
    line-height: 48px;
    padding: 0 20px;
    text-align: right;
    text-transform: uppercase;
    z-index: 1;
    color: #999;
    transition: color .35s cubic-bezier(.77, 0, .175, 1);
}

.mdp-navigation-footer__language-label::before {
    color: #999;
    transition: color .35s cubic-bezier(.77, 0, .175, 1);
    font-size: 20px;
    font-size: 2rem;
    position: relative;
    right: 8px;
    top: 6px;
}

.mdp-navigation-footer__language-label:before {
    content: '\f11c';
    font-family: 'standard-icon-font';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mdp-navigation-footer__list-container.grid-col-large-2:nth-child(5) {
    width: 14%;
}

.mdp-navigation-footer__terms-list {
    margin-bottom: 40px;
}

.mdp-navigation-footer__terms-list,
.mdp-navigation-footer__terms-list-item {
    display: block;
    float: left;
    position: relative;
}

.mdp-navigation-footer__terms-list-item {
    font-size: 10px;
    font-size: 1rem;
    color: #999;
    cursor: pointer;
    font-weight: 700;
    height: 18px;
    letter-spacing: .2em;
    line-height: 18px;
    padding: 0 7px;
    text-transform: uppercase;
}

.mdp-navigation-footer__terms-list-item:first-child {
    padding-left: 0;
}

.mdp-navigation-footer__copyright,
.mdp-navigation-footer__terms-list {
    margin-bottom: 40px;
}

.mdp-navigation-footer__copyright>p {
    font-size: 10px;
    font-size: 1rem;
    color: #999;
    display: block;
    float: right;
    font-weight: 700;
    height: 18px;
    letter-spacing: .2em;
    line-height: 18px;
}

.mdp-navigation-footer__terms-list-item--ad-choices {
    padding-left: 30px;
}

.footer--copy {
    background-color: #ce2a30;
    color: #fff;
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1.3em 0;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.footer--copy--logotipo,
.footer--copy--legal {
    font-family: 'robotolight', sans-serif;
    display: inline-block;
    margin: 0 .3em;
    vertical-align: middle;
    position: relative;
}

.mdp-navigation-footer__social-list-item--facebook::before,
.mdp-navigation-footer__social-list-item--googleplus::before,
.mdp-navigation-footer__social-list-item--instagram::before,
.mdp-navigation-footer__social-list-item--pinterest::before,
.mdp-navigation-footer__social-list-item--tumblr::before,
.mdp-navigation-footer__social-list-item--twitter::before,
.mdp-navigation-footer__social-list-item--youtube::before {
    font-size: 20px;
    font-size: 2rem;
    color: #999;
    position: absolute;
    transition: color 300ms;
}

.mdp-navigation-footer__social-list-item--facebook:before,
.mdp-navigation-footer__social-list-item--googleplus:before,
.mdp-navigation-footer__social-list-item--twitter:before,
.mdp-navigation-footer__social-list-item--youtube:before {
    content: '\f110';
    font-family: 'standard-icon-font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mdp-navigation-footer a:hover,
.tout__modal .light-text *,
.tout__modal--full .light-text * {
    color: #fff;
}

@media all and (max-width: 768px) {
    .mdp-navigation-footer .grid-row {
        margin-bottom: 0;
    }
    .mdp-navigation-footer__subscribe {
        width: 100%;
        padding: 0 10px;
        display: block;
    }
    .mdp-navigation-footer__list-container.grid-col-large-2 {
        width: 100%;
        border-bottom: 1px solid #999999;
        padding: 28.5px 10px;
    }
    .mdp-navigation-footer__list-container .header {
        letter-spacing: -0.05px;
        font-size: 16px;
        line-height: 19px;
    }
    .mdp-navigation-footer__list {
        display: none;
        &.active {
            display: block;
        }
    }
    .mdp-navigation-footer__link-with-icon::before {
        right: 0;
        margin-right: 8px;
    }
    .mdp-navigation-footer__subscribe+.mdp-navigation-footer__divider {
        border-color: #999999;
    }
    .mdp-navigation-footer__social-list {
        width: 100%;
        margin: 0;
        height: auto;
        padding: 28.5px 10px;
    }
    .mdp-navigation-footer__divider {
        border-color: #999999;
    }
    .mdp-navigation-footer .container--bottom-padding {
        padding-bottom: 0;
    }
    .mdp-navigation-footer__copyright>p {
        height: auto;
        margin-bottom: 30px;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 2.03px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
    .mdp-navigation-footer__terms-list {
        margin-bottom: 30px;
    }
    .footer-bottom-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .footer--copy--logotipo {
            order: 2;
        }
        .footer--copy--legal {
            font-size: 13px;
            margin-bottom: 6px;
        }
    }
}

.legales {
    width: 100%;
    margin-bottom: 1.5em;
    padding: 15px 20px 10px !important;
    background-color: #121212 !important;
    color: #fff !important;
}

.center,
.center-align {
    text-align: center;
}

.legales .more {
    display: block;
}

.legales .text._open {
    transition: all .4s ease-out;
    overflow: hidden;
    padding: 20px 0;
}

.legales .text._close {
    max-height: 0;
    transition: all .4s ease-out;
    overflow: hidden;
    padding: 0;
}

.text-legales {
    margin-bottom: 10px;
    color: #9e9e9e;
    cursor: default;

}

.legales label {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    
}

.legales .more i {
    display: inline-block;
    font-size: 10px;
    color: #fff;
}
</style>
