<template>
  <div>
    <div class="grid-col-medium-4">
      <h3 class="mazda-models-submenu-column-title">Sedán y Hatchback</h3>
      <div class="mazda-models-sub-menu-colum-inner">
        <div
          v-for="model in modelsByTypes(['sedan', 'hatchback', 'citycar'])"
          class="mazda-models-sub-menu-item diffuminate listing-item unique unique2 myClass"
          data-listing-price="0"
          style="animation-delay: 0s;"
        >
          <a :href="'/auto/'+model.slug" tabindex="1">
            <h4>{{ model.name }}</h4>
            <p>desde {{ model.defaultVersion.minPrice | moneyFormatter('es-CL','CLP','$') }}</p>
            <img
              :alt="'Imagen del ' + model.name "
              class="lazyloaded"
              :src="model.imageModelUrl"
            >
          </a>
        </div>
      </div>
    </div>
    <div class="grid-col-medium-4">
      <h3 class="mazda-models-submenu-column-title">Suv y Van</h3>
      <div class="mazda-models-sub-menu-colum-inner">
        <div
          v-for="model in modelsByTypes(['suv', 'van'])"
          class="mazda-models-sub-menu-item diffuminate listing-item unique unique2 myClass"
          data-listing-price="0"
          style="animation-delay: 0s;"
        >
          <a :href="'/auto/'+model.slug" tabindex="1">
            <h4>{{ model.name }}</h4>
            <p>desde {{ model.defaultVersion.minPrice | moneyFormatter('es-CL','CLP','$') }}</p>
            <img
              :alt="'Imagen del ' + model.name "
              class="lazyloaded"
              :src="model.imageModelUrl"
            >
          </a>
        </div>
      </div>
      <h3 class="mazda-models-submenu-column-title">Sport Wagon</h3>
      <div class="mazda-models-sub-menu-colum-inner">
        <div
          v-for="model in modelsByTypes(['station-wagon'])"
          class="mazda-models-sub-menu-item diffuminate listing-item unique unique2 myClass"
          data-listing-price="0"
          style="animation-delay: 0s;"
        >
          <a :href="'/auto/'+model.slug" tabindex="1">
            <h4>{{ model.name }}</h4>
            <p>desde {{ model.defaultVersion.minPrice | moneyFormatter('es-CL','CLP','$') }}</p>
            <img
              :alt="'Imagen del ' + model.name "
              class="lazyloaded"
              :src="model.imageModelUrl"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="grid-col-medium-4">
      <h3 class="mazda-models-submenu-column-title">Pick up</h3>
      <div class="mazda-models-sub-menu-colum-inner">
        <div
          v-for="model in modelsByTypes(['camioneta', 'comercial'])"
          class="mazda-models-sub-menu-item diffuminate listing-item unique unique2 myClass"
          data-listing-price="0"
          style="animation-delay: 0s;"
        >
          <a :href="'/auto/'+model.slug" tabindex="1">
            <h4>{{ model.name }}</h4>
            <p>desde {{ model.defaultVersion.minPrice | moneyFormatter('es-CL','CLP','$') }}</p>
            <img
              :alt="'Imagen del ' + model.name "
              class="lazyloaded"
              :src="model.imageModelUrl"
            >
          </a>
        </div>
      </div>
      <h3 class="mazda-models-submenu-column-title">Roadster</h3>
      <div class="mazda-models-sub-menu-colum-inner">
        <div
          v-for="model in modelsByTypes(['deportivo'])"
          class="mazda-models-sub-menu-item diffuminate listing-item unique unique2 myClass"
          data-listing-price="0"
          style="animation-delay: 0s;"
        >
          <a :href="'/auto/'+model.slug" tabindex="1">
            <h4>{{ model.name }}</h4>
            <p>desde {{ model.defaultVersion.minPrice | moneyFormatter('es-CL','CLP','$') }}</p>
            <img
              :alt="'Imagen del ' + model.name "
              class="lazyloaded"
              :src="model.imageModelUrl"
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      models: []
    }
  },
  methods: {
    modelsByTypes(types) {
      return this.$store.getters['models/modelsWithCleanCarClasses'].filter(
        m => {
          let matches = m.carClass.filter(t => types.includes(t))
          return matches.length
        }
      )
    }
  },
  created() {
    this.$store.dispatch('models/setModels')
  }
}
</script>

<style>
</style>
