<template>
  <div class="model-sub-header">
    <div class="container">
      <nuxt-link :to="{name: 'auto-model', params: {model: this.$route.params.model}}"><h2 class="model-name">{{model.name}}</h2></nuxt-link>
      <ul class="model-sub-header-menu">
        <li>
          <nuxt-link :to="{name: 'auto-model', params: {model: this.$route.params.model}}">Presentación</nuxt-link>
        </li>
        <li>
          <nuxt-link :to="{name: 'auto-model-versiones', params:{model: this.$route.params.model}}">Versiones</nuxt-link>
        </li>
        <li>
          <nuxt-link :to="{name: 'auto-model-caracteristicas', params:{model: this.$route.params.model}}">Características</nuxt-link>
        </li>
        <li>
          <nuxt-link :to="{name: 'auto-model-galeria', params:{model: this.$route.params.model}}">Galería</nuxt-link>
        </li>
      </ul>
      <div  class="model-sub-header-call-to-actions">
          <a :href="`/auto/${this.$route.params.model}#modelVersionsSection`" class="cta-1 cta" >
          <div class="cta--wrapper">
            <span class="cta-state-0">Cotiza ahora
              <span class="cta-state-1">Cotiza ahora</span>
              <span class="cta-state-2">Cotiza ahora</span>
            </span>
          </div>
          </a>
      </div>
    </div>
  </div>
</template>

<script>

export default {
 mounted(){
  
 },
 computed: {
   model(){
     return this.$store.getters['models/getCurrentModel']
   }
 },
}
</script>

<style scoped lang="scss">
  .model-sub-header{
    background: #ffffff;
    z-index: 10;
    /*position: relative;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #D5D5D5;

    >.container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }

  .model-sub-header-call-to-actions{
    margin-left: auto;
  }

  .model-name{
    margin-bottom: 0;
    color: #000000;
    font-size: 17px;
    line-height: 20px;
    font-family: 'MazdaTypeTT-Medium';
  }

  .model-sub-header-menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li{
      a{
        display: block;
        margin-left: 51.5px;
        color: #999999;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 2.1px;
        font-family: 'MazdaTypeTT-Medium';
        transition: all 0.3s ease;

        &:hover{
          color: #000000;
        }

        &.nuxt-link-exact-active{
          color: #000000;
        }
      }
    }
  }

  .model-sub-header-call-to-actions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -15px;

    a{
      margin-right: 15px;

      .cta--wrapper{
        padding-left: 60px;
        padding-right: 60px;
      }

      &:first-child{
        .cta--wrapper{
          padding-left: 18px;
          padding-right: 18px;
        }
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }
</style>
